@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "daisyui/daisyui.css";

@theme {
  --font-sans: Geist, sans-serif;
  --font-mono: GeistMono, mono;
}

@source "../**/*.{njk,md,html}";

.card figure {
  width: 15rem !important
}

.serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.serif-regular {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.otf') format('otf'),
       url('/fonts/Geist-Regular.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Bold.woff2') format('woff2'),
       url('/fonts/Geist-Bold.otf') format('otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-SemiBold.woff2') format('woff2'),
       url('/fonts/Geist-SemiBold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Light.otf') format('otf'),
       url('/fonts/Geist-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Medium.otf') format('otf'),
       url('/fonts/Geist-Medium.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono-Medium.otf') format('otf'),
       url('/fonts/GeistMono-Medium.woff2') format('woff2');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMono-Regular.otf') format('otf'),
       url('/fonts/GeistMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


.section--bg {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: 100% 0;
  transform: skewY(-2deg);
  overflow: hidden;
}