@tailwind base;

@tailwind components;

@tailwind utilities;

.card figure {
  width: 15rem !important
}

.section--bg {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform-origin: 100% 0;
  transform: skewY(-2deg);
  overflow: hidden;
}