

<div class="relative mt-10 pt-32 pb-32 overflow-hidden">
  <div class="relative">
    <div class="gap-12 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-base-content">
              Engage in meaningful discussions
            </h2>
            <p class="mt-4 text-lg text-base-content text-opacity-80">
              The default interface supports nested threaded conversations{#  with the possibility to "fork" a discussion when the topic veers off from the original one#}. You can also choose which circles can see or reply to your post. 
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="shadow-xl rounded-xl ring-1 ring-black ring-opacity-5 " src="/img/discussion.png" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="gap-12 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="order-last max-w-xl px-4 mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-base-content">
              Create multiple user identities for different purposes
            </h2>
            <p class="mt-4 text-lg text-base-content text-opacity-80">
              Are you somebody who wears many hats? For example you may want to keep your personal life and work identities seperate.
            </p>
            
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="shadow-xl rounded-xl ring-1 ring-black ring-opacity-5 " src="/img/users.png" alt="Customer profile user interface">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="gap-12 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-base-content">
              Organise your contacts in circles for granular privacy and relevancy
            </h2>
            <p class="mt-4 text-lg text-base-content text-opacity-80">
              Maintain privacy and avoid information overload by sharing different content with each of your circles
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="shadow-xl rounded-xl ring-1 ring-black ring-opacity-5 " src="/img/circles2.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>



  <h1 class="mt-4 text-center text-3xl font-extrabold sm:text-4xl">More features</h1>


  <div class="grid grid-cols-1 mt-10 gap-y-4 sm:grid-cols-2 mb-40 md:grid-cols-2 md:gap-12 lg:grid-cols-3 lg:gap-x-12 xl:gap-x-12">
    
    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_1.png" class="h-[250px] w-full rounded-t-lg bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Post statuses, with photos and other media</div>
        <div class="text-sm text-base-content/80">Share your thoughts and moments by posting statuses and long form accompanied by photos or other media. A way to express yourself.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_2.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Define your boundaries and audiences</div>
        <div class="text-sm text-base-content/80">Control who sees and interact with your posts by setting boundaries and selecting specific audiences. Your privacy, your rules.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_3.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Follow people anywhere on the fediverse</div>
        <div class="text-sm text-base-content/80">Expand your network by following users from any federated platform. Stay connected, at your pace.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_4.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Edit your posts</div>
        <div class="text-sm text-base-content/80">Made a typo or want to add more context? Easily edit your posts after publishing.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_5.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Create circles</div>
        <div class="text-sm text-base-content/80">Organize your contacts into circles for more nuanced interactions and permissions. Tailor your social experience</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_6.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Customize themes and behaviours</div>
        <div class="text-sm text-base-content/80">Make Bonfire truly yours by customizing its look and how it behaves. Personalize your digital space.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_7.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Create multiple profiles</div>
        <div class="text-sm text-base-content/80">Manage different aspects of your life with multiple profiles, each with its own settings and circles.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_8.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Sort timelines and threads</div>
        <div class="text-sm text-base-content/80">Arrange posts and conversations in a way that makes the most sense to you. Your feed, your way.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_9.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Switch between nested & flat thread layout</div>
        <div class="text-sm text-base-content/80">Choose how you want to view conversation threads for easier navigation and readability.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_10.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Import your data from another fediverse platform</div>
        <div class="text-sm text-base-content/80">Seamlessly import your data from another federated platform. Make the switch effortlessly.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_11.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Export your data</div>
        <div class="text-sm text-base-content/80">Take control of your data by easily exporting it for backup or migration.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_12.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Share a profile with other users</div>
        <div class="text-sm text-base-content/80">Let others co-manage a profile for collaborative projects or community management.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_13.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Receive updates from any federated platform</div>
        <div class="text-sm text-base-content/80">Stay in the loop with updates from any federated platform, all in one place.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_14.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Collaborate on posts</div>
        <div class="text-sm text-base-content/80">Work together on posts with other users for more dynamic and rich content.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-primary/5 to-primary/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-200">
          <img src="/img/f_15.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Markdown flavoured</div>
        <div class="text-sm text-base-content/80">Utilize Markdown syntax for enhanced text formatting in your posts, making it easier to emphasize points and structure content.</div>
        </div>
      </div>
    </div>


    
  </div>
