  <div class="flex mt-12 items-center place-content-center">
    <div class="badge badge-lg h-[2.5rem] text-xl !border-base-content/30 px-8 badge-outline mx-auto text-center justify-center">Discover</div>
  </div>
  <div class="h-[2px] mt-8  bg-gradient-to-r from-base-content/0 via-base-content/70 to-base-content/0 max-w-screen-md mx-auto"></div>
  <div class="text-4xl font-bold mt-16 text-center">Your entrypoint into the fediverse</div>
  <div class="grid grid-cols-1 mt-20 gap-y-4 mb-40 md:grid-cols-2 md:gap-8 lg:grid-cols-3 lg:gap-x-8 xl:gap-x-8">
    
    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_follow.png" class="h-[240px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Follow users</div>
        <div class="text-base text-base-content/80">Expand your network by following users from any federated platform. Stay connected, at your pace.</div>
        </div>
      </div>
    </div>
    
    <div class="col-span-2 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_network.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />

        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Explore and share all kinds of activities or content</div>
          <div class="text-base text-base-content/80">Events, music, videos, books, and of course simple posts. Share your thoughts and moments by posting updates or long form posts. A solid way to express yourself.</div>
        </div>
      </div>
    </div>
    
    
    <div class="col-span-2 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_circle.png" class="h-[240px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Go beyond 'followers' or 'friends' with circles</div>
        <div class="text-base text-base-content/80">Organize your contacts for more nuanced interactions, to maintain privacy, or avoid information overload. Circles are an attempt to represent the multifaceted relationships you have with people in your life.</div>
        </div>
      </div>
    </div>

    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_moderate.png" class="h-[240px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Moderate your network</div>
        <div class="text-base text-base-content/80">Stay safe with tools for users and moderators to flag and remove problematic content, and silence, ghost, or block users or instances.</div>
        </div>
      </div>
    </div>
  </div>


  <div class="h-[2px] mt-24 bg-gradient-to-r from-base-content/0 via-base-content/70 to-base-content/0 max-w-screen-md mx-auto"></div>
  <div class="text-4xl font-bold mt-16 text-center">Engage in constructive discussions</div>

  <div class="grid grid-cols-1 mt-20 gap-y-4 mb-40 md:grid-cols-2 md:gap-8 lg:grid-cols-3 lg:gap-x-8 xl:gap-x-8">
    <div class="col-span-2 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_composer.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />

        <div class="flex w-full flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">A powerful composer</div>
          <div class="text-base text-base-content/80">Craft compelling posts with fine-tuned control and tell your story effectively.</div>
        </div>
      </div>
    </div>
    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_boundaries.png" class="h-[220px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Set your boundaries</div>
        <div class="text-base text-base-content/80">Use circles to define your audience or control who sees and interact with you and your posts. Your privacy, your rules.</div>
        </div>
      </div>
    </div>
    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_media.png" class="h-[280px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Upload any media</div>
        <div class="text-base text-base-content/80">Enrich your posts with photos or other media. Express yourself fully.</div>
        </div>
      </div>
    </div>
    <div class="col-span-2 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_thread.png" class="h-[280px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Keep track of different threads within one discussion </div>
        <div class="text-base text-base-content/80">Switch between nested or flat layouts. Choose how you want to view conversation threads for easier navigation and readability.</div>
        </div>
      </div>
    </div>

    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_md.png" class="h-[240px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Markdown friendly</div>
        <div class="text-base text-base-content/80">Enhance your posts with rich formatting, making it easier to emphasize points and structure content.</div>
        </div>
      </div>
    </div>

    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_edit.png" class="h-[240px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Edit your posts</div>
        <div class="text-base text-base-content/80">Made a typo or want to add more context? Easily edit your posts after publishing, and engage with transparency and accountability thanks to wiki-style version history. </div>
        </div>
      </div>
    </div>

    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_coll.png" class="h-[240px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Collaborate on posts</div>
        <div class="text-base text-base-content/80">Communication is a team sport: collaborate with your peers, or simply have trusted friends help with spell checking.</div>
        </div>
      </div>
    </div>
  </div>

  <div class="h-[2px] bg-gradient-to-r from-base-content/0 via-base-content/70 to-base-content/0 max-w-screen-md mx-auto"></div>
  <div class="text-4xl font-bold mt-16 text-center">Finetune your experience</div>
<div class="grid grid-cols-1 mt-20 gap-y-4 mb-40 md:grid-cols-2 md:gap-8 lg:grid-cols-3 lg:gap-x-8 xl:gap-x-8">
    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_settings.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />

        <div class="flex w-full flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Change the platform’s behaviours</div>
          <div class="text-base text-base-content/80">Control your experience by customizing how it behaves in granular detail. Override the choices made by designers and developers and even those of your instance admins. </div>
        </div>
      </div>
    </div>
    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_profiles.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Multiple profiles</div>
        <div class="text-base text-base-content/80">You can have several separate profiles linked to the same account, for different online personas or for your organizations or projects.</div>
        </div>
      </div>
    </div>
    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_themes.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Change the look & feel</div>
        <div class="text-base text-base-content/80">Make Bonfire truly yours by changing its look: pick a theme or even creating your own.</div>
        </div>
      </div>
    </div>


    <div class="col-span-3 w-full shadow-lg flex rounded-box bg-base-content/10 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_extensions.png" class="h-[220px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Pick what features you need with extensions</div>
        <div class="text-base text-base-content/80">Bonfire is completely made up of pluggable extensions. They are building blocks which each add pieces of functionality or UI, and are composable with each other. Users can choose which extensions to enable or disable, and instance admins can install new extensions, customise them by forking, or even create entirely new ones. </div>
        </div>
      </div>
    </div>

    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_export.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Export your data</div>
        <div class="text-base text-base-content/80">Your data belongs to you. You are not locked in to using a specific app or instance; you are free to export all your data, and move your identity to a different instance.</div>
        </div>
      </div>
    </div>

    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_import.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Import your data </div>
        <div class="text-base text-base-content/80">You can move your identity and import your data from another instance, whether that instance is running Bonfire, Mastodon, or another fediverse app.</div>
        </div>
      </div>
    </div>

    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_share.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Share a profile with other users</div>
        <div class="text-base text-base-content/80">Create a profile for your organisation or project and sahre access with others on your team.</div>
        </div>
      </div>
    </div>

    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_sort.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Filter and sort feeds and threads</div>
        <div class="text-base text-base-content/80">Read timelines and conversations in a way that makes the most sense to you. It’s your screen after all.</div>
        </div>
      </div>
    </div>

    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_dark.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Dark Patterns</div>
        <div class="text-base text-base-content/80">Enable or disable features like follower or reaction counts or infinite scrolling, which can feed addiction or other behaviours. </div>
        </div>
      </div>
    </div>

    <div class="col-span-1 w-full shadow-lg flex rounded-box bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-box flex-1 flex items-center text-center gap-2 flex-col h-full border-base-content/20 bg-base-200 p-4">

        <img src="/img/f_roles.png" class="h-[250px] w-auto rounded-t-lg bg-center bg-cover mt-4" />
        <div class="flex flex-col gap-3 p-4 pt-0">
          <div class="text-base-content text-xl font-semibold flex flex-row xl:flex-col">Custom roles</div>
        <div class="text-base text-base-content/80">Create and assign custom roles to grant permissions to users and circles, defining what they can view, how they can interact, and any other actions they can take.</div>
        </div>
      </div>
    </div>
  </div>