

<div class="flex flex-col gap-6">

<div class="flex items-center gap-8 ">
  <div class="bg-cover bg-no-repeat h-[180px] w-[180px] min-w-[180px] bg-[url('/img/1a.jpg')]"></div>
  <div class="">
    <h2 class="text-2xl font-bold tracking-wide text-base-content">
      Create public and private groups
    </h2>
    <p class="mt-1  text-base-content/90">
      This feature allows users to form open groups for wide-reaching discussions or private groups for confidential, selective conversations. This flexibility supports both inclusive community engagement and controlled, private interactions.</p>
  </div>
</div>
  
<div class="flex items-center gap-8 ">
  <div class="bg-cover bg-no-repeat h-[180px] w-[180px] min-w-[180px] bg-[url('/img/4a.jpg')]"></div>
  <div class="">
    <h2 class="text-2xl font-bold tracking-wide text-base-content">Organize your discussions in topics</h2>
    <p class="mt-1  text-base-content/90">
      Users can streamline their conversations by creating topics. This functionality allows for the categorization of discussions into distinct topics, fostering focused dialogue and easier navigation through group interactions.</p>
  </div>
</div>



<div class="flex items-center gap-8 ">
  <div class="bg-cover bg-no-repeat h-[180px] w-[180px] min-w-[180px] bg-[url('/img/3a.jpg')]"></div>
  <div class="">
    <h2 class="text-2xl font-bold tracking-wide text-base-content">
      Create and assign custom roles 
    </h2>
    <p class="mt-1  text-base-content/90">
      Users can create and assign multiple roles in groups. This feature allows for personalized management of group dynamics and responsibilities. This flexibility in role assignment enables tailored governance structures within communities, enhancing both organization and user engagement.</p>
  </div>
</div>






</div>
