<div>
  <h2 class="text-3xl font-bold mb-4">Setup a new Open Science Network server</h2>
  <div class="grid grid-cols-4 gap-2">
    <a href="https://docs.bonfirenetworks.org/deploy.html" target="blank" class="link bg-base-content p-2 rounded-lg col-span-4 md:col-span-2 lg:col-span-1">
      <img src="/img/coopcloud1.png" class="w-full"/>
      <div class="text-lg text-base-300 font-semibold mt-2 text-center">Co-op Cloud</div>
    </a>
    <a href="https://docs.bonfirenetworks.org/deploy.html" target="blank" class="bg-base-content p-2 rounded-lg col-span-4 md:col-span-2 lg:col-span-1">
      <img src="/img/docker.png" class="w-full"/>
      <div class="text-lg text-base-300 font-semibold mt-2 text-center">Docker</div>
    </a>
    <a href="https://docs.bonfirenetworks.org/deploy.html" target="blank" class="bg-base-content p-2 rounded-lg col-span-4 md:col-span-2 lg:col-span-1">
      <img src="/img/guix.png" class="w-full"/>
      <div class="text-lg text-base-300 font-semibold mt-2 text-center">GUIX</div>
    </a>
    <a href="https://apps.yunohost.org/app/bonfire" target="blank" class="bg-base-content p-2 rounded-lg col-span-4 md:col-span-2 lg:col-span-1">
      <img src="/img/yunohost.png" class="w-full"/>
      <div class="text-lg text-base-300 font-semibold mt-2 text-center">Yunohost</div>
    </a>
</div>
<div class="bg-base-content/10 p-8 rounded-lg mt-4">
<h3 class="text-2xl">Do you need help with installation?</h3>
<h4 class="text-lg mt-1 text-base-content/80">Contact us for cooperative hosting and support services.</h4>
  <div class="flex items-center mt-6 gap-4">
    <a href="https://cal.com/bonfire-networks/meet" class="btn btn-primary">Book a call</a>
    <a href="mailto:team@bonfire.cafe" class="btn btn-outline border-base-content/30 ">Write as at team@bonfire.cafe</a>
  </div>
</div>
<div class=" mx-auto my-12 px-4 lg:px-0">
   

<div class="flex gap-6 flex-col">

  <h2 class="text-3xl font-bold">What is included</h2>
<div class="mt-4 grid gap-4 grid-cols-1 lg:grid-cols-6 lg:grid-rows-2 sm:mt-4">

  {# Professional identity #}
  <div class="relative lg:col-span-3">
    <div class="absolute inset-0 rounded-lg bg-white dark:bg-gray-800 lg:rounded-tl-4xl max-lg:rounded-t-4xl"></div>
    <div class="flex flex-col h-full overflow-hidden relative rounded-[calc(var(--radius-lg)+1px)] lg:rounded-tl-[calc(2rem+1px)] max-lg:rounded-t-[calc(2rem+1px)]">
      <img alt="" class="h-80 object-cover object-left lazyloaded" data-src="/img/sso.png" height="391" src="/img/sso.png" width="765">
      <div class="pt-4 p-10">
        <svg viewBox="0 0 256 256" class="fill-primary w-7" xmlns="http://www.w3.org/2000/svg" height="32" width="32">
          <path d="M136,32V136a8,8,0,0,1-8,8H80a8,8,0,0,1-8-8V32a8,8,0,0,1,8-8h48A8,8,0,0,1,136,32Z" opacity="0.2"></path>
          <path d="M224,208H203.94A88.05,88.05,0,0,0,144,64.37V32a16,16,0,0,0-16-16H80A16,16,0,0,0,64,32V136a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V80.46A72,72,0,0,1,181.25,208H32a8,8,0,0,0,0,16H224a8,8,0,0,0,0-16Zm-96-72H80V32h48V136ZM72,184a8,8,0,0,1,0-16h64a8,8,0,0,1,0,16Z"></path>
        </svg>
        <p class="mt-2 tracking-tight dark:text-white font-medium text-gray-950 text-lg">Professional identity</p>
        <p class="dark:text-gray-400 text-gray-600 max-w-lg mt-2 text-base/6">Sign in with ORCID, Zenodo or your institutional SSO. Your publications, affiliations, and research interests are imported directly from sources like ORCID and OpenAlex, no manual entry required.</p>
      </div>
    </div>
    <div class="absolute inset-0 rounded-lg dark:outline-white/15 outline outline-black/5 pointer-events-none shadow-sm lg:rounded-tl-4xl max-lg:rounded-t-4xl"></div>
  </div>

  {# Archive meaningful content #}
  <div class="relative lg:col-span-3">
    <div class="absolute inset-0 rounded-lg bg-white dark:bg-gray-800 lg:rounded-tr-4xl"></div>
    <div class="flex flex-col h-full overflow-hidden relative rounded-[calc(var(--radius-lg)+1px)] lg:rounded-tr-[calc(2rem+1px)]">
      <img alt="" class="h-80 object-cover object-left lazyloaded" data-src="/img/archive.png" height="391" src="/img/archive.png" width="765">
      <div class="pt-4 p-10">
        <svg viewBox="0 0 256 256" class="fill-primary w-7" xmlns="http://www.w3.org/2000/svg" height="32" width="32">
          <path d="M48,72h64V184H48ZM190.64,38.39a8,8,0,0,0-9.5-6.21l-46.81,10a8.07,8.07,0,0,0-6.15,9.57L139.79,107l62.46-13.42Z" opacity="0.2"></path>
          <path d="M231.65,194.55,198.46,36.75a16,16,0,0,0-19-12.39L132.65,34.42a16.08,16.08,0,0,0-12.3,19l33.19,157.8A16,16,0,0,0,169.16,224a16.25,16.25,0,0,0,3.38-.36l46.81-10.06A16.09,16.09,0,0,0,231.65,194.55ZM136,50.15c0-.06,0-.09,0-.09l46.8-10,3.33,15.87L139.33,66Zm6.62,31.47,46.82-10.05,3.34,15.9L146,97.53Zm6.64,31.57,46.82-10.06,13.3,63.24-46.82,10.06ZM216,197.94l-46.8,10-3.33-15.87L212.67,182,216,197.85C216,197.91,216,197.94,216,197.94ZM104,32H56A16,16,0,0,0,40,48V208a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V48A16,16,0,0,0,104,32ZM56,48h48V64H56Zm0,32h48v96H56Zm48,128H56V192h48v16Z"></path>
        </svg>
        <p class="mt-2 tracking-tight dark:text-white font-medium text-gray-950 text-lg">Archive meaningful content</p>
        <p class="dark:text-gray-400 text-gray-600 max-w-lg mt-2 text-base/6">Posts and conversations can receive DOIs and become citable FAIR objects. Through integrations with a growing list of repositories, meaningful exchanges can be preserved as part of the scholarly record, not lost in private threads.</p>
      </div>
    </div>
    <div class="absolute inset-0 rounded-lg dark:outline-white/15 outline outline-black/5 pointer-events-none shadow-sm lg:rounded-tr-4xl"></div>
  </div>

  {# Data sovereignty #}
  <div class="relative lg:col-span-2">
    <div class="absolute inset-0 rounded-lg bg-white dark:bg-gray-800 lg:rounded-bl-4xl"></div>
    <div class="flex flex-col h-full overflow-hidden relative rounded-[calc(var(--radius-lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]">
      <img alt="" class="h-80 object-cover object-center lazyloaded" data-src="/img/export.png" height="582" src="/img/export.png" width="673">
      <div class="pt-4 p-10">
        <svg viewBox="0 0 256 256" class="fill-primary w-7" xmlns="http://www.w3.org/2000/svg" height="32" width="32">
          <path d="M216,80c0,26.51-39.4,48-88,48S40,106.51,40,80s39.4-48,88-48S216,53.49,216,80Z" opacity="0.2"></path>
          <path d="M128,24C74.17,24,32,48.6,32,80v96c0,31.4,42.17,56,96,56s96-24.6,96-56V80C224,48.6,181.83,24,128,24Zm80,104c0,9.62-7.88,19.43-21.61,26.92C170.93,163.35,150.19,168,128,168s-42.93-4.65-58.39-13.08C55.88,147.43,48,137.62,48,128V111.36c17.06,15,46.23,24.64,80,24.64s62.94-9.68,80-24.64ZM69.61,53.08C85.07,44.65,105.81,40,128,40s42.93,4.65,58.39,13.08C200.12,60.57,208,70.38,208,80s-7.88,19.43-21.61,26.92C170.93,115.35,150.19,120,128,120s-42.93-4.65-58.39-13.08C55.88,99.43,48,89.62,48,80S55.88,60.57,69.61,53.08ZM186.39,202.92C170.93,211.35,150.19,216,128,216s-42.93-4.65-58.39-13.08C55.88,195.43,48,185.62,48,176V159.36c17.06,15,46.23,24.64,80,24.64s62.94-9.68,80-24.64V176C208,185.62,200.12,195.43,186.39,202.92Z"></path>
        </svg>
        <p class="mt-2 tracking-tight dark:text-white font-medium text-gray-950 text-lg">Data sovereignty</p>
        <p class="dark:text-gray-400 text-gray-600 max-w-lg mt-2 text-base/6">Each community can run their own instance. Data remains under your control. Connect globally while preserving local governance and values.</p>
      </div>
    </div>
    <div class="absolute inset-0 rounded-lg dark:outline-white/15 outline outline-black/5 pointer-events-none shadow-sm lg:rounded-bl-4xl"></div>
  </div>

  {# Connected knowledge #}
  <div class="relative lg:col-span-2">
    <div class="absolute inset-0 rounded-lg bg-white dark:bg-gray-800"></div>
    <div class="flex flex-col h-full overflow-hidden relative rounded-[calc(var(--radius-lg)+1px)]">
      <img alt="" class="h-80 object-cover object-center lazyloaded" data-src="/img/network11.png" height="391" src="/img/network11.png" width="765">
      <div class="pt-4 p-10">
        <svg viewBox="0 0 256 256" class="mb-4 h-9 w-9 fill-primary" xmlns="http://www.w3.org/2000/svg" height="32" width="32">
          <path d="M218.34,119.6,183.6,154.34a46.58,46.58,0,0,1-44.31,12.26c-.31.34-.62.67-.95,1L103.6,202.34A46.63,46.63,0,1,1,37.66,136.4L72.4,101.66A46.6,46.6,0,0,1,116.71,89.4c.31-.34.62-.67,1-1L152.4,53.66a46.63,46.63,0,0,1,65.94,65.94Z" opacity="0.2"></path>
          <path d="M240,88.23a54.43,54.43,0,0,1-16,37L189.25,160a54.27,54.27,0,0,1-38.63,16h-.05A54.63,54.63,0,0,1,96,119.84a8,8,0,0,1,16,.45A38.62,38.62,0,0,0,150.58,160h0a38.39,38.39,0,0,0,27.31-11.31l34.75-34.75a38.63,38.63,0,0,0-54.63-54.63l-11,11A8,8,0,0,1,135.7,59l11-11A54.65,54.65,0,0,1,224,48,54.86,54.86,0,0,1,240,88.23ZM109,185.66l-11,11A38.41,38.41,0,0,1,70.6,208h0a38.63,38.63,0,0,1-27.29-65.94L78,107.31A38.63,38.63,0,0,1,144,135.71a8,8,0,0,0,7.78,8.22H152a8,8,0,0,0,8-7.78A54.86,54.86,0,0,0,144,96a54.65,54.65,0,0,0-77.27,0L32,130.75A54.62,54.62,0,0,0,70.56,224h0a54.28,54.28,0,0,0,38.64-16l11-11A8,8,0,0,0,109,185.66Z"></path>
        </svg>
        <p class="mt-2 tracking-tight dark:text-white font-medium text-gray-950 text-lg">Connected knowledge</p>
        <p class="dark:text-gray-400 text-gray-600 max-w-lg mt-2 text-base/6">Share a paper and see it come alive: metadata, co-authors, datasets, and related works appear instantly. Colleagues can join the conversation no matter what platforms they use.</p>
      </div>
    </div>
    <div class="absolute inset-0 rounded-lg dark:outline-white/15 outline outline-black/5 pointer-events-none shadow-sm"></div>
  </div>

  {# Extensible #}
  <div class="relative lg:col-span-2">
    <div class="absolute inset-0 rounded-lg bg-white dark:bg-gray-800 lg:rounded-br-4xl max-lg:rounded-b-4xl"></div>
    <div class="flex flex-col h-full overflow-hidden relative rounded-[calc(var(--radius-lg)+1px)] lg:rounded-br-[calc(2rem+1px)] max-lg:rounded-b-[calc(2rem+1px)]">
      <img alt="" class="h-80 object-cover object-center lazyloaded" data-src="/img/modules.png" height="582" src="/img/modules.png" width="673">
      <div class="pt-4 p-10">
        <svg viewBox="0 0 256 256" class="fill-primary w-7" xmlns="http://www.w3.org/2000/svg" height="32" width="32">
          <path d="M204,168a28,28,0,0,0,12-2.69V208a8,8,0,0,1-8,8H64a8,8,0,0,1-8-8V165.31a28,28,0,1,1,0-50.62V72a8,8,0,0,1,8-8h46.69a28,28,0,1,1,50.61,0H208a8,8,0,0,1,8,8v42.69A28,28,0,1,0,204,168Z" opacity="0.2"></path>
          <path d="M220.27,158.54a8,8,0,0,0-7.7-.46,20,20,0,1,1,0-36.16A8,8,0,0,0,224,114.69V72a16,16,0,0,0-16-16H171.78a35.36,35.36,0,0,0,.22-4,36.15,36.15,0,0,0-11.36-26.25,36,36,0,0,0-60.55,23.63,36.56,36.56,0,0,0,.14,6.62H64A16,16,0,0,0,48,72v32.22a35.36,35.36,0,0,0-4-.22,36.12,36.12,0,0,0-26.24,11.36,35.7,35.7,0,0,0-9.69,27,36.08,36.08,0,0,0,33.31,33.6,36.56,36.56,0,0,0,6.62-.14V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V165.31A8,8,0,0,0,220.27,158.54ZM208,208H64V165.31a8,8,0,0,0-11.43-7.23,20,20,0,1,1,0-36.16A8,8,0,0,0,64,114.69V72h46.69a8,8,0,0,0,7.23-11.43,20,20,0,1,1,36.16,0A8,8,0,0,0,161.31,72H208v32.23a35.68,35.68,0,0,0-6.62-.14A36,36,0,0,0,204,176a35.36,35.36,0,0,0,4-.22Z"></path>
        </svg>
        <p class="mt-2 tracking-tight dark:text-white font-medium text-gray-950 text-lg">Extensible</p>
        <p class="dark:text-gray-400 text-gray-600 max-w-lg mt-2 text-base/6">Modular by design. Add repository connectors, peer review workflows, or research tools as your community evolves. Built on Bonfire's modular framework for total customisation.</p>
      </div>
    </div>
    <div class="absolute inset-0 rounded-lg dark:outline-white/15 outline outline-black/5 pointer-events-none shadow-sm lg:rounded-br-4xl max-lg:rounded-b-4xl"></div>
  </div>

</div>
