<div>
  <h2 class="text-3xl font-bold mb-4">Setup a new Open Science Network server</h2>
  <div class="grid grid-cols-4 gap-2">
    <a href="https://docs.bonfirenetworks.org/deploy.html" target="blank" class="link bg-base-content p-2 rounded-lg col-span-4 md:col-span-2 lg:col-span-1">
      <img src="/img/coopcloud1.png" class="w-full"/>
      <div class="text-lg text-base-300 font-semibold mt-2 text-center">Co-op Cloud</div>
    </a>
    <a href="https://docs.bonfirenetworks.org/deploy.html" target="blank" class="bg-base-content p-2 rounded-lg col-span-4 md:col-span-2 lg:col-span-1">
      <img src="/img/docker.png" class="w-full"/>
      <div class="text-lg text-base-300 font-semibold mt-2 text-center">Docker</div>
    </a>
    <a href="https://docs.bonfirenetworks.org/deploy.html" target="blank" class="bg-base-content p-2 rounded-lg col-span-4 md:col-span-2 lg:col-span-1">
      <img src="/img/guix.png" class="w-full"/>
      <div class="text-lg text-base-300 font-semibold mt-2 text-center">GUIX</div>
    </a>
    <a href="https://apps.yunohost.org/app/bonfire" target="blank" class="bg-base-content p-2 rounded-lg col-span-4 md:col-span-2 lg:col-span-1">
      <img src="/img/yunohost.png" class="w-full"/>
      <div class="text-lg text-base-300 font-semibold mt-2 text-center">Yunohost</div>
    </a>
</div>
<div class="bg-base-content/10 p-8 rounded-lg mt-4">
<h3 class="text-2xl">Do you need help with installation?</h3>
<h4 class="text-lg mt-1 text-base-content/80">Contact us for cooperative hosting and support services.</h4>
  <div class="flex items-center mt-6 gap-4">
    <a href="https://cal.com/bonfire-networks/meet" class="btn btn-primary">Book a call</a>
    <a href="mailto:team@bonfire.cafe" class="btn btn-outline border-base-content/30 ">Write as at team@bonfire.cafe</a>
  </div>
</div>
<div class=" mx-auto my-12 px-4 lg:px-0">
   

<div class="flex gap-6 flex-col">

  <h2 class="text-3xl font-bold">What is included</h2>
{% include "flavours/open_science_features.njk" %}
