---
layout: layouts/base.njk
---


<header class="flex relative bg-[url('/img/about.png')] text-center overflow-hidden text-white h-auto justify-center items-end py-[17vw] px-[4vw] bg-center bg-cover shadow-inner">
    <div class="my-0 mx-auto max-w-6xl w-full">
        <h1 class="text-4xl sm:text-7xl max-w-screen-lg !leading-[90px] mx-auto font-bold tracking-tight">Building open digital spaces <br/>as common goods.</h1>
    </div>
</header>

<section class="my-0 mx-auto p-[6vmin] sm:py-[10vw] sm:px-[6vmin]">
  <div class="my-0 mx-auto max-w-8xl w-full">
    <div class="max-w-prose mx-auto prose prose-lg">
      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">We envision a world where humans can freely connect and communities can flourish out of private interests and capitalistic control.</h2>
      <p class="mt-5 md:text-xl text-base-content">Started in 2020, Bonfire is driven by a mission to develop open-source tools that empower communities to engage in meaninngful discussions, coordinate effortlessly, make collective decisions, and explore a wealth of content across the web. Our focus is on nurturing digital spaces where collaboration and active community participation are not just feasible but deeply encouraged.</p>
      <p class="mt-5 md:text-xl text-base-content">We strive to foster an environment of transparency, inclusivity, and collective empowerment. This ethos guides our efforts to build a more connected, democratic, and vibrant digital spaces, helping communities around the globe to connect, grow, and flourish.</p>
      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">For the communities, by the community.</h2>
      <p class="mt-5 md:text-xl text-base-content">Bonfire Networks is an online collective. Our finances are transparently managed through <a href="" target="blank">our Open Collective account</a>. Bonfire Networks is not backed by private investors nor venture capitals. <br/> We thrive to work as close as possible with communities, to build tools that reflect their real needs.</p>
      <p class="mt-5 md:text-xl text-base-content">We are open to connect and collaborate with communities, researchers, activitists to provide custom solutions or develop new features that can benefit the creation of better digital public spaces. All the Bonfire code is released with the AGPL3 license, this will mean that any development made by anyone will benefit the whole ecosystem.</p>
      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">Meet the Bonfire Networks</h2>
      <p class="mt-5 md:text-xl text-base-content">We adopt the sociocratic model to coordinate tasks and make decisions among us. If you are interested in actively participating in our collective and push bonfire forward we invite you to abide to our <a href="/conduct">code of conduct</a>.</p>
      <h2 class="text-2xl md:text-3xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">Core circle</h2>
      <div class="flex items-center justify-evenly place-content-center">
        <div class="">
          <img src="/img/mayel.png"  class="w-[200px] !my-0 bg-base-content/10 h-[200px] rounded-lg object-cover" />
          <div class="text-lg font-bold mt-4 text-center">Mayel De Borniol</div>
        </div>
        <div class="">
          <img src="/img/ivan.png" class="w-[200px] !my-0 bg-base-content/10 h-[200px] rounded-lg object-cover" />
          <div class="text-lg font-bold mt-4 text-center">Ivan Minutillo</div>
        </div>
      </div>
      <h2 class="text-2xl md:text-3xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">Advisory circle</h2>
       <div class="grid grid-cols-4 gap-8">
        <div class="">
          <img src="/img/doug.png"  class="w-[180px] !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover" />
          <div class="text-base font-bold mt-4 text-center">Doug Belshaw</div>
        </div>
        <div class="">
          <img src="/img/jorge.jpeg" class="w-[180px] !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover" />
          <div class="text-base font-bold mt-4 text-center">Jorge Saturno</div>
        </div>
        <div class="">
          <img src="/img/lynn.png"  class="w-[180px] !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover" />
          <div class="text-base font-bold mt-4 text-center">Lynn Foster</div>
        </div>
        <div class="">
          <img src="/img/bob.jpeg" class="w-[180px] !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover" />
          <div class="text-base font-bold mt-4 text-center">Bob Haugen</div>
        </div>
        <div class="">
          <img src="/img/evan.jpeg"  class="w-[180px] !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover" />
          <div class="text-base font-bold mt-4 text-center">Evan Prodromou</div>
        </div>
      </div>
    </div>
  </div>
</section>