---
layout: layouts/base.njk
pagination:
    data: apps
    size: 1
    alias: apps
permalink: "app/{{apps.flavour}}"
---

<div class="max-w-screen-lg mb-12 mx-4 2xl:max-w-screen-xl lg:mx-auto">
<a class="flex place-content-center lg:place-content-start" href="/apps">
  <div class="inline-flex mb-6 cursor-pointer hover:bg-blueGray-600 rounded-full bg-blueGray-700 px-3 py-1.5  items-center space-x-2">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-blueGray-300" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
    </svg>
    <span class="text-sm text-blueGray-300 font-medium">Back to flavours</span>
  </div>
</a>



{% include ["_includes/flavours/", apps.flavour, ".njk"] | join %}




  </div>