---
layout: layouts/base.njk
pagination:
    data: apps
    size: 1
    alias: apps
permalink: "app/{{apps.flavour}}/"
---

<div class="max-w-screen-lg my-12 px-4 lg:px-0  lg:mx-auto">
<div class="text-sm breadcrumbs">
  <ul>
    <li><a href="/apps">Apps</a></li> 
    <li>{{apps.name}}</li>
  </ul>
</div>
<h1 class="text-4xl font-bold text-base-content  ">{{apps.name}}</h1>
<div class="grid mt-4 grid-cols-5  items-start gap-4">
  <div class="col-span-5 order-last lg:order-first lg:col-span-3">
      <img src="{{apps.screenshot}}" class="object-contain rounded-box border border-base-content/10 max-h-[470px] w-full">

      <div class="prose prose-lg mt-6 max-w-full">{{apps.long_description}}</div>
  </div>
  <div class="col-span-5 lg:col-span-2 gap-4 flex flex-col ">
    <div class="rounded-lg bg-base-content/10 p-4 gap-3 flex flex-col ">

      <div class="gap-2 flex flex-col divide divide-y divide-base-300">
        <div style="padding-bottom: 16px" class="flex justify-between items-center text-sm"><span class="font-light">Version</span> <span class="badge badge-info">{{apps.status}}</span></div>
         {% if apps.website != "" %}
          <div style="padding-bottom: 16px" class="pt-2 flex justify-between items-center text-sm"><span class="font-light">Website</span>  <a class="font-bold underline" href="{{apps.website}}">{{apps.website}}</a></div>
        {% endif %}
         {% if apps.sandbox != "" %}
          <div style="padding-bottom: 16px" class="pt-2 flex justify-between items-center text-sm"><span class="font-light">Demo</span>  <a class="font-bold underline" href="{{apps.sandbox}}">{{apps.sandbox}}</a></div>
        {% endif %}
        
        <div style="padding-bottom: 16px" class="pt-2 flex justify-between items-center text-sm"><span class="font-light">License</span> <span class="font-bold">{{apps.license}}</span></div>
        <div style="padding-bottom: 16px" class="pt-2 flex justify-between items-center text-sm"><span class="font-light">Code Repository</span> <a class="font-bold underline" href="{{apps.repository}}">{{apps.repo_name}}</a></div>
        {% if apps.release != null %}
        <div class="pt-2 flex justify-between items-center text-sm"><span class="font-light">Latest Release</span> <a class="font-bold underline" href="{{apps.release}}">{{apps.name}}</a></div>
        {% endif %}
      </div>
    </div>

    <div class="rounded-lg bg-base-content/10 p-4 gap-3 flex flex-col">
      <div class="gap-2 flex flex-col divide divide-y divide-base-200">
        <div style="padding-bottom: 16px" class="flex justify-between items-center text-sm">
          <span class="font-light">Maintaned by</span>  
          <div class="flex items-center gap-3">
            {% for item in apps.developed_by %}
              <a href="{{item.link}}" target="_blank">
                <span class="font-semibold link">
                  {{item.name}}
                </span>
              </a>
            {% endfor %}
            <a href="{{apps.repository}}" target="_blank">
              <span class="btn btn-sm btn-outline rounded-full border-base-content/30">
                Participate
              </span>
            </a>
          </div>
        </div>

        {% if apps.communities.length > 0 %}
        <div style="padding-bottom: 16px" class="pt-2 flex flex-col text-sm">
          <span class="font-light">Communities involved</span>  
          <div class="flex items-center mt-2 flex-wrap gap-2">
             {% for item in apps.communities %}
              <a href="{{item.link}}" class="btn btn-sm btn-outline rounded-full border-base-content/30" target="_blank">
                <span class="font-medium">
                  {{item.name}}
                </span>
              </a>
            {% endfor %}
            <a href="{{apps.repository}}" target="_blank">
              <span class="link">
                Participate
              </span>
            </a>
          </div>
        </div>
        {% endif %}

        <div class="pt-2 flex justify-between items-center text-sm">
          <span class="font-light">Supported by</span>  
          <div class="flex items-center gap-3">
             {% for item in apps.supported_by %}
              <a href="{{item.link}}" target="_blank">
                <span class="font-semibold link">
                {{item.name}}
              </span></a>
              {% endfor %}
              <a href="/contribute/">
                <span class="btn btn-sm btn-outline rounded-full border-base-content/30">
                  Support the project
                </span>
              </a>
          </div>
        </div>
        </div>  
      </div>


        <div class="rounded-lg bg-base-content/10 p-4 gap-3 flex flex-col">
          <span class="font-semibold text-lg">Extensions included</span>  
          <div class="flex flex-wrap items-center gap-2 ">

             {% for item in apps.extensions %}
<a href="/{% if item.type == 'flavour' %}app{% else %}extension{% endif %}/{{item.repo_name}}">
                <span class="badge">
                {{item.name}}
              </span> 
              </a>
              {% endfor %}
          </div>   
        </div>

{% if apps.translations %}
        <div class="rounded-lg bg-base-content/10 p-4 gap-3 flex flex-col">
          <span class="font-semibold text-lg">Translations</span>  
        
          <div class="flex flex-wrap items-center gap-2">
             {% for item in apps.translations %}
                <span class=" badge">
                {{item}}
              </span>
              {% endfor %}
          </div>   
        </div>
        {% endif %}
      
    </div>
  
  </div>


<!-- Tabs -->
{# <div
id="main"
    x-data="{
        selectedId: null,
        init() {
            // Set the first available tab on the page on page load.
            this.$nextTick(() => this.select(this.$id('tab', 1)))
        },
        select(id) {
            this.selectedId = id
        },
        isSelected(id) {
            return this.selectedId === id
        },
        whichChild(el, parent) {
            return Array.from(parent.children).indexOf(el) + 1
        }
    }"
    x-id="['tab']"
    class=""
>
    <ul
        x-ref="tablist"
        @keydown.right.prevent.stop="$focus.wrap().next()"
        @keydown.home.prevent.stop="$focus.first()"
        @keydown.page-up.prevent.stop="$focus.first()"
        @keydown.left.prevent.stop="$focus.wrap().prev()"
        @keydown.end.prevent.stop="$focus.last()"
        @keydown.page-down.prevent.stop="$focus.last()"
        role="tablist"
        class="-mb-px  mt-6 flex items-stretch"
    >
        <li>
            <button
                :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
                @click="select($el.id)"
                @mousedown.prevent
                @focus="select($el.id)"
                type="button"
                :tabindex="isSelected($el.id) ? 0 : -1"
                :aria-selected="isSelected($el.id)"
                :class="isSelected($el.id) ? 'border-base-content/30 bg-base-100' : 'border-transparent'"
                class="inline-flex rounded-t-md border-t border-l border-r px-5 py-2.5"
                role="tab"
            >Features</button>
        </li>

        <li>
            <button
                :id="$id('tab', whichChild($el.parentElement, $refs.tablist))"
                @click="select($el.id)"
                @mousedown.prevent
                @focus="select($el.id)"
                type="button"
                :tabindex="isSelected($el.id) ? 0 : -1"
                :aria-selected="isSelected($el.id)"
                :class="isSelected($el.id) ? 'border-base-content/30 bg-base-100' : 'border-transparent'"
                class="inline-flex rounded-t-md border-t border-l border-r px-5 py-2.5"
                role="tab"
            >Readme</button>
        </li>
    </ul>

    <div role="tabpanels" class="rounded-b-md border border-base-content/30 bg-base-100">
        <section
            x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
            :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
            role="tabpanel"
            class="p-8"
        >
           {% include ["_includes/flavours/", apps.flavour, ".njk"] | join %}
        </section>

        <section
            x-show="isSelected($id('tab', whichChild($el, $el.parentElement)))"
            :aria-labelledby="$id('tab', whichChild($el, $el.parentElement))"
            role="tabpanel"
            class="p-8 prose prose-sm"
        >
           {% set url = 'https://raw.githubusercontent.com/bonfire-networks/' ~ apps.readme ~ '/README.md' %}
           {{ url | remoteMarkdown | safe }}
        </section>
    </div>
</div> #}


 <section class="mt-20">{% include ["_includes/flavours/", apps.flavour, ".njk"] | join %}</section>


</div>


  </div>