<div class="relative mt-32">
    <span class="relative block text-sm font-semibold tracking-widest uppercase text-base-content">In progress apps</span>
    <div class="w-40 h-2 mt-2 transform rounded-full bg-gradient-to-r from-pink-600 to-indigo-600 "></div>
</div>
<div class="grid items-center grid-cols-3 gap-4 mt-8">
<a class="col-span-3 lg:col-span-1" href="/apps/bonfire.html">
    <div class="p-3 bg-white rounded-lg shadow-xl">
    <div class="text-xs font-bold tracking-wider text-gray-800"><span>🔥</span> In progress</div>
    <div class="mt-2 mb-4 text-lg font-bold text-gray-800">Bonfire Social</div>
    <p class="mb-4 prose-sm prose text-gray-700">A customizable federated social network, to follow people, make posts, the usual... </p>
    </div>
</a>
<a class="col-span-3 lg:col-span-1" href="/apps/bonfire_coordination.html">
    <div class="p-3 bg-white rounded-lg shadow-xl">
    <div class="text-xs font-bold tracking-wider text-gray-800"><span>🔥</span> In progress</div>
    <div class="mt-2 mb-4 text-lg font-bold text-gray-800">Bonfire Kanban</div>
    <p class="mb-4 prose-sm prose text-gray-700">Federated and collaborative task lists for p2p project coordination. </p>
    </div>
</a>
<a class="col-span-3 lg:col-span-1" href="/apps/breadpub.html">
    <div class="p-3 bg-white rounded-lg shadow-xl">
    <div class="text-xs font-bold tracking-wider text-gray-800"><span>🔥</span> In progress</div>
    <div class="mt-2 mb-4 text-lg font-bold text-gray-800">Bonfire Bullettin</div>
    <p class="mb-4 prose-sm prose text-gray-700">Mutual aid tools for communities, such as sharing their needs and offers. </p>
    </div>
</a>
</div>
<div class="p-4 mt-3 rounded-md bg-gradient-to-r from-pink-600 to-indigo-600 ">
<div class="mt-8 text-3xl font-extrabold text-center text-white">Do you need a specific feature for your community?</div>
<div class="flex items-center my-6 place-content-center">
    <a href="#join-us" class="btn btn-outline ">Let's build it together</a>
</div>
</div>