---
layout: layouts/base.njk
title: "Apps"
description: "Bonfire is not a single app, but comes in many flavours..."
---

<div class="bg-base-300">
  <div class="max-w-screen-xl place-content-center items-center  flex flex-col mx-auto py-12">  
    <h1 class="text-3xl font-bold  ">Apps</h1>
    <h2 class="text-xl text-center text-base-content mt-4 max-w-screen-sm">Bonfire is not a single app, but comes in many flavours. Choose the app that makes more sense for your community, and then install extensions and theme to tailor it even further.</h2>
  </div>
</div>

<div class="max-w-screen-xl mx-auto my-12">
  <div class="grid grid-cols-3 gap-4">
   {% for item in apps %}
      <a href="/app/{{item.flavour}}">
      <div class="border border-base-content/30 rounded break-inside-avoid">
          <img src={{item.icon}} class="object-cover rounded-t mx-auto w-full h-80" />
          <div class="p-4">
            <h2 class="font-bold text-lg truncate word-break">{{item.name}}</h2>
            <p class="prose-sm mb-2">{{item.description}}</p>
          </div>
      </div>  
      </a>
    {% endfor %}
  </div>
</div>