---
layout: layouts/home.njk
eleventyNavigation:
  key: Cooperation
  order: 1
---
<div class="max-w-screen-lg mx-4 2xl:max-w-screen-xl lg:mx-auto">

  <div class="container relative max-w-screen-xl mx-auto mt-6">
    <div style="width: 1px;" class="h-24 mx-auto mb-4 bg-gradient-to-b from-blueGray-800 to-blueGray-200"></div>
  </div>

  <div class="flex flex-col items-center mx-auto mt-2">
    <img src="../img/bonfire_brand.png" class="mx-auto mt-2 w-80"/>
    <div style="letter-spacing: 7px; padding-left: 14px" class="mt-2 text-3xl font-black tracking-widest text-center uppercase text-base-content">Cooperation</div>
    <span class="mx-auto mt-3 badge badge-warning">In development</span>
  </div>

  <div class="max-w-3xl mx-auto mt-8 text-2xl font-semibold leading-relaxed text-center text-opacity-80 text-base-content">A preconfigured solution to empower human coordination and cooperation in small or large communities, movements and co-ops.</div>

  <div id="why" style="width: 1px;" class="h-16 mx-auto mt-16 mb-4 bg-gradient-to-b from-base-200 to-base-content"></div>

  <div class="relative max-w-screen-lg pt-8 mx-auto overflow-hidden pb-28">
    <div class="relative">
      <div class="items-center gap-2 lg:mx-auto lg:grid lg:grid-cols-2 place-content-start lg:grid-flow-col-dense">
        <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
          <div>
            <div class="">
              <h2 class="text-2xl font-bold tracking-wide text-neutral-content">
                <span class="underline decoration-wavy decoration-amber-400 underline-offset-2">Coordinate</span> activities and tasks
              </h2>
              <p class="mt-4 leading-relaxed text-md text-neutral-content text-opacity-60">
                A kanban tool to coordinate, prioritise and assign tasks, check the progress of a project, spot any possible blockers and see the work done. <br />
                Boards can be created for users of the same instance as well as across different instances. 
              </p>
            </div>
          </div>
        </div>
        <div class="px-4 mt-4 md:mt-16 lg:mt-0 md:px-8">
          <div class="bg-contain bg-no-repeat h-[330px] w-[330px] mx-auto bg-[url('/img/3a.jpg')] ">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12">
      <div class="items-center gap-24 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
        <div class="order-last max-w-xl px-4 mx-auto sm:px-6 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
          <div>
            <div class="">
              <h2 class="text-2xl font-bold tracking-wide text-neutral-content">
                <span class="underline decoration-wavy decoration-amber-400 underline-offset-2">Organise</span> events and build a shared calendar
              </h2>
              <p class="mt-4 leading-relaxed text-md text-neutral-content text-opacity-60">
                Create and manage local or virtual events, and share invite links for people to RSVP. Users can browse events on a map or calendar, filtering them by tags, location, topic and more...</p>
            </div>
          </div>
        </div>
      <div class="px-4 mt-4 md:mt-16 lg:mt-0 md:px-8">
          <div class="bg-contain bg-no-repeat h-[330px] w-[330px] mx-auto bg-[url('/img/4a.jpg')]">
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12">
      <div class="items-center gap-24 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
        <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
          <div>
            <div class="">
              <h2 class="text-2xl font-bold tracking-wide text-neutral-content">
                <span class="underline decoration-wavy decoration-amber-400 underline-offset-4">Share</span> needs and offers with your community
              </h2>
              <p class="mt-4 leading-relaxed text-md text-neutral-content text-opacity-60">
                Create and manage local or virtual events, and share invite links for people to RSVP. Users can browse events on a map or calendar, filtering them by tags, location, topic and more...
              </p>
            </div>
          </div>
        </div>
        <div class="px-4 mt-4 md:mt-16 lg:mt-0 md:px-8">
          <div class="bg-contain bg-no-repeat h-[330px] w-[330px] mx-auto bg-[url('/img/1a.jpg')]">
          </div>
        </div>
      </div>
    </div>

  </div>



  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="mb-24 bg-base-content bg-opacity-10">
    <div class="max-w-3xl px-4 py-16 mx-auto text-center sm:py-20 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
        <span class="block">It's all connected.</span>
      </h2>
      <p class="mt-4 text-lg leading-6 text-base-content text-opacity-90"><b>All the features and extensions are interconnected</b>, so that Bonfire Cooperation benefits from everything that's in the Bonfire Classic, such as: social feeds, discussions, boosting, liking, creating circles and setting boundaries.</p>
      <p class="mt-4 text-lg leading-6 text-base-content text-opacity-90">Tasks, needs and offers all can appear on the calendar if they have dates attached, and on the map if they include a location. <br />
      </p>
      <a href="/docs" class="mt-6 btn btn-outline">
        Set up an instance
      </a>
    </div>
  </div>
</div>

{% include "support_footer.njk" %}
