---
layout: layouts/home.njk
eleventyNavigation:
  key: Cooperation
  order: 1
---

<div class="max-w-screen-lg mx-4 2xl:max-w-screen-xl lg:mx-auto">

<div class="container relative max-w-screen-xl mx-auto mt-6">
  <div style="width: 1px;" class="h-24 mx-auto mb-4 bg-gradient-to-b from-blueGray-800 to-blueGray-200"></div>
</div>

<div class="flex flex-col items-center mx-auto mt-2">
  <img src="../img/bonfire_brand.png" class="mx-auto mt-2 w-80"/>
  <div style="letter-spacing: 7px; padding-left: 14px" class="mt-2 text-3xl font-black tracking-widest text-center uppercase text-base-content">classic</div>
  <span class="mx-auto mt-3 badge badge-success">Coming soon</span>
</div>

<div class="max-w-3xl mx-auto mt-8 text-2xl font-semibold leading-relaxed text-center text-opacity-80 text-base-content">
   A federated social network to follow your friends and find new ones using an ad-free tool where you are in total control. 
</div>



<!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative pt-32 pb-32 overflow-hidden">
  <div class="relative">
    <div class="gap-12 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-base-content">
              Engage in meaningful discussions
            </h2>
            <p class="mt-4 text-lg text-base-content text-opacity-80">
              The default interface supports nested threaded conversations with the possibility to "fork" a discussion when the topic veers off from the original one. You can also choose which circles can see or reply to your post.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full shadow-xl rounded-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="gap-12 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="order-last max-w-xl px-4 mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-base-content">
              Create multiple user identities for different purposes
            </h2>
            <p class="mt-4 text-lg text-base-content text-opacity-80">
              Are you somebody who wears many hats? For example you may want to keep your personal life and work identities seperate.
            </p>
            
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full shadow-xl rounded-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg" alt="Customer profile user interface">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="gap-12 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-base-content">
              Curate your followers in circles for granular privacy and relevancy
            </h2>
            <p class="mt-4 text-lg text-base-content text-opacity-80">
              Maintain privacy and avoid information overload by sharing different content with each of your circles
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full shadow-xl rounded-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-primary">
  <div class="max-w-3xl px-4 py-16 mx-auto text-center sm:py-20 sm:px-6 lg:px-8">
    <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
      <span class="block">It's all connected.</span>
    </h2>
    <p class="mt-4 text-lg leading-6 text-base-content text-opacity-90"><b>All the features and extensions are interconnected</b>, so that social functionality like discussions, boosts, and likes are available not just for posts but any type of information provided by other extensions, such as tasks or events.</p>
    <a href="/docs" class="mt-6 btn btn-outline">
      Set up an instance
    </a>
  </div>
</div>


{# 
<div class="mt-24 border-t border-base-100 border-opacity-60">
  <div class="mt-12 text-2xl font-black uppercase text-base-content">contribute</div>
  <div class="my-3 text-sm uppercase text-base-content text-opacity-80">navigate uncertain times</div>
  <div class="mt-6 prose prose-lg">
    Croatan is a dispersed angle of the Metaverse, none owns its identity, noone knows how to grab its treasures.</div>
  <div class="flex mt-6 space-x-4">
    <button class="btn btn-wide btn-lg btn-primary">Support</button>
    <button class="btn btn-wide btn-lg btn-outline">Join the discussion</button>
  </div>
</div>
</div> #}