---
layout: layouts/home.njk
eleventyNavigation:
  key: Cooperation
  order: 1
---

<div class="mt-8 h-80 bg-base-100 rounded-box"></div>
<div class="w-40 h-40 mx-auto -mt-16 bg-white border-8 rounded-full shadow-lg border-base-200 bg-opacity-70">
  <img class="w-24 mx-auto mt-3" src="../img/bonfire.png" />
</div>
<div class="mx-auto mt-6">
  <img src="../img/bonfire_brand.png" class="mx-auto mt-6 w-80"/>
  <div style="letter-spacing: 7px; padding-left: 14px" class="mt-2 text-3xl font-black tracking-widest text-center uppercase text-base-content">Cooperation</div>
</div>
<div class="grid grid-cols-3 gap-8 mt-24">
  <div class="col-span-2">
    <div class="text-2xl font-black uppercase text-base-content">about</div>
    <div class="my-3 text-sm uppercase text-base-content text-opacity-80">unlock the power of cooperation</div>
    <div class="mt-6 mr-12 text-2xl font-bold leading-relaxed text-base-content">Bonfire Cooperation is a preconfigured solution that includes different extensions and features to empower human coordination and cooperation in small or large bioregional communities, movements, DAOs and co-ops.</div>
    <div class="mt-6 prose prose-lg">
      The configuration includes a (trello-like) kanban to coordinate with and assigns tasks to users, monitoring the advancement of a project, spot any possible blockers and discuss upon the work done. <br />
      Boards can be created among users of the same instance as well as among different instances, as long as they have enabled the kanban extension.<br />
      It is possible to create, organize, invite and manage events, directly on a calendar, and visualize / filter them on a map or in a list. <br />
      The cooperation flavour includes also a offers/needs bullettin board, to enhance cooperation in the phisical as in the digital world as well.<br />
      <b>The extensions are compatible among them</b>, so that tasks with dates can appear automatically on the calendar, as well as offers/needs that include due dates.<br /> 
      At the same time, commitments taken on offers and needs can be inserted in a specific kanban and any activity can be discussed on an ad-hoc thread. <br />
      This flavour benefits from all the features developed in bonfire classic, such as: threads, admin panel, boundaries and social feeds.<br />
      Each instance can be configured according to the community preferences and views, from editing the theme to enable or disable certain features or data to define a custom governance system.
      </div>
      <a class="mt-4 btn btn-wide btn-primary btn-lg" href="https://github.com/bonfire-networks/bonfire-app">Get the code</a>
  </div>
  <div class="flex flex-col col-span-1 space-y-3">
    <div class="p-4 rounded-box bg-base-100">
      <div class="text-lg font-black text-base-content">14 supporters</div>
      <div class="w-full mt-3 prose-sm prose">Croatan is a dispersed angle of the Metaverse, none owns its identity, noone knows how to grab its treasures.</div>
      <div class="mt-6 -space-x-6 avatar-group">
        <div class="avatar">
          <div class="w-12 h-12">
            <img src="http://daisyui.com/tailwind-css-component-profile-1@56w.png">
          </div>
        </div> 
        <div class="avatar">
          <div class="w-12 h-12">
            <img src="http://daisyui.com/tailwind-css-component-profile-2@56w.png">
          </div>
        </div> 
        <div class="avatar">
          <div class="w-12 h-12">
            <img src="http://daisyui.com/tailwind-css-component-profile-3@56w.png">
          </div>
        </div> 
        <div class="avatar">
          <div class="w-12 h-12">
            <img src="http://daisyui.com/tailwind-css-component-profile-5@56w.png">
          </div>
        </div>
      </div>
      <button class="w-full mt-4 btn btn-outline btn-secondary">Become a supporter</button>
    </div>
  </div>
</div>
<div class="mt-24 border-t border-base-100 border-opacity-60">
  <div class="mt-4 text-sm tracking-widest uppercase text-base-content text-opacity-90"> Projects using bonfire cooperation</div>
 
  <div class="grid items-center grid-cols-2 gap-8 mt-16 lg:grid-cols-4">
    <div class="flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
      <img class="h-20" src="../img/msoe.png" alt="MSOE">
    </div>
    <div class="flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
      <img class="h-16" src="../img/reflowlogo.png" alt="reflow">
    </div>
    <div class="flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
      <img class="h-8" src="../img/DIsCO.png" alt="disco.coop">
    </div>
    <!-- <div class="flex justify-center col-span-1 md:col-span-3 lg:col-span-1">
      <img class="h-16" src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg" alt="Transistor">
    </div> -->
  </div>
</div>
<div class="mt-24 border-t border-base-100 border-opacity-60">
  <div class="mt-12 text-2xl font-black uppercase text-base-content">main features</div>
  <div class="my-3 text-sm uppercase text-base-content text-opacity-80">navigate uncertain times</div>
  <div class="mt-6 prose">
    All the features are shipped with optional federation. From kanban to calendar, users will be able to use them across different instances. Admins can enable/disable/customize each feature directly from their dashboard. <a href="">Do you need an ad-hoc module for your use case? Let's talk.</a> 
  </div>
  <ul role="list" class="grid grid-cols-1 gap-6 mt-12 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <li class="flex flex-col col-span-1 p-6 pb-4 text-center bg-white shadow rounded-box">
      <img class="flex-1 flex-grow" src="../img/board.svg" />
      <div class="mt-6 text-sm font-black tracking-widest text-gray-800 uppercase">Federated kanban</div>
    </li>
    <li class="flex flex-col col-span-1 p-6 pb-4 text-center bg-white shadow rounded-box">
      <img class="flex-1 flex-grow" src="../img/discuss.svg" />
      <div class="mt-6 text-sm font-black tracking-widest text-gray-800 uppercase">discuss everything</div>
    </li>
    <li class="flex flex-col col-span-1 p-6 pb-4 text-center bg-white shadow rounded-box">
      <img class="flex-1 flex-grow" src="../img/calendar.svg" />
      <div class="mt-6 text-sm font-black tracking-widest text-gray-800 uppercase">Federated Calendar</div>
    </li>
    <li class="flex flex-col col-span-1 p-6 pb-4 text-center bg-white shadow rounded-box">
      <img class="flex-1 flex-grow" src="../img/need.svg" />
      <div class="mt-6 text-sm font-black tracking-widest text-gray-800 uppercase">need bullettin</div>
    </li>
  </ul>
</div>





<div class="mt-24 border-t border-base-100 border-opacity-60">
  <div class="mt-12 text-2xl font-black uppercase text-base-content">FAQ</div>
  <div class="my-3 text-sm uppercase text-base-content text-opacity-80">navigate uncertain times</div>

  <div
  x-data="{ openPanel: 0 }"
  class="pt-6 rubik prose-light">
  <div class="divide-y-2 divide-base-100">
  <dl class="space-y-6 divide-y divide-base-100">
      <div class="pt-6">
      <dt class="text-lg">
          <!-- Expand/collapse question button -->
          <button
          x-description="Expand/collapse question button"
          @click="openPanel = (openPanel === 0 ? null : 0)"
          class="flex items-start justify-between w-full text-left text-base-content">
          <span class="font-black text-base-content">
              Is bonfire open source?
          </span>
          <span class="flex items-center ml-6 h-7">
              <svg
              x-description="Heroicon name: outline/chevron-down"
              x-state:on="Open"
              x-state:off="Closed"
              x-bind:class="{ '-rotate-180': openPanel === 0, 'rotate-0': !(openPanel === 0) }"
              class="w-6 h-6 transform -rotate-180"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
          </span>
          </button>
      </dt>
      <dd
          x-show="openPanel === 0"
          class="pr-12 mt-2">
          <div class="prose prose-light text-blueGray-300">
          Yes, it is free/libre open source software, licensed primarly under the <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="blank">AGPL</a>, meaning the source code is available and can be modified, and that all such changes, improvements, or additions should be contributed back to the community. Some Bonfire extensions or dependencies have other <a href="https://github.com/bonfire-ecosystem/bonfire-app/blob/main/DEPENDENCIES.m" target="blank">open source licenses</a>.
          </div>
      </dd>
      </div>
      <div class="pt-6">
        <dt class="text-lg">
            <!-- Expand/collapse question button -->
            <button
            x-description="Expand/collapse question button"
            @click="openPanel = (openPanel === 1 ? null : 1)"
            class="flex items-start justify-between w-full text-left text-base-content">
            <span class="font-black text-base-content">
                Is bonfire open source?
            </span>
            <span class="flex items-center ml-6 h-7">
                <svg
                x-description="Heroicon name: outline/chevron-down"
                x-state:on="Open"
                x-state:off="Closed"
                x-bind:class="{ '-rotate-180': openPanel === 1, 'rotate-0': !(openPanel === 1) }"
                class="w-6 h-6 transform -rotate-180"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </span>
            </button>
        </dt>
        <dd
            x-show="openPanel === 1"
            class="pr-12 mt-2">
            <div class="prose prose-light text-blueGray-300">
            Yes, it is free/libre open source software, licensed primarly under the <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="blank">AGPL</a>, meaning the source code is available and can be modified, and that all such changes, improvements, or additions should be contributed back to the community. Some Bonfire extensions or dependencies have other <a href="https://github.com/bonfire-ecosystem/bonfire-app/blob/main/DEPENDENCIES.m" target="blank">open source licenses</a>.
            </div>
        </dd>
        </div>
        <div class="pt-6">
          <dt class="text-lg">
              <!-- Expand/collapse question button -->
              <button
              x-description="Expand/collapse question button"
              @click="openPanel = (openPanel === 2 ? null : 2)"
              class="flex items-start justify-between w-full text-left text-base-content">
              <span class="font-black text-base-content">
                  Is bonfire open source?
              </span>
              <span class="flex items-center ml-6 h-7">
                  <svg
                  x-description="Heroicon name: outline/chevron-down"
                  x-state:on="Open"
                  x-state:off="Closed"
                  x-bind:class="{ '-rotate-180': openPanel === 2, 'rotate-0': !(openPanel === 2) }"
                  class="w-6 h-6 transform -rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
              </span>
              </button>
          </dt>
          <dd
              x-show="openPanel === 2"
              class="pr-12 mt-2">
              <div class="prose prose-light text-blueGray-300">
              Yes, it is free/libre open source software, licensed primarly under the <a href="http://www.gnu.org/licenses/agpl-3.0.html" target="blank">AGPL</a>, meaning the source code is available and can be modified, and that all such changes, improvements, or additions should be contributed back to the community. Some Bonfire extensions or dependencies have other <a href="https://github.com/bonfire-ecosystem/bonfire-app/blob/main/DEPENDENCIES.m" target="blank">open source licenses</a>.
              </div>
          </dd>
          </div>

  </dl>
  </div>
  </div>
</div>

<div class="mt-24 border-t border-base-100 border-opacity-60">
  <div class="mt-12 text-2xl font-black uppercase text-base-content">contribute</div>
  <div class="my-3 text-sm uppercase text-base-content text-opacity-80">navigate uncertain times</div>
  <div class="mt-6 prose prose-lg">
    Croatan is a dispersed angle of the Metaverse, none owns its identity, noone knows how to grab its treasures.</div>
  <div class="flex mt-6 space-x-4">
    <button class="btn btn-wide btn-lg btn-primary">Support</button>
    <button class="btn btn-wide btn-lg btn-outline">Join the discussion</button>
  </div>
</div>
