<div class="container relative max-w-screen-xl mx-auto mt-20 mb-12 rubik">
  <div style="width: 1px;" class="h-24 mx-auto mb-4 bg-gradient-to-b from-blueGray-800 to-blueGray-200"></div>
  <div class="relative mx-auto">
    <span class="relative block text-sm font-semibold tracking-widest text-center text-gray-200 uppercase">Configurable</span>
    <div class="w-40 h-2 mx-auto mt-2 transform rounded-full bg-gradient-to-r from-pink-600 to-indigo-600 "></div>
  </div>
</div>
<div class="grid items-center grid-cols-6 gap-8">
<div class="self-center col-span-6 lg:col-span-3">
    <h2 class="text-2xl font-bold tracking-wide text-base-content sm:text-3xl md:text-2xl">
    Configure every aspect of your Bonfire
    </h2>
    <p class="max-w-md mt-6 text-base text-base-content text-opacity-90 sm:text-lg md:mt-6 md:max-w-3xl">
    Bonfire is made of lots of moving parts, which can be configured in great detail so they behave and look just right for you. 
    <p class="max-w-md mt-6 text-base text-base-content text-opacity-90 sm:text-lg md:mt-6 md:max-w-3xl">Designers and developers can also "fork" extensions to further customise them or create new ones. Users can choose which ones to install and even ask the ecosystem for specific features or changes - based on their unique values, needs, and preferences. 

    <p class="max-w-md mt-6 text-base text-base-content text-opacity-90 sm:text-lg md:mt-6 md:max-w-3xl">
    What's more, because Bonfire builds upon <a href="http://activitypub.rocks/"><b>ActivityPub</b></a> - a federation protocol standardized by the <a href="https://en.wikipedia.org/wiki/World_Wide_Web_Consortium">W3C</a>, the users of hundreds of different free software platforms hosted by thousands of different people can all interconnect with Bonfire users. 
    </p>
    <div class="flex mt-6">
    <a href="/docs" class="btn btn-primary">Read our docs</a>
    </div>
</div>
<div class="hidden col-span-3 lg:flex place-content-center">
    <img src="https://i.imgur.com/tNCY9rh.png" />
</div>
</div>