<span class="relative z-10 block mx-auto mt-24 bg-center bg-no-repeat bg-cover" style="width: 70px; height: 90px; background-image: url(/img/bonfire.png);"></span>
<div class="p-20 px-3 mx-4 -mt-8 text-center lg:px-20 bg-base-100 rounded-xl lg:rounded-none lg:mx-0">
  <div class="max-w-screen-lg mx-4 2xl:max-w-screen-xl lg:mx-auto">
    <div style="line-height: 42px;" class="text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-600 to-yellow-400">
      Empower your community with tools to perform social, economic and political activities. Create safe and private spaces, and connect with the rest of fediverse on your own terms.</div>
  </div>
</div>
