<span class="relative z-10 block mx-auto mt-24 bg-center bg-no-repeat bg-cover" style="width: 70px; height: 90px; background-image: url(/img/bonfire.png);"></span>
<div class="p-20 -mt-8 text-center bg-base-100 rounded-xl">
  <div class="max-w-screen-lg mx-4 2xl:max-w-screen-xl lg:mx-auto">
    <div class="text-3xl font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-600 to-yellow-400">Working towards a future where communities can assemble their own social networks like lego blocks, to cultivate safe and private spaces while being interconnected with the rest of the "fediverse" and the internet at wide on their own terms.</div>
  </div>
</div>
