---
layout: layouts/home.njk
---

<div class="max-w-screen-md mx-4 my-12 lg:mx-auto">

<h1 class="mb-6 text-5xl text-center font-bold">Design with Bonfire</h1>

<img src="/img/hwd.png" class="object-cover rounded-lg mx-auto w-full max-w-[680px]" />
  
<div class="mt-6 prose prose-lg">
  {% set snippet %}{% include 'how_design.md' %}{% endset %}
  {{ snippet | markdown | safe }}
</div>

  <div class="flex mt-12 items-center place-content-center gap-3">
    <a href="/docs" class="btn btn-primary">Read the docs</a> or 
    <a href="/contact" class="link text-lg font-semibold">get in touch</a>
  </div>

</div>