---
layout: layouts/home.njk
---

<div class="max-w-screen-md mx-4 mt-12 prose prose-lg lg:mx-auto">
<h1 class="text-5xl text-center font-bold">Design with Bonfire</h1>
    <img src="/img/how_to_design.png" class="object-cover rounded-lg mx-auto w-full max-w-[680px]" />
    
  {% set snippet %}{% include 'how_design.md' %}{% endset %}
  {{ snippet | markdown | safe }}
  


