<div class="bg-[#CED3D7] border-t border-base-300/30 pb-24">
<div class="max-w-screen-lg p-4 lg:p-8 2xl:max-w-screen-lg lg:mx-auto">
    <div class="relative flex flex-col text-center items-center grid-cols-1 gap-4 place-content-center">
      {# <div style="width: 1px;" class="h-16 mx-auto mb-4 bg-gradient-to-b from-base-200 to-base-content"></div> #}
      <div class="text-5xl leading-[70px] font-semibold text-base-300 mt-24">Be the architect of your online worlds</div>

      <div class="text-[20px] mx-auto max-w-[800px] leading-[35px] font-normal text-base-300/70">Step into the creative spotlight with Bonfire, designing and personalizing your digital communities with our toolkit.</div>
    </div>
    
    <div class="grid grid-cols-3 items-start mt-20">

      <div class="col-span-3 bg-[#D8DCDF] border border-base-300/30 p-[1px]">
        <div class="p-8 md:px-16 md:py-20">
          <div class="grid grid-cols-1 gap-y-16 gap-x-16 sm:gap-y-20 lg:grid-cols-2 items-center">
            <div class="relative isolate overflow-hidden sm:mx-auto sm:max-w-2xl sm:rounded-3xl lg:mx-0 lg:max-w-none">
            <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
              <img src="/img/modular.png" alt="modularity preview" class="w-full max-w-none">
            </div>
          </div>
            <div>
              <div class="text-[32px] text-base-300 font-bold ">Modular at its core</div>
              <div class="text-lg text-base-300/70 mt-4">Bonfire is made of independent extensions and modules, glued together by a set of configuration files. Every line of Bonfire’s code is available to be used or forked, in a collection of repositories that can be assembled and re-assembled to create all kinds of full-featured apps. </div>
              <a href="/docs" class="btn rounded-full normal-case mt-8 ">Read our documentation</a>
            </div>
          </div>
        </div>
      </div>

      <div class="border-l col-span-3 lg:col-span-2  bg-[#D8DCDF] border-b border-base-300/30  p-12">
        <div class="w-[64px] mb-8 h-[64px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-2xl shadow-xl">
          <svg class="w-9 h-9" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M16.7 17.3q-.275.275-.687.275q-.413 0-.713-.3t-.3-.713q0-.412.3-.712l3.875-3.875l-3.9-3.9Q15 7.8 15.012 7.387q.013-.412.288-.687q.275-.275.7-.275q.425 0 .7.275l4.6 4.6q.3.3.3.7q0 .4-.3.7Zm-9.4 0l-4.6-4.6q-.3-.3-.3-.7q0-.4.3-.7l4.6-4.6q.275-.275.7-.288q.425-.012.725.288t.3.712q0 .413-.3.713l-3.9 3.9l3.9 3.9q.275.275.263.687q-.013.413-.288.688q-.275.275-.7.275q-.425 0-.7-.275Z"/></svg>
        </div>
        <div class="text-[24px] text-base-300 font-bold ">Open source</div>
        <div class="text-lg  text-base-300/70 mt-4">Bonfire is libre and open source software. This means that you can use and modify Bonfire without asking permission from anyone. Plus, you can benefit from future developments by anyone improving the codebase, due to the AGPL license.</div>
        <a href="https://github.com/bonfire-networks/" target="_blank" class="normal-case rounded-full mt-4  btn">Get the code</a>
      </div>
      
      <div class="border-l col-span-3 lg:col-span-1 border-b border-r  bg-[#D8DCDF] border-base-300/30 p-12">
        <div class="w-[64px] mb-8 h-[64px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-2xl shadow-xl">
          <svg class="w-9 h-9" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M4 9.5a5.5 5.5 0 1 0 11 0a5.5 5.5 0 1 0-11 0"/><path d="M9 14.5a5.5 5.5 0 1 0 11 0a5.5 5.5 0 1 0-11 0"/></g></svg>
        </div>
        <div class="text-[24px] text-base-300 font-bold ">Community driven</div>
        <div class="text-lg  text-base-300/70 mt-4">Reach out for support while using and leveraging the project for your own needs. </div>
        <a href="/contribute" class="normal-case  mt-4 rounded-full btn">Contribute</a>
      </div>
      
     
  </div>

</div>
</div>