---
layout: layouts/pages.njk
eleventyNavigation:
  key: docs
  order: 1
title: "Documentation"
description: "Discover how Bonfire can be tailored for your community needs and goals."
---

<div x-data="{tab: 'start'}" class="flex relative items-start space-x-8">
    <ul class="w-64 py-3 sticky self-start top-24 shadow-lg menu bg-base-100 rounded-box">
        <li class="uppercase menu-title">
        <span>sections</span>
        </li> 
        <li>
        <a x-bind:class="{'bg-primary text-base-content' : tab === 'start'}" @click="tab='start'">Getting started</a>
        </li> 
        {# <li>
        <a x-bind:class="{'bg-primary text-base-content' : tab === 'architecture'}" @click="tab='architecture'">Architecture</a>
        </li> 
        <li>
        <a x-bind:class="{'bg-primary text-base-content' : tab === 'deploy'}" @click="tab='deploy'">Deploy</a>
        </li> 
        <li>
        <a x-bind:class="{'bg-primary text-base-content' : tab === 'graphql'}" @click="tab='graphql'">GraphQL guide</a>
        </li>  #}
        <li>
            <a href="https://doc.bonfirenetworks.org/deploy.html#content" target="_blank">Setup an instance</a>
        </li> 
        <li>
            <a href="https://doc.bonfirenetworks.org/hacking.html#content" target="_blank">Hacking on Bonfire</a>
        </li> 
        <li>
            <a href="https://doc.bonfirenetworks.org/api-reference.html#content" target="_blank">Code reference</a>
        </li> 
        <li>  
            <a href="https://github.com/bonfire-networks/bonfire-app/issues" target="_blank">Issue tracker</a>
        </li>
        <li>  
            <a href="https://matrix.to/#/%23bonfire-networks:matrix.org" target="_blank">Community chat</a>
        </li>
    </ul>
    <div x-show="tab === 'start'" class="prose prose-lg max-w-prose">
        {% markdown %}
            {%- include "./getting_started.md" -%}
        {% endmarkdown %}
    </div>
    {# 
    <div x-show="tab === 'develop'" class="prose prose-lg max-w-prose">
        {% markdown %}
            {%- include "./hacking.md" -%}
        {% endmarkdown %}
    </div>
    <div x-show="tab === 'architecture'" class="prose prose-lg max-w-prose">
        {% markdown %}
            {%- include "./architecture.md" -%}
        {% endmarkdown %}
    </div>
    <div x-show="tab === 'deploy'" class="prose prose-lg max-w-prose">
        {% markdown %}
            {%- include "./deploy.md" -%}
        {% endmarkdown %}
    </div>
    <div x-show="tab === 'graphql'" class="prose prose-lg max-w-prose">
        {% markdown %}
            {%- include "./graphql.md" -%}
        {% endmarkdown %}
    </div> #}
</div>

