---
layout: layouts/home.njk
eleventyNavigation:
  key: docs
  order: 1
---

<div class="hero p-16 bg-primary w-full rounded-box">
  <div class="text-center hero-content ">
    <div class="max-w-md mx-auto">
      <h1 class="mb-5 text-5xl font-bold">Documentation</h1> 
      <p class="mb-5">Discover how bonfire can be tailored to resonate with your community needs and visions.</p> 
    </div>
  </div>
</div>
<div class="flex space-x-8 mt-12">
  <ul class="menu py-3 w-64 shadow-lg bg-base-100 rounded-box">
    <li class="menu-title">
      <span>Menu Title</span>
    </li> 
    <li>
      <a>Introduction</a>
    </li> 
    <li>
      <a>Appearence</a>
    </li> 
    <li>
      <a>Features</a>
    </li> 
    <li>
      <a>Behaviours</a>
    </li> 
    <li>
      <a>Alghoritms</a>
    </li> 
    
    
  </ul>
  <div class="prose">
    <h2>Introduction</h2>
    <p>Once you installed daisyUI, you can use component classes like btn, card, etc...So instead of making a button like this:</p>
  </div>
</div>