---
layout: layouts/base.njk
title: "Extensions"
description: "Extensions are the building blocks of Bonfire apps. Each extension is modular and composable with the rest, and can be forked and customised for your exact needs."
---
<div class="bg-base-300">
  <div class="max-w-screen-xl place-content-center items-center  flex flex-col mx-auto py-12">  
    <h1 class="text-3xl font-bold  ">Extensions</h1>
    <h2 class="text-xl text-base-content mt-4 max-w-screen-sm">Bonfire is not a single app, but comes in many flavours.</h2>
  </div>
</div>
<div class="max-w-screen-xl mx-auto my-12">


  <div class="grid grid-cols-3 gap-4">

{# {% include "building_blocks.njk" %} #}


   {% for item in extensions %}
    <a href="/extension/{{item.repo_name}}">
    <div class="bg-base-content/10 rounded-box h-[120px]  flex items-start border-base-content/30">
      <div class="p-4 flex items-center place-content-center bg-base-content/10 shrink-0 rounded-box ml-4 mt-4 w-[72px]">
        <span class="block bg-center bg-no-repeat bg-cover grayscale" style="width: 30px; height: 40px; background-image: url(/img/bonfire.png)"></span>
      </div>
      <div class="p-4">
        <div class="font-semibold text-base ">{{item.name}}</div>
        <div class="text-sm line-clamp-3 text-base-content/90">{{item.note}}</div> 
      </div>
    </div>
    </a>
    {% endfor %}


  </div>
</div>