---
layout: layouts/home.njk
eleventyNavigation:
  key: features
  order: 1
---

<div class="2max-w-screen-lg mb-12 mx-4 2xl:max-w-screen-xl lg:mx-auto">
  <h1 class="mt-20 mb-4 text-center text-3xl font-extrabold sm:text-4xl">Bonfire Classic Features</h1>
  <h2 class="text-2xl text-center text-base-content/50">What can I do with Bonfire?</h2>

  <div class="grid grid-cols-1 mt-24 gap-y-4 sm:grid-cols-2 mb-40 md:grid-cols-2 md:gap-8 lg:grid-cols-3 lg:gap-x-8 xl:gap-x-8">
    
    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_1.png" class="h-[250px] w-full rounded-t-lg bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Post statuses, with photos and other media</div>
        <div class="text-sm text-base-content/80">Share your thoughts and moments by posting statuses and long form accompanied by photos or other media. A way to express yourself.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_2.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Define your boundaries and audiences</div>
        <div class="text-sm text-base-content/80">Control who sees and interact with your posts by setting boundaries and selecting specific audiences. Your privacy, your rules.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_3.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Follow people anywhere on the fediverse</div>
        <div class="text-sm text-base-content/80">Expand your network by following users from any federated platform. Stay connected, at your pace.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_4.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Edit your posts</div>
        <div class="text-sm text-base-content/80">Made a typo or want to add more context? Easily edit your posts after publishing.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_5.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Create circles</div>
        <div class="text-sm text-base-content/80">Organize your contacts into circles for more nuanced interactions and permissions. Tailor your social experience</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_6.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Customize themes and behaviours</div>
        <div class="text-sm text-base-content/80">Make Bonfire truly yours by customizing its look and how it behaves. Personalize your digital space.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_7.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Create multiple profiles</div>
        <div class="text-sm text-base-content/80">Manage different aspects of your life with multiple profiles, each with its own settings and circles.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_8.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Sort timelines and threads</div>
        <div class="text-sm text-base-content/80">Arrange posts and conversations in a way that makes the most sense to you. Your feed, your way.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_9.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Switch between nested & flat thread layout</div>
        <div class="text-sm text-base-content/80">Choose how you want to view conversation threads for easier navigation and readability.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_10.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Import your data from another fediverse platform</div>
        <div class="text-sm text-base-content/80">Seamlessly import your data from another federated platform. Make the switch effortlessly.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_11.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Export your data</div>
        <div class="text-sm text-base-content/80">Take control of your data by easily exporting it for backup or migration.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_12.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Share a profile with other users</div>
        <div class="text-sm text-base-content/80">Let others co-manage a profile for collaborative projects or community management.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_13.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Receive updates from any federated platform</div>
        <div class="text-sm text-base-content/80">Stay in the loop with updates from any federated platform, all in one place.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_14.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Collaborate on posts</div>
        <div class="text-sm text-base-content/80">Work together on posts with other users for more dynamic and rich content.</div>
        </div>
      </div>
    </div>

    <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
      <div class="border-b rounded-lg flex-1 flex items-center  gap-2 flex-col h-full border-base-content/20 bg-base-100">
          <img src="/img/f_15.png" class="rounded-t-lg h-[250px] w-full bg-center bg-cover" />
        <div class="flex flex-col gap-3 p-4">
          <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Markdown flavoured</div>
        <div class="text-sm text-base-content/80">Utilize Markdown syntax for enhanced text formatting in your posts, making it easier to emphasize points and structure content.</div>
        </div>
      </div>
    </div>

    
    
    

    
  </div>


</div>
