<div class=" border-base-content/30 bg-base-300">
  <div class="max-w-screen-xl px-16 py-32 mx-auto xl:px-0">
        <span class="text-sm font-bold uppercase text-primary">Safer participation.
        </span>
        <span class="text-sm font-bold uppercase text-primary">Healthier conversations.</span>
        <span class="text-sm font-bold uppercase text-primary">More collaboration.</span>
        
    <div class="grid px-6 lg:gap-12 lg:px-0 lg:grid-cols-2">
      <div>
        <div class="mt-4 text-6xl font-bold leading-[1.4] text-base-content">Introducing circles & boundaries</div>
        <div class="mt-6 !leading-loose prose prose-2xl">
          How will our online experiences be different once we take back control over exactly who should see, interact with, and even collaborate on our content and activities at the most granular level? Join us in this experiment!
        </div>
        
      </div>
      <div class="bg-[url(/img/boundaries.png)] w-full h-[560px] bg-contain bg-center bg-no-repeat mx-auto"></div>
    </div>
    <div class="grid gap-24 px-6 mt-12 lg:px-0 lg:grid-cols-2">
      <div class="flex flex-col">
        <div class="bg-contain bg-no-repeat bg-center lg:bg-cover h-[195px] lg:h-[340px] mx-auto w-full bg-[url(/img/circles.png)]"></div>
        <div class="mt-4">
          <div class="text-2xl font-bold">Define circles that reflect real life</div>
          <div class="mt-2 prose prose-lg">
            People don’t fit in binary boxes labeled “follower” or “friend”. Define as many custom circles as you need, simply as a shortcut so you don’t have to set permissions one person at a time.
          </div>
        </div>
      </div>
      <div class="flex flex-col">
        <div class="bg-contain bg-no-repeat bg-center lg:bg-cover h-[195px] lg:h-[340px] mx-auto w-full bg-[url(/img/blist.png)]"></div>
        <div class="mt-4">
          <div class="text-2xl font-bold">Set granular permissions</div>
          <div class="mt-2 prose prose-lg">
            Define boundaries by deciding which circles or people should be able to - for example - see, read, boost, reply to, or even edit your content. Or who can message, follow, or even request to follow you...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>