<div class="mt-12 bg-base-200">
  <div class="relative max-w-screen-xl px-4 py-16 pt-4 mx-auto rubik sm:py-12 sm:px-6 lg:px-8">
    <div style="width: 1px;" class="h-24 mx-auto mb-4 bg-gradient-to-b from-blueGray-800 to-blueGray-200"></div>
    <div class="text-center">
      <h2 class="text-base font-semibold tracking-wide uppercase text-primary">explore</h2>
      <p class="mt-1 text-4xl font-extrabold text-base-content sm:text-5xl sm:tracking-tight">What you can do with bonfire.</p>
      <p class="max-w-xl mx-auto mt-5 text-xl text-base-content text-opacity-80">If you need a federated social network for your community, or you want to enhance collaboration in your network at your own pace, bonfire can help you toward your goals.</p>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4 mt-2 align-top">
    
    <div class="text-center shadow-2xl card bg-base-100 bg-opacity-70 hover:bg-opacity-100">
      <a href="/bonfire_classic">
        <figure class="px-14 pt-6 mx-auto">
          <img src="./img/bonfire.png" class="rounded-xl">
        </figure> 
        <div class="card-body">
          <h2 class="text-base font-bold tracking-wide uppercase card-title">bonfire classic</h2> 
          <p>A federates social network fully configurable by both admins and users. Create groups, engage in discussions and follow users.</p> 
        </div>
      </a>
    </div> 

    <div class="text-center shadow-2xl card bg-base-100 bg-opacity-70 hover:bg-opacity-100">
      <a href="/bonfire_cooperation">
        <figure class="px-14 pt-6 mx-auto">
          <img src="./img/bonfire.png" class="rounded-xl">
        </figure> 
        <div class="card-body">
          <h2 class="text-base font-bold tracking-wide uppercase card-title">bonfire cooperation</h2> 
          <p>A preconfigured setup that includes different features to empower human cooperation in small/large bioregions, communities, movements, DAOs and co-ops.</p> 
        </div>
      </a>
    </div> 

    <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="relative block w-full flex place-content-center items-center border-2 border-gray-300 border-dashed rounded-lg p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <div class="">
    <svg class="mx-auto h-12 w-12 text-gray-400" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 14v20c0 4.418 7.163 8 16 8 1.381 0 2.721-.087 4-.252M8 14c0 4.418 7.163 8 16 8s16-3.582 16-8M8 14c0-4.418 7.163-8 16-8s16 3.582 16 8m0 0v14m0-4c0 4.418-7.163 8-16 8S8 28.418 8 24m32 10v6m0 0v6m0-6h6m-6 0h-6" />
    </svg>
    <span class="mt-2 block text-lg font-medium text-base-content">
      Setup your own flavour
    </span>
    </div>
  </div>

    


  </div>
</div>