<div class="mt-12 bg-base-200">
  <div class="relative max-w-screen-xl px-4 py-16 pt-4 mx-auto rubik sm:py-12 sm:px-6 lg:px-8">
    <div style="width: 1px;" class="h-24 mx-auto mb-4 bg-gradient-to-b from-blueGray-800 to-blueGray-200"></div>
    <div class="text-center">
      <h2 class="text-base font-semibold tracking-wide uppercase text-primary">explore</h2>
      <p class="mt-1 text-4xl font-extrabold text-base-content sm:text-5xl sm:tracking-tight">What you can do with bonfire.</p>
      <p class="max-w-xl mx-auto mt-5 text-xl text-base-content text-opacity-80">If you need a federated social network for your community, or you want to enhance collaboration in your network at your own pace, bonfire can help you toward your goals.</p>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4 mt-2 align-top">
    
    <div class="text-center shadow-2xl card bg-base-100 bg-opacity-70 hover:bg-opacity-100">
      <a href="/bonfire_classic">
        <figure class="px-14 pt-6 mx-auto">
          <img src="./img/bonfire.png" class="rounded-xl">
        </figure> 
        <div class="card-body">
          <h2 class="text-base font-bold tracking-wide uppercase card-title">bonfire classic</h2> 
          <p>A federates social network fully configurable by both admins and users. Create groups, engage in discussions and follow users.</p> 
        </div>
      </a>
    </div> 

    <div class="text-center shadow-2xl card bg-base-100 bg-opacity-70 hover:bg-opacity-100">
      <a href="/bonfire_cooperation">
        <figure class="px-14 pt-6 mx-auto">
          <img src="./img/bonfire.png" class="rounded-xl">
        </figure> 
        <div class="card-body">
          <h2 class="text-base font-bold tracking-wide uppercase card-title">bonfire cooperation</h2> 
          <p>A preconfigured setup that includes different features to empower human cooperation in small/large bioregions, communities, movements, DAOs and co-ops.</p> 
        </div>
      </a>
    </div> 

    <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="relative w-full flex place-content-center items-center border-2 border-gray-300 border-dashed rounded-lg p-12 text-center hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    <div class="">
    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto h-12 w-12 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M7 2a1 1 0 00-.707 1.707L7 4.414v3.758a1 1 0 01-.293.707l-4 4C.817 14.769 2.156 18 4.828 18h10.343c2.673 0 4.012-3.231 2.122-5.121l-4-4A1 1 0 0113 8.172V4.414l.707-.707A1 1 0 0013 2H7zm2 6.172V4h2v4.172a3 3 0 00.879 2.12l1.027 1.028a4 4 0 00-2.171.102l-.47.156a4 4 0 01-2.53 0l-.563-.187a1.993 1.993 0 00-.114-.035l1.063-1.063A3 3 0 009 8.172z" clip-rule="evenodd" />
    </svg>
    <span class="mt-6 block text-lg font-medium text-base-content">
      Setup your own flavour
    </span>
    <div class="mt-2 text-sm font-medium text-base-content text-opacity-80">(Coming soon)</div>
    </div>
  </div>

    


  </div>
</div>