<div class="mt-12 bg-base-200">
  <div class="relative max-w-screen-xl px-4 py-16 pt-4 mx-auto rubik sm:py-12 sm:px-6 lg:px-8">
    <div style="width: 1px;" class="h-24 mx-auto mb-4 bg-gradient-to-b from-blueGray-800 to-blueGray-200"></div>
    <div class="text-center">
      <h2 class="text-base font-semibold tracking-wide uppercase text-primary">explore</h2>
      <p class="mt-1 text-4xl font-extrabold text-base-content sm:text-5xl sm:tracking-tight">What you can do with bonfire.</p>
      <p class="max-w-xl mx-auto mt-5 text-xl text-base-content text-opacity-80">If you need a federated social network for your community, or you want to enhance collaboration in your network at your own pace, bonfire can help you toward your goals.</p>
    </div>
  </div>
  <div class="grid grid-cols-1 gap-16 mt-12 align-top lg:gap-4 md:grid-cols-2 lg:grid-cols-3">   
    <div style="overflow: visible;" class="text-center shadow-2xl card bg-base-100 bg-opacity-70 hover:bg-opacity-100">
        <figure class="pt-6 mx-auto">
          <img src="./img/discuss.png" class="w-full -mt-16 rounded-xl">
        </figure> 
        <div class="card-body">
          <h2 class="-mx-2 text-2xl font-bold tracking-wide text-base-content">Engage in meaningful discussions.</h2> 
          <!-- <p class="mt-2">You decide wherever limit your posts, enjoy the threaded discussion to really talk about anything.</p>  -->
        </div>
    </div> 
    <div style="overflow: visible;" class="text-center shadow-2xl card bg-base-100 bg-opacity-70 hover:bg-opacity-100">
        <figure class="pt-6 mx-auto">
          <img src="./img/group2.png" class="w-full -mt-16 rounded-xl">
        </figure> 
        <div class="card-body">
          <h2 class="-mx-2 text-2xl font-bold tracking-wide text-base-content">Create different audiences for your contents.</h2> 
          <!-- <p class="mt-2"></p>  -->
        </div>
    </div>  
    <div style="overflow: visible;" class="text-center shadow-2xl card bg-base-100 bg-opacity-70 hover:bg-opacity-100">
      <figure class="pt-6 mx-auto">
        <img src="./img/network.png" class="w-full -mt-16 rounded-xl">
      </figure> 
      <div class="card-body">
        <h2 class="-mx-2 text-2xl font-bold tracking-wide text-base-content">Have granular control over who can interact with you.</h2> 
        <!-- <p>A preconfigured setup that includes different features to empower human cooperation in small/large bioregions, communities, movements, DAOs and co-ops.</p>  -->
      </div>
  </div>
  </div>
</div>