---
layout: layouts/base.njk
---


<div class=" mx-4 mt-16  lg:mx-auto">

    <div class="max-w-screen-lg mx-auto relative mt-8 flex items-center justify-center">
    <div class="relative z-50">
        <span class="text-center block text-[58px]">🌍</span>
        <h1 class="relative z-50 font-semibold text-center  text-[58px] leading-[80px] mb-2 tracking-tight">
        Gaia Connect
        </h1>
    <h2 class="text-xl text-center lg:text-xl mb-4 !leading-[34px] mx-auto text-base-content/90">Bridging the gap between Humans and Gaia</h2>
        <h2 class="text-lg max-w-screen-sm text-center mb-10 mx-auto text-base-content/50">In the digital age, while we've bridged human divides with social networks, we've drifted apart from our planet. What if we could rekindle that lost connection?</h2>

    <div class="flex items-center place-content-center gap-4">
        {# <a href="https://campground.bonfire.cafe" target="blank" class="btn rounded-full normal-case btn-primary px-5">Explore the playground</a> #}
        <a href="mailto:team@bonfire.cafe" class="btn rounded-full normal-case  btn-primary btn-outline px-4">Connect with us</a>
    </div>
    </div>
    </div>





    <div class="overflow-hidden  mt-32 py-4">
      <div class="mx-auto max-w-screen-lg md:px-6 lg:px-8">
        <div class="w-full">
        <div class="rounded-lg flex-1 h-full border-base-content/20 bg-base-200 rounded-box">
          <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-center  p-3 rounded-xl">
            <div class="sm:px-6 lg:px-0">
              <div class="isolate">
                <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
                  <img src="/img/gaia1.png" alt="Gaia" class="w-full max-w-none">
                </div>
              </div>
            </div>
            <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
              <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
                <h2 class="text-sm font-bold leading-7 uppercase text-secondary">the new reality</h2>
                <p class="mt-2 text-3xl font-bold tracking-tight text-base-content sm:text-4xl">A changing climate</p>
                <p class="mt-6 text-lg leading-8 text-base-content/70">Raging wildfires and unprecedented floods - are stark reminders that the Earth is not a silent observer. <br /> <b> It's an active agent.</b></p>
              </div>
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>


    <div class="overflow-hidden py-4">
      <div class="mx-auto max-w-screen-lg md:px-6 lg:px-8">
                  <div class="w-full ">
      <div class="rounded-lg flex-1 h-full  bg-base-200 rounded-box">
        <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-center p-3 rounded-xl">
           
          <div class="px-6 lg:pt-4">
            <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
              <h2 class="text-sm font-bold leading-7 uppercase text-secondary">imagine</h2>
              <p class="mt-2 text-3xl font-bold tracking-tight text-base-content sm:text-4xl">A world where gaia speaks</p>
              <p class="mt-6 text-lg leading-8 text-base-content/70">...and we can listen. <br />
Through Bonfire, we dream of a world where you can converse with our planet just like you chat with a friend. </p>
            </div>
          </div>
         <div class="sm:px-6 lg:px-0">
            <div class="isolate">
              <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
                <img src="/img/gaia2.png" alt="Gaia" class="w-full max-w-none">
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>



    <div class="overflow-hidden py-4">
      <div class="mx-auto max-w-screen-lg md:px-6 lg:px-8">
        <div class="w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/20 to-base-content/40 p-[0.075rem]">
          <div class="rounded-lg flex-1 h-full border-base-content/20 bg-base-100/80 p-4">
            <div class="mt-8 text-3xl font-bold tracking-tight text-base-content sm:text-4xl text-center">Tuned into Nature’s signals</div>
            <div class="max-w-xl mx-auto text-center text-base-content/80 text-base mt-4">
              By connecting IoT with the fediverse, we make it possible for users to keep a finger on the pulse of nature's health. Whether it's the air quality of your city, the changing conditions of a favorite mountain trail, or the water purity in a beloved lake, you can follow bots that update followers regularly through messages and meaningful data visualisations.
            <img src="/img/gaia5.png" class="mx-auto mt-6 my-4 h-fit">
          </div>
        </div>
      </div>
    </div>

    <div class="overflow-hidden  py-4 pt-8">
      <div class="mx-auto max-w-screen-lg md:px-6 lg:px-8">
          <div class="">
      <div class="rounded-xl flex-1 h-full border-base-content/20 bg-base-200">
        <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-center p-3 rounded-xl">
           <div class="sm:px-6 lg:px-0">
            <div class="isolate">
              <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
                <img src="/img/gaia3.png" alt="Gaia" class="w-full max-w-none">
              </div>
            </div>
          </div>
          <div class="px-6 lg:px-0 lg:pr-4 lg:pt-4">
            <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
              <h2 class="text-sm font-bold leading-7 uppercase text-secondary">leverage</h2>
              <p class="mt-2 text-3xl font-bold tracking-tight text-base-content sm:text-4xl">The power of IoT and Data</p>
              <p class="mt-6 text-lg leading-8 text-base-content/70">We can help transforming and broadcasting the huge amount of raw data coming from Gaia into intuitive visuals and messages, making Earth's voice clearer and more actionable.</p>
            </div>
          </div>
          </div>
      </div>
        </div>
      </div>
    </div>


    <div class="overflow-hidden py-4 pt-8">
      <div class="mx-auto max-w-screen-lg md:px-6 lg:px-8">
          <div class="w-full">
      <div class="rounded-box flex-1 h-full border-base-content/20 bg-base-200">
        <div class="grid grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:grid-cols-2 lg:items-center p-3 rounded-xl">
           
          <div class="px-6 lg:pt-4">
            <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-lg">
              <h2 class="text-sm font-bold leading-7 uppercase text-secondary">meet</h2>
              <p class="mt-2 text-3xl font-bold tracking-tight text-base-content sm:text-4xl">Your Earthly neighbors</p>
              <p class="mt-6 text-lg leading-8 text-base-content/70">Think beyond traditional wellbeing  apps that only update you about your body. With Bonfire, immerse yourself in real-time notifications about the wellness of the world outside - the rivers, the mountains, the meadows, and more.</p>
            </div>
          </div>
         <div class="sm:px-6 lg:px-0">
            <div class="isolate">
              <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
                <img src="/img/gaia4.png" alt="Gaia" class="w-full max-w-none">
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>


<div class="flex items-center place-content-center gap-4">
        {# <a href="https://campground.bonfire.cafe" target="blank" class="btn rounded-full normal-case btn-primary px-5">Explore the playground</a> #}
        <a href="mailto:team@bonfire.cafe" class="btn my-16 rounded-full normal-case btn-lg btn-primary btn-outline px-4">Connect with us</a>
    </div>
    
  </div>


