---
layout: layouts/base.njk
---


<div class=" mx-4 mt-16  lg:mx-auto">

    <div class="max-w-screen-xl mx-auto relative flex items-center justify-center">
    <div class="relative z-50">
        <img src="/img/gaia.png" class="object-cover rounded-lg  w-full max-w-[680px]" />
        <h1 class="relative z-50 font-semibold text-center mt-8  text-[58px] leading-[80px] mb-2 tracking-tight">
        Meet Gaia
        </h1>
    <h2 class="text-2xl max-w-xl mx-auto !leading-[34px] text-center text-base-content/90">Your Federated AI Companions for the More-Than-Human Worlds</h2>

    <div class="flex mt-8 items-center place-content-center gap-4">
        {# <a href="https://campground.bonfire.cafe" target="blank" class="btn rounded-full normal-case btn-primary px-5">Explore the playground</a> #}
        <a href="mailto:team@bonfire.cafe" class="btn btn-outline rounded-full !border !border-base-content/30 normal-case">Connect with us</a>
    </div>
    </div>
    </div>



  <div class="max-w-screen-xl mt-32  mx-auto">
    <div class="flex border-t-2 pt-6 mb-16 lg:items-center flex-col lg:flex-row lg:justify-between">
      <div class="flex flex-col gap-4 items-start">
        <div class="text-4xl font-semibold tracking-wider">Follow Gaia</div>
        <div class="text-lg  max-w-xl !leading-[34px] text-base-content/90">Leveraging Bonfire's modular architecture, developers can effortlessly build new extensions, making full use of a stable and documented set of building blocks.</div>
      </div>
      <a href="/features" class="mt-6 lg:mt-0 btn btn-outline !border !border-base-content/30 rounded-full normal-case">View all features</a>
    </div>
    <div class="grid grid-cols-1 lg:gap-8 gap-y-8 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-12">
      <div class="col-span-6 mt-6 md:col-span-3 w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
        <div class="border-b rounded-lg flex-1 h-full border-base-content/20 bg-base-200 p-4">
          <div class="flex items-center">
            <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Real time Monitoring</div>
          </div>
          <div class="text-base-content/80 mt-4">Receive live updates on crucial environmental metrics through Gaia Bots powered by a network of IoT devices.</div>
          <img src="/img/c5.png" class="mx-auto my-4 h-[80px]" />
        </div>
      </div>

      <div class="col-span-6 mt-6 md:col-span-3 w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
        <div class="border-b rounded-lg flex-1 h-full border-base-content/20 bg-base-200 p-4">
          <div class="flex items-center">
            <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Citizen Science</div>
          </div>
          <div class="text-base-content/80 mt-4">Engage in community-driven data collection, contribute to a growing pool of environmental data, and drive impactful local actions.</div>
          <img src="/img/c5.png" class="mx-auto my-4 h-[80px]" />
        </div>
      </div>
    
      <div class="col-span-6 mt-6 md:col-span-3 w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
        <div class="border-b rounded-lg flex-1 h-full border-base-content/20 bg-base-200 p-4">
          <div class="flex items-center">
            <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">AI-Driven Analysis</div>
          </div>
          <div class="text-base-content/80 mt-4">Uncover trends, anomalies, and predictive insights with AI-powered analysis of community-collected environmental data</div>
          <img src="/img/c6.png" class="mx-auto my-4 h-[80px]" />
        </div>
      </div>

      <div class="col-span-6 mt-6 md:col-span-3 w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
        <div class="border-b rounded-lg flex-1 h-full border-base-content/20 bg-base-200 p-4">
          <div class="flex items-center">
            <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Open Data, Open Access</div>
          </div>
          <div class="text-base-content/80 mt-4">Join a decentralized network promoting transparency, data ownership, and collective innovation.</div>
          <img src="/img/c8.png" class="mx-auto my-4 h-[80px]" />
        </div>
      </div>
    </div>
  </div>


    <div class="max-w-screen-xl mt-32  mx-auto">
    <div class="flex border-t-2 pt-6 mb-16 lg:items-center flex-col lg:flex-row lg:justify-between">
      <div class="flex flex-col gap-4 items-start">
        <div class="text-4xl font-semibold tracking-wider">Receive insights right into your timeline</div>
        <div class="text-lg  max-w-2xl !leading-[34px] text-base-content/90">Whether it's updates on ecosystem health, wildlife encounters, or environmental stories, Gaia brings the more-than-human worlds to your digital doorstep. Stay informed, inspired, and engaged as you scroll through your timeline, making every moment a chance to connect with Earth's wonders.</div>
      </div>
    </div>
    <div class="grid grid-cols-1 lg:gap-8 gap-y-8 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-6">
      <div class="col-span-3 mt-6 md:col-span-2 w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
        <div class="border-b rounded-lg flex-1 h-full border-base-content/20 bg-base-200 p-4">
          <div class="flex items-center">
            <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Air Pollution</div>
          </div>
          <div class="text-base-content/80 mt-4">Circles are a tool that can be used to establish relationships. They are representations of multifaceted relationships that you have with people in your life.</div>
          <img src="/img/c5.png" class="mx-auto my-4 h-[80px]" />
        </div>
      </div>
    
      <div class="col-span-3 mt-6 md:col-span-2 w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
        <div class="border-b rounded-lg flex-1 h-full border-base-content/20 bg-base-200 p-4">
          <div class="flex items-center">
            <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">Local Weather</div>
          </div>
          <div class="text-base-content/80 mt-4">Create and assign custom roles to grant different permissions to users and circles. Roles affect what actions users can take and what information they can view, interact with, or even edit.</div>
          <img src="/img/c6.png" class="mx-auto my-4 h-[80px]" />
        </div>
      </div>

      <div class="col-span-3 mt-6 md:col-span-2 w-full shadow-lg flex rounded-lg bg-gradient-to-t from-base-content/5 to-base-content/40 p-[0.075rem]">
        <div class="border-b rounded-lg flex-1 h-full border-base-content/20 bg-base-200 p-4">
          <div class="flex items-center">
            <div class="text-base-content text-lg font-semibold flex flex-row xl:flex-col">CO2 Tracking</div>
          </div>
          <div class="text-base-content/80 mt-4">Your data belong to you. On the fediverse, you are not restricted to a specific software or instance; you are free to leave, transfer all your data, and move to a different instance.</div>
          <img src="/img/c8.png" class="mx-auto my-4 h-[80px]" />
        </div>
      </div>
    </div>
  </div>



  <div class="max-w-screen-xl mt-32  mx-auto">
    <div class="flex border-t-2 pt-6 mb-16 lg:items-center flex-col lg:flex-row lg:justify-between">
      <div class="flex flex-col gap-4 items-start">
        <div class="text-4xl font-semibold tracking-wider">FAQs</div>
      </div>
    </div>
    <div
      x-data="{ openPanel: 0 }"
      class="">
      <dl class="space-y-6 divide-y divide-base-content">
        <div class="pt-6">
          <dt class="text-3xl font-medium">
            <button
              x-description="Expand/collapse question button"
              @click="openPanel = (openPanel === 0 ? null : 0)"
              class="flex items-start justify-between w-full text-left">
              <span class="font-medium">
                  What is Gaia Connect?
              </span>
              <span class="flex items-center ml-6 h-7">
                  <svg
                  x-description="Heroicon name: outline/chevron-down"
                  x-state:on="Open"
                  x-state:off="Closed"
                  x-bind:class="{ '-rotate-180': openPanel === 0, 'rotate-0': !(openPanel === 0) }"
                  class="w-6 h-6 transform -rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
              </span>
              </button>
          </dt>
          <dd
              x-show="openPanel === 0"
              class="pr-12 mt-4">
              <div class="prose prose-xl prose-light max-w-full">
                Gaia Connect is a transformative project that bridges the gap between humanity and the natural world through the power of federated AI. It's a platform that connects users with real-time insights from critical zones, environmental data, and the voice of Earth itself.
              </div>
          </dd>
        </div>
      
        <div class="pt-6">
          <dt class="text-3xl font-medium">
            <button
              x-description="Expand/collapse question button"
              @click="openPanel = (openPanel === 1 ? null : 1)"
              class="flex items-start justify-between w-full text-left">
              <span class="font-medium">
                  How does Gaia Connect work?
              </span>
              <span class="flex items-center ml-6 h-7">
                  <svg
                  x-description="Heroicon name: outline/chevron-down"
                  x-state:on="Open"
                  x-state:off="Closed"
                  x-bind:class="{ '-rotate-180': openPanel === 1, 'rotate-0': !(openPanel === 1) }"
                  class="w-6 h-6 transform -rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
              </span>
              </button>
          </dt>
          <dd
              x-show="openPanel === 1"
              class="pr-12 mt-4">
              <div class="prose prose-xl prose-light max-w-full">
                Gaia Connect integrates sensors placed in critical zones, which collect data on various aspects of ecosystems. AI processes this data and translates it into human-friendly insights. Users receive these insights on their social media timelines, fostering a direct connection with the natural world.
              </div>
          </dd>
        </div>
      
        <div class="pt-6">
          <dt class="text-3xl font-medium">
            <button
              x-description="Expand/collapse question button"
              @click="openPanel = (openPanel === 2 ? null : 2)"
              class="flex items-start justify-between w-full text-left">
              <span class="font-medium">
                What kind of insights does Gaia Connect provide?
              </span>
              <span class="flex items-center ml-6 h-7">
                  <svg
                  x-description="Heroicon name: outline/chevron-down"
                  x-state:on="Open"
                  x-state:off="Closed"
                  x-bind:class="{ '-rotate-180': openPanel === 2, 'rotate-0': !(openPanel === 2) }"
                  class="w-6 h-6 transform -rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
              </span>
              </button>
          </dt>
          <dd
              x-show="openPanel === 2"
              class="pr-12 mt-4">
              <div class="prose prose-xl prose-light max-w-full">
                Gaia Connect offers insights on a range of topics, including air quality, weather updates, CO2 tracking, ecosystem health, and more. These insights aim to inform, inspire, and foster a sense of responsibility towards the environment.
              </div>
          </dd>
        </div>
      
        <div class="pt-6">
          <dt class="text-3xl font-medium">
            <button
              x-description="Expand/collapse question button"
              @click="openPanel = (openPanel === 3 ? null : 3)"
              class="flex items-start justify-between w-full text-left">
              <span class="font-medium">
                  How can I interact with Gaia Companions?
              </span>
              <span class="flex items-center ml-6 h-7">
                  <svg
                  x-description="Heroicon name: outline/chevron-down"
                  x-state:on="Open"
                  x-state:off="Closed"
                  x-bind:class="{ '-rotate-180': openPanel === 3, 'rotate-0': !(openPanel === 3) }"
                  class="w-6 h-6 transform -rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
              </span>
              </button>
          </dt>
          <dd
              x-show="openPanel === 3"
              class="pr-12 mt-4">
              <div class="prose prose-xl prose-light max-w-full">
                Gaia AI is designed for interactive conversations. Users can ask questions, seek guidance, share their thoughts, and engage in discussions with Gaia, making the experience more engaging and informative.
              </div>
          </dd>
        </div>
      
        <div class="pt-6">
          <dt class="text-3xl font-medium">
            <button
              x-description="Expand/collapse question button"
              @click="openPanel = (openPanel === 4 ? null : 4)"
              class="flex items-start justify-between w-full text-left">
              <span class="font-medium">
                  How can I integrate GAIA into my environmental devices?
              </span>
              <span class="flex items-center ml-6 h-7">
                  <svg
                  x-description="Heroicon name: outline/chevron-down"
                  x-state:on="Open"
                  x-state:off="Closed"
                  x-bind:class="{ '-rotate-180': openPanel === 4, 'rotate-0': !(openPanel === 4) }"
                  class="w-6 h-6 transform -rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
              </span>
              </button>
          </dt>
          <dd
              x-show="openPanel === 4"
              class="pr-12 mt-4">
              <div class="prose prose-xl prose-light max-w-full">
                Integrating GAIA into your project is straightforward. You can connect your environmental sensors and data sources to GAIA's platform, allowing it to process and share insights. Contact our development team for detailed integration guidelines.
              </div>
          </dd>
        </div>
      
        <div class="pt-6">
          <dt class="text-3xl font-medium">
            <button
              x-description="Expand/collapse question button"
              @click="openPanel = (openPanel === 5 ? null : 5)"
              class="flex items-start justify-between w-full text-left">
              <span class="font-medium">
                 Is GAIA's AI customizable for specific use cases?
              </span>
              <span class="flex items-center ml-6 h-7">
                  <svg
                  x-description="Heroicon name: outline/chevron-down"
                  x-state:on="Open"
                  x-state:off="Closed"
                  x-bind:class="{ '-rotate-180': openPanel === 5, 'rotate-0': !(openPanel === 5) }"
                  class="w-6 h-6 transform -rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
              </span>
              </button>
          </dt>
          <dd
              x-show="openPanel === 5"
              class="pr-12 mt-4">
              <div class="prose prose-xl prose-light max-w-full">
                Yes, GAIA's AI is flexible and customizable. We understand that different projects have unique requirements. Our developers can work with you to tailor GAIA's capabilities to suit your specific use case.
              </div>
          </dd>
        </div>
      
        <div class="pt-6">
          <dt class="text-3xl font-medium">
            <button
              x-description="Expand/collapse question button"
              @click="openPanel = (openPanel === 6 ? null : 6)"
              class="flex items-start justify-between w-full text-left">
              <span class="font-medium">
                Can I contribute to GAIA's development and AI training?
              </span>
              <span class="flex items-center ml-6 h-7">
                  <svg
                  x-description="Heroicon name: outline/chevron-down"
                  x-state:on="Open"
                  x-state:off="Closed"
                  x-bind:class="{ '-rotate-180': openPanel === 6, 'rotate-0': !(openPanel === 6) }"
                  class="w-6 h-6 transform -rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
              </span>
              </button>
          </dt>
          <dd
              x-show="openPanel === 6"
              class="pr-12 mt-4">
              <div class="prose prose-xl prose-light max-w-full">
                Yes, we welcome contributions from developers, researchers, and AI enthusiasts. Join our open-source community to collaborate on GAIA's development, AI training, and data analysis efforts.
              </div>
          </dd>
        </div>
      
        <div class="pt-6">
          <dt class="text-3xl font-medium">
            <button
              x-description="Expand/collapse question button"
              @click="openPanel = (openPanel === 7 ? null : 7)"
              class="flex items-start justify-between w-full text-left">
              <span class="font-medium">
                What is the long-term vision of Gaia Connect?
              </span>
              <span class="flex items-center ml-6 h-7">
                  <svg
                  x-description="Heroicon name: outline/chevron-down"
                  x-state:on="Open"
                  x-state:off="Closed"
                  x-bind:class="{ '-rotate-180': openPanel === 7, 'rotate-0': !(openPanel === 7) }"
                  class="w-6 h-6 transform -rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
              </span>
              </button>
          </dt>
          <dd
              x-show="openPanel === 7"
              class="pr-12 mt-4">
              <div class="prose prose-xl prose-light max-w-full">
                Gaia Connect's long-term vision is to create a cultural shift towards a harmonious coexistence between humanity and the natural world. It aspires to be a catalyst for sustainable actions and a beacon of hope for a thriving planet.
              </div>
          </dd>
        </div>
      
        <div class="pt-6">
          <dt class="text-3xl font-medium">
            <button
              x-description="Expand/collapse question button"
              @click="openPanel = (openPanel === 8 ? null : 8)"
              class="flex items-start justify-between w-full text-left">
              <span class="font-medium">
                How can I access GAIA's datasets for research and analysis?
              </span>
              <span class="flex items-center ml-6 h-7">
                  <svg
                  x-description="Heroicon name: outline/chevron-down"
                  x-state:on="Open"
                  x-state:off="Closed"
                  x-bind:class="{ '-rotate-180': openPanel === 8, 'rotate-0': !(openPanel === 8) }"
                  class="w-6 h-6 transform -rotate-180"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                  </svg>
              </span>
              </button>
          </dt>
          <dd
              x-show="openPanel === 8"
              class="pr-12 mt-4">
              <div class="prose prose-xl prose-light max-w-full">
                Researchers interested in accessing GAIA's datasets for scientific purposes are encouraged to reach out to us. We support data sharing and collaboration with the scientific community.
              </div>
          </dd>
        </div>
      </dl>

    </div>
  </div>

    <div class="flex items-center place-content-center gap-4">
        {# <a href="https://campground.bonfire.cafe" target="blank" class="btn rounded-full normal-case btn-primary px-5">Explore the playground</a> #}
        <a href="mailto:team@bonfire.cafe" class="btn my-16 rounded-full normal-case btn-lg btn-primary btn-outline px-4">Connect with us</a>
    </div>
    
  </div>


