<section class="max-w-screen-lg mx-auto">
  <article class="prose text-[28px] mt-24 serif-regular text-base-content">

   <h1> What is Bonfire?</h1>

<p><b>Bonfire is open, community-first social infrastructure.</b></p>

<p>Big Tech chases profit through centralisation, blockchain chases sovereignty over solidarity. Both neglect collective care and real community needs.</p>

<p>Bonfire offers a third way: trustful communities with real autonomy and participatory governance, interconnected across the open web.</p>
<p>Instead of optimising for scale and profit, Bonfire empowers communities to shape digital spaces that reflect shared values, such as autonomy, mutual care, and collective power.</p>

<p>We build for communities, not "users". We design for relationships, not engagement metrics.</p>




  </article>
</section>