<div class="max-w-screen-lg mx-4 2xl:max-w-screen-xl lg:mx-auto mt-40">
    <div class="relative flex flex-col text-center items-center grid-cols-1 gap-4 place-content-center">
      <div class="text-[48px] font-extrabold leading-[1.3] tracking-wider text-base-content">Explore what's possible</div>
      <div class="text-[32px] font-normal text-base-content/80">When you're not the product</div>
    </div>
    <div class="px-[64px] mt-32 bg-[#A0708D] rounded-2xl py-16">
      <div class="items-center gap-16 lg:mx-auto lg:grid lg:grid-cols-2 place-content-start lg:grid-flow-col-dense">
          <div class="flex flex-col gap-2 col-span-1">
            <div class="w-[60px] h-[60px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-[24px] h-[24px]" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35Z"/></svg>
            </div>
            <div class="mt-10 text-[32px] font-bold tracking-wider text-base-content">Defaults belong to you</div>
            <div class="mt-2 text-[20px] leading-[32px] tracking-wider font-normal text-base-content/70">Start with the core features of Bonfire, then add or remove extensions based on the functionality you need. With this flexibility, you can customize your experience to fit your exact preferences. Edit your preferences with confidence, knowing that you can easily adjust your setup as needed.</div>
          </div>
          {# <div class="col-span-1 bg-contain object-center bg-no-repeat max-w-[600px] h-full w-full bg-[url('/img/defaults.png')]"></div> #}
      </div>
    </div>

    <div class="flex flex-col md:flex-row gap-10 my-10">

      <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
        <div class="text-xl font-semibold text-center">Define circles that mirror real life</div>
        <div class="text-lg text-center text-base-content/70 mt-4">People don’t fit in binary boxes labeled “follower” or “friend”, so define as many custom circles as you need.</div>
      </div>

      <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
        <div class="text-xl font-semibold text-center">Assign roles to fine-tune permissions</div>
        <div class="text-lg text-center text-base-content/70 mt-4">Roles are a way to group permissions together. You can assign roles to users and circles.</div>
      </div>
    </div>

    <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
      <div class="text-xl font-semibold text-center">You’re free to leave</div>
      <div class="text-lg text-center text-base-content/70 mt-4">The network, your posts, and your profile do not belong to the platform or the instance; they belong to you. In the fediverse, you are not bound to any software or instance; you are free to leave, port everything, and move to another instance.</div>
    </div>
</div>