<div class="max-w-screen-lg mx-4 2xl:max-w-screen-xl lg:mx-auto mt-52">
    <div class="relative flex flex-col text-center items-center grid-cols-1 gap-4 place-content-center">
      <div  style="width: 1px;" class="h-16 mx-auto mb-4 bg-gradient-to-b from-base-200 to-base-content"></div>
      <div class="text-[36px] font-extrabold leading-[1.3] tracking-wider text-base-content">Explore what is possible</div>
      <div class="text-[24px] mx-auto max-w-[800px] leading-[35px] font-normal text-base-content/60">when you're not the product</div>
    </div>


  <div class="bg-gradient-to-r mt-20 from-sky-900 via-violet-600 to-white/70 col-span-3 rounded-2xl shadow-xl p-[1px]">
    <div class="px-[64px] bg-gradient-to-tl from-amber-200 via-violet-600 to-sky-900 rounded-2xl py-16">
      <div class="grid grid-cols-1 gap-y-16 gap-x-8 sm:gap-y-20 lg:grid-cols-2 lg:items-start">
          <div class="px-6 lg:px-0 lg:pt-4 lg:pr-4">
            <div class="w-[60px] h-[60px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-[24px] h-[24px]" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m12 21.35l-1.45-1.32C5.4 15.36 2 12.27 2 8.5C2 5.41 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.08C13.09 3.81 14.76 3 16.5 3C19.58 3 22 5.41 22 8.5c0 3.77-3.4 6.86-8.55 11.53L12 21.35Z"/></svg>
            </div>
            <div class="mt-10 text-[32px] font-bold tracking-wider text-base-content">You are in control</div>
            <div class="mt-2 text-[20px] leading-[32px] tracking-wider font-normal text-base-content/70">Start with the core features of Bonfire, then add or remove extensions based on the functionality you need and configure everything to your preferences. With this flexibility, you can customize your experience to fit your exact values and needs, and easily adjust your setup at any time.</div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative isolate overflow-hidden sm:mx-auto sm:max-w-2xl sm:rounded-3xl lg:mx-0 lg:max-w-none">
              <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
                <img src="/img/defaults.png" alt="defaults" width="640" height="492" class="w-full max-w-none">
              </div>
            </div>
          </div>
          {# <div class="col-span-1 bg-contain object-center bg-no-repeat max-w-[600px] h-full w-full bg-[url('/img/defaults.png')]"></div> #}
      </div>
    </div>
  </div>

    <div class="grid grid-cols-1 gap-10 my-10 lg:grid-cols-2">

      <div class="bg-[#282736] rounded-2xl !pb-0 p-12">
        <div class="text-[32px] font-bold text-center">Define circles that mirror real life</div>
        <div class="text-lg text-center text-base-content/70 mt-4">Relationships cannot be confined to binary categories like “follower” or “friend”. Define as many personalized circles as makes sense for you.</div>
        <div class="relative mb-[-46px] mt-6 isolate overflow-hidden sm:mx-auto sm:max-w-2xl sm:rounded-3xl lg:mx-0 lg:max-w-none">
          <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
            <img src="/img/c.png" alt="circle screenshot" class="w-full max-w-none">
          </div>
        </div>
      </div>

      <div class="bg-[#282736] rounded-2xl p-12 !pb-0">
        <div class="text-[32px]  font-bold text-center">Set some healthy boundaries</div>
        <div class="text-lg text-center text-base-content/70 mt-4">Assign roles to circles and users to control if and how they can see and interact with you and your data. </div>
        <div class="relative mt-16 isolate overflow-hidden sm:mx-auto sm:max-w-2xl sm:rounded-3xl lg:mx-0 lg:max-w-none">
          <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
            <img src="/img/r.png" alt="circle screenshot" class="w-full max-w-none">
          </div>
        </div>
      </div>
    </div>
    <div class="bg-[#282736] rounded-2xl shadow-xl p-12">
      <div class="grid grid-cols-1 gap-y-16 gap-x-10 sm:gap-y-20 lg:grid-cols-2 items-center">
        <div class="relative isolate overflow-hidden sm:mx-auto sm:max-w-2xl sm:rounded-3xl lg:mx-0 lg:max-w-none">
          <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
            <img src="/img/3.png" alt="free to leave" width="640" height="492" class="w-full max-w-none">
          </div>
        </div>
        <div>
      <div class="text-[32px] font-bold text-left">You are free to leave</div>
      <div class="text-lg text-left text-base-content/70 mt-4">The platform or instance does not own your profile, posts, or network. These belong to you. On the fediverse, you are not restricted to a specific software or instance; you are free to leave, transfer all your data, and move to a different instance.</div>
      </div>
      </div>
    </div>
</div>