
<div class="p-3 mt-16 relative lg:mx-auto">

{# <div class="max-w-screen-lg mx-auto">
  <a class="inline-flex justify-between  px-2 py-1 rounded-full gap-x-2 text-info bg-info/20 hover:bg-info/40 mt-12" href="/posts/bonfire-social-1-0rc3/" role="alert">
    <p class="flex-1 px-2">
      🎉 <strong class="ml-1 font-bold">Bonfire Social 1.0 Release Candidate 3 is ready!</strong>
    </p>
  </a>
</div> #}

{# <div class="min-h-[calc(100vh-90px)] flex flex-col">
  <div class="max-w-screen-lg py-24 mx-auto ">
      <div class="flex relative flex-col items-center items-center place-content-center"> 
        
        <h1 class="relative items-center flex gap-2 z-50 font-bold lg:leading-[68px] text-5xl text-center ">The Open Source Toolkit</h1> 
        <h1 class="z-50 relative font-bold lg:leading-[68px] text-5xl text-center ">for Network Societies</h1>
        
        <div class="flex relative z-50 items-center gap-4 mt-6">
          <a class="btn btn-primary font-bold " href="/start" target="blank">Get Bonfire</a>
          <a class="btn btn-outline border-base-content/20 font-bold " href="https://docs.bonfirenetworks.org" target="blank">Read the docs</a>
        </div>
      </div>
  </div>
  <div class="bg-[url(/img/bg12.png)] flex-1 rounded-[24px] bg-cover bg-no-repeat bg-center">
  </div>
</div> #}

<div class="max-w-screen-lg relative z-50 mx-auto">
  <div class="max-w-screen-lg px-4 lg:px-0 mb-4 pt-8 mx-auto">
    <h1 class="text-3xl text-center font-bold lg:text-6xl lg:leading-[72px] text-base-content mx-auto">Building blocks for communities</h1>
    <div class="text-3xl mt-8 text-center font-normal mb-6"> 
      Creating digital spaces we actually control.<br/> No billionaires, no algorithms, no enshittification. <br/>We shape our own social web.
     {# Co-creating tools and digital spaces for community and care on the open social web.  #}

      {# We are building a federated social web with shared foundations and co-created spaces for gathering, care, connection, and stewardship. #}

    </div>
     <div class="flex items-center gap-4 justify-center">
        <a href="/start" class="btn btn-lg btn-primary">Start a server</a>
        <a href="/mosaic" class="btn btn-lg btn-primary">Build together</a>
      </div>
     <div class="col-span-1 mt-12  h-full  p-4 hover:bg-base-content/5 group">
      <img src="/img/bghero.png" class="mx-auto h-auto">
        {# <div style="height: 550px" class="relative w-full h-[550px] rounded-xl">
          <a href="#" class="btn absolute z-50 rotate-30 -right-20 top-[10px] btn-lg btn-primary">Support the crowdfunding</a>
          <iframe class="absolute top-0 left-0 w-full h-full" src="https://www.youtube.com/embed/pwZZKSXbWX4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div> #}
        <div class="">
        
        
        </div>
      </div>
    {# <h2 class="text-xl max-w-(--breakpoint-md) font-normal text-base-content/90 mt-16">Bonfire is built by communities, for communities—rooted in autonomy, mutual care, and collective power. Co-create your tools, reclaim your data, and resist manipulation by shaping your own federated digital spaces.</h2> #}
  </div>

</div>


<div class=" ">
<div class="max-w-screen-lg pb-12 px-4 lg:px-0 mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">


    <a href="/app/social" class="hover:bg-base-content/10">
      <div class="col-span-1 bg-base-content/10  rounded-2xl  h-full  p-2 hover:bg-base-content/20 group">
        <div style="background-image: url(/img/bonfire_gen.png); ; height: 210px" class="bg-no-repeat bg-cover h-[210px] w-full bg-center rounded-xl"></div>
        <div class="px-2">
        <div class="text-xl mt-3 font-black mb-2">Bonfire Social</div>
        <div class="text-base text-base-content/80">A microblogging app that balances local autonomy with global conversation, fully customisable and connected to the wider fediverse.</div>
        </div>
      </div>
    </a>


    <a href="https://openscience.network" target="_blank">
      <div class="col-span-1 bg-base-content/10 rounded-2xl  h-full  p-2 hover:bg-base-content/5 group">
        <div style="background-image: url(/img/osn.png); height: 210px" class="bg-no-repeat bg-cover h-[210px] w-full bg-center rounded-xl"></div>
        <div class="px-2">
        <div class="text-xl mt-3 font-black mb-2">Open Science Network</div>
        <div class="text-base text-base-content/80">Bring research and scholarly data into your social network. Transform conversations into FAIR data with persistent identifiers. Co-design the future of scholarly communication.</div>
        </div>
      </div>
    </a>

    {# <a href="https://campground.bonfire.cafe/" target="blank">
      <div class="col-span-1 border border-base-content/20 rounded-2xl  h-full  p-4 hover:bg-base-content/5 group">
        <div style="background-image: url(/img/social.png)" class="bg-no-repeat bg-cover h-[250px] w-full bg-center rounded-xl"></div>
        <div class="">
        <div class="text-xl mt-8 font-black mb-2">Try our demo</div>
        <div class="text-base text-base-content/80">Test the foundational social network on our staging instance. Federation is disabled by default.</div>
        </div>
      </div>
    </a> #}

    <a href="/mosaic">
      <div class="col-span-1 bg-base-content/10 rounded-2xl  h-full p-2 hover:bg-base-content/5 group">
        <div style="background-image: url(/img/build.png); height: 210px" class="bg-no-repeat bg-cover h-[250px] w-full bg-center rounded-xl"></div>
        <div class="">
        <div class="text-xl mt-4 font-black mb-2">Build with us!</div>
        <div class="text-base text-base-content/80">Run Bonfire on your server and connect with the rest of the fediverse, on your terms. Seamlessly integrate your website, social network, and custom tools into a cohesive federated digital space.</div>
        </div>
      </div>
    </a>

       
        {# <a href="/mosaic" target="blank">
      <div class="col-span-1 border border-base-content/20 rounded-2xl h-full p-4 hover:bg-base-content/5 group">
        <div style="background-image: url(/img/build.png)" class="bg-no-repeat bg-cover h-[250px] w-full bg-center rounded-xl"></div>
        <div class="">
        <div class="text-xl mt-8 font-black mb-2 group-hover:underline">Use</div>
        <div class="text-base text-base-content/80">Leverage upon the bonfire team to co-design your tailored digital space.</div>
        </div>
      </div>
        </a> #}
      
        {# <a href="/design">
          <div class="col-span-1 border border-base-content/20 rounded-2xl  h-full  p-12 hover:bg-base-content/5 group">
            <img src="/img/c2.png" class="mx-auto w-[200px] h-auto rounded-xl">
            <div class="">
            <div class="text-xl mt-8 font-black mb-2 group-hover:underline">Explore</div>
            <div class="text-base text-base-content/80">Learn how Bonfire can empower your community</div>
            </div>
          </div>
        </a> #}

      
    </div>

  </div>
</div>



  </div>


</div>
<div style="border-style: dashed; border-opacity: .3" class="py-20 border-base-content/70 border-dotted border-t border-b">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-lg grid-cols-3 items-center gap-x-16 gap-y-10 sm:max-w-xl sm:grid-cols-3 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-3">
      <a href="https://wedistribute.org/2024/03/bonfire-open-science/" target="blank" class="col-span-1">
        <img width="158" height="48" src="/img/wedis.png" alt="Transistor" class="max-h-12 w-full object-contain" />
      </a>
      <a target="blank" href="https://techcrunch.com/2025/06/05/bonfires-new-software-lets-users-build-their-own-social-communities-free-from-platform-control/" class="col-span-1">
        <img width="158" height="48" src="/img/techcrunch.png" alt="Reform" class="max-h-12 w-full object-contain" />
      </a>
      <a target="blank" href="https://www.theverge.com/news/680895/fediverse-fediforum-2025-open-social-web-apps" class="col-span-1">
        <img width="158" height="48" src="/img/theverge.png" alt="Tuple" class="max-h-12 w-full object-contain" />
      </a>
      {# <img width="158" height="48" src="https://tailwindcss.com/plus-assets/img/logos/158x48/savvycal-logo-gray-900.svg" alt="SavvyCal" class="col-span-2 max-h-12 w-full object-contain sm:col-start-2 lg:col-span-1 dark:hidden" />

      <img width="158" height="48" src="https://tailwindcss.com/plus-assets/img/logos/158x48/statamic-logo-gray-900.svg" alt="Statamic" class="col-span-2 col-start-2 max-h-12 w-full object-contain sm:col-start-auto lg:col-span-1 dark:hidden" /> #}
    </div>
  </div>
</div>

