---
layout: layouts/base.njk
---

<header class="flex relative bg-[url('/img/mush.png')] text-center overflow-hidden text-white h-auto justify-center items-end py-[17vw] px-[4vw] bg-center bg-cover shadow-inner">
    <div class="my-0 mx-auto max-w-6xl w-full">
        <h1 class="text-4xl sm:text-7xl max-w-screen-lg !leading-[90px] mx-auto font-bold tracking-tight">Cooperative Hosting Network</h1>
    </div>
</header>

<section class="my-0 mx-auto p-[6vmin] sm:py-[10vw] sm:px-[6vmin]">
  <div class="my-0 mx-auto max-w-8xl w-full">
    <div class="max-w-prose mx-auto prose prose-lg">
      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">Join us developing an open co-operative ecosystem to foster a sustainable, resilient infrastructure for Bonfire development, hosting, and technical support.</h2>
      <p class="mt-5 md:text-xl text-base-content">We aim to implement a model for a sustainable, resilient open co-operative ecosystem amidst a digital landscape overshadowed by large centralized profit-driven entities.</p>
      <p class="mt-5 md:text-xl text-base-content">It proposes a holistic approach where software, infrastructure and communities are not isolated entities, but are part of a common ecosystem.</p>


      <p class="mt-5 md:text-xl text-base-content">The Open Cooperative Ecosystem aims to simplify the setup, hosting and operating of Bonfire instances, through a dashboard that automates the whole software life cycle. This dashboard will act as a gateway to an ecosystem of developers, designers and hosting providers, which will work together to provide users and communities with:</p>
        <ul class="text-base-content text-xl font-medium">
          <li><b>Openness:</b> Designers, developers, and sysadmins can join the ecosystem to provide services and receive compensation.</li>
          <li><b>Mutualism:</b> Projects and communities that meet specific criteria may exchange services in-kind, or benefit from special rates.</li>
          <li><b>Flexibility:</b> From a personal instance to a large community, the open ecosystem will guide the user based on their specific needs and budget.</li>
          <li><b>Inclusivity:</b> Users and communities can collectively shape the ecosystem’s roadmaps, by co-designing and funding desired features.</li>
        </ul>
       <p class="mt-5 md:text-xl text-base-content">From the other side, the dashboard will also operate as an economic network to track each contribution and distribute the available funds according to value equation formulas as democratically defined by the ecosystem stakeholders.</p>
      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">Join the ecosystem</h2>
        <p class="mt-5 md:text-xl text-base-content">The current proposal is a joint effort between Coop Cloud and Bonfire Networks. We are looking for partner to build the ecosystem. If you are interested do not hesitate to contact us at team@bonfire.cafe.</p>
      <div class="grid grid-cols-4 gap-4">
        <div class="">
          <img src="/img/coopcloud.png"  class="w-[180px] !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover" />
          <div class="text-base font-bold mt-4 text-center">Coop Cloud</div>
        </div>
        <div class="">
          <img src="/img/bonhosting.png"  class="w-[180px] !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover" />
          <div class="text-base font-bold mt-4 text-center">Bonfire Networks</div>
        </div>

      </div>
      
    </div>
  </div>
</section>