---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="mx-4 max-w-screen-xl lg:mx-auto">
{% include "hero.njk" %}
</div>


  {% include "newsletter.njk" %}
  
<div class="max-w-screen-lg mx-4 2xl:max-w-screen-xl lg:mx-auto">
  {% include "why.njk" %} 
</div>

{% include "cta.njk" %}

<div class="max-w-screen-lg mx-4 2xl:max-w-screen-xl lg:mx-auto">
  {# {% include "what.njk" %} #}
  {# {% include "appspreview.njk" %} #}
  <div class="container relative max-w-screen-xl mx-auto mt-20 rubik">
    <div id="blog" style="width: 1px;" class="h-16 mx-auto mt-16 mb-4 bg-gradient-to-b from-base-200 to-base-content"></div>
    <div class="relative mx-auto">
      <span class="relative block text-sm font-semibold tracking-widest text-center uppercase text-base-content text-opacity-90">Latest from the blog</span>
    </div>
  </div>
  {% set postslist = collections.posts  %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postshome.njk" %}
  </div>
  
  {% include "support_footer.njk" %}

  {# {% include "joinus.njk" %} #}

</div>

