
<div class="pb-12 mt-16 border-t  border-base-100 border-opacity-60">
  <div class="mt-4 text-sm tracking-widest uppercase text-base-content text-opacity-90"> Organisations using bonfire</div>
 
  <div class="grid items-center grid-cols-2 gap-8 mt-16 lg:grid-cols-4">
    <a href="https://learndeep.org" target="_blank" class="block flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
      <img class="h-20" src="../img/msoe.png" alt="MSOE">
    </a>
    <a href="https://reflowproject.eu" target="_blank" class="block flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
      <img class="h-16" src="../img/reflowlogo.png" alt="reflow">
    </a>
    <a href="https://disco.coop" target="_blank" class="block flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
      <img class="h-8" src="../img/DIsCO.png" alt="disco.coop">
    </a>
    <a href="https://zo.team" target="_blank" class="block flex justify-center col-span-1 md:col-span-2 lg:col-span-1">
      <img class="h-8" src="../img/zo.png" alt="zo.team">
    </a>
 
  </div>
</div>