<section class="max-w-screen-lg mx-auto">
  <div class="flex items-center gap-3"><span class="uppercase text-base-content/80 font-bold">Our apps</span><div class="h-px my-12  bg-base-content/30 flex-1 w-full"></div></div>
  <article class="prose prose-lg text-base-content">

    <p>Each community has different needs. We build federated digital spaces that serves the needs of each of them.
Explore the apps built with bonfire modular toolkit and choose the one it reflects your needs and vision.
Join an existing community or start a new one.</p>
  </article>

<div role="tablist" class="tabs tabs-box">
    <a role="tab" class="tab">Social</a>
    <a role="tab" class="tab">Community</a>
    <a role="tab" class="tab tab-active">Open Science</a>
    <a role="tab" class="tab">Moderation Toolkit</a>
    <a role="tab" class="tab">Mutual Aid</a>
    <a role="tab" class="tab">Archives</a>
</div>
</section>