---
layout: /layouts/base.njk
title: "Pilots"
---

{# <header class="flex relative bg-[url('/img/pilots.png')] text-center overflow-hidden text-white h-auto justify-center items-end py-[17vw] px-[4vw] bg-center bg-cover shadow-inner">
    <div class="my-0 mx-auto max-w-6xl w-full">
        <h1 class="text-4xl sm:text-7xl max-w-screen-lg !leading-[90px] mx-auto font-bold tracking-tight">Working with pilots.</h1>
    </div>
</header> #}

<section class="my-0 mx-auto p-[6vmin] sm:px-[6vmin]">
  <div class="my-0 mx-auto max-w-8xl w-full">
    <div class="max-w-prose mx-auto prose prose-lg">
      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">We at Bonfire believes that the best way to empower communities is to work closely with them and co-design the tools together.</h2>
      <p class="mt-5 md:text-xl text-base-content">Join us in creating a cooperative ecosystem where every voice matters. At Bonfire, we foster co-design and close collaboration to empower communities. If your current tools fall short of meeting your specific needs, we're here to listen and partner with you. Together, we can craft tailored solutions, whether it's a bonfire extension to address your requirements or a fully customized digital space. Explore our ongoing collaborations with diverse communities below.</p>
    </div>
    
    <div class="max-w-screen-lg mt-24 mx-auto border-t border-base-content/30 pt-6">
      <h2 class="text-2xl md:text-3xl text-left font-bold tracking-tight !leading-normal mb-6 text-base-content">Current pilots</h2>
       <div class="flex flex-col gap-16">
          <div class="flex items-start gap-8">
            <img src="/img/niboe_logo.webp"  class="w-[180px] min-w-[180px] !my-0 bg-[#31b26d] p-4 h-[180px] rounded-lg object-cover flex-1 no-shrink" />
              <div class="flex decoration-none flex-col gap-2">
                <div class="text-2xl font-bold mt-2 text-left">Niboe</div>
                <p class="text-lg"><a target="blank" href="https://niboe.info" class="link">Niboe</a> is a scientific community of divulgators, researchers and activitsts who use their social presence to share news, counteract disinformation and promote scientific debates to the wider public. We are working with them to develop the <a href="/apps/open_science" class="link">Open Science digital space</a>.</p>
                <div class="flex items-center mt-2 gap-4">
                  <a href="/app/open_science" class="btn btn-sm rounded-full btn-outline btn-primary">View app</a>
                </div>
              </div>
          </div>

          <div class="flex items-start gap-8">
            <img src="/img/radiofreefedi.png"  class="w-[180px] min-w-[180px] !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover flex-1 no-shrink" />
              <div class="flex decoration-none flex-col gap-2">
                <div class="text-2xl font-bold mt-2 text-left">Radio Free Fedi</div>
                <p class="text-lg">How a fast growing community of artists and musicians, who commit to share music and organise events and foster a consent based and safe space can coordinate their daily activities and create a space for collaboration and participation as well as broader communication with the audience?  We are working together with <a target="blank" href="https://niboe.info" class="link">Radio Free Fedi</a> to design better tools and user experience for this crucial use case.</p>
                <div class="flex items-center mt-2 gap-4">
                  <a href="/app/community" class="btn btn-sm rounded-full btn-outline btn-primary">View app</a>
                </div>
              </div>
          </div>

          <div class="flex items-start gap-8">
            <img src="/img/rtt.png"  class="w-[180px] min-w-[180px] p-4 !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover flex-1 no-shrink" />
              <div class="flex decoration-none flex-col gap-2">
                <div class="text-2xl font-bold mt-2 text-left">Reclaim The Tech</div>
                <p class="text-lg"><a target="blank" href="https://niboe.info" class="link">Reclaim The Tech</a> is a community and festival focused on AI alghoritmic discrimination, digital and gender violence, digital self-defense and alternative technologies. Together, we are planning workshops to imagine how transfeminist theories and practices can shape and transform federated social networks tools and experiences.</p>
                <div class="flex items-center mt-2 gap-4">
                  {# <a href="/apps/open_science" class="btn btn-sm rounded-full btn-outline btn-primary">View app</a> #}
                  {# <a href="/apps/open_science" class="btn btn-sm rounded-full btn-ghost">Join the discussion</a> #}
                </div>
              </div>
          </div>


        
      </div>
    </div>
  </div>
</section>