---
layout: /layouts/base.njk
title: "Pilots"
---

{# <header class="flex relative bg-[url('/img/pilots.png')] text-center overflow-hidden text-white h-auto justify-center items-end py-[17vw] px-[4vw] bg-center bg-cover shadow-inner">
    <div class="my-0 mx-auto max-w-6xl w-full">
        <h1 class="text-4xl sm:text-7xl max-w-screen-lg !leading-[90px] mx-auto font-bold tracking-tight">Working with pilots.</h1>
    </div>
</header> #}

<section class="my-0 mx-auto p-[6vmin] sm:px-[6vmin]">
  <div class="my-0 mx-auto max-w-8xl w-full">
    <div class="max-w-prose mx-auto prose prose-lg">
      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">We at Bonfire believes that the best way to empower communities is to work closely with them and co-design the tools together.</h2>
      <p class="mt-5 md:text-xl text-base-content">Join us in creating a cooperative ecosystem where every voice matters. At Bonfire, we foster co-design and close collaboration to empower communities. If your current tools fall short of meeting your specific needs, we're here to listen and partner with you. Together, we can craft tailored solutions, whether it's a bonfire extension to address your requirements or a fully customized digital space. Explore our ongoing collaborations with diverse communities below.</p>
    </div>
    
    <div class="max-w-screen-lg mt-24 mx-auto border-t border-base-content/30 pt-6">
      <h2 class="text-2xl md:text-3xl text-left font-bold tracking-tight !leading-normal mb-6 text-base-content">Current pilots</h2>
       <div class="flex flex-col gap-16">
          <div class="flex items-start gap-8">
            <img src="/img/openscience.png"  class="w-[180px] min-w-[180px] !my-0 bg-white/60 p-4 h-[180px] rounded-lg object-cover flex-1 no-shrink" />
              <div class="flex decoration-none flex-col gap-2">
                <div class="text-2xl font-bold text-left">Open Science</div>
                <p class="text-lg">in the era of misinformation, establishing platforms for scientists, researchers, and activists to share science-based facts is essential for fostering informed public discourse. We're actively collaborating with great communities and activists to craft tools that facilitate the dissemination of research, ensuring the promotion of evidence-based information. Together, we aim to contribute to an environment where reliable scientific knowledge can flourish, empowering individuals to engage in more informed and constructive debates.  </p>
                <div class="flex items-center mt-2 gap-4">
                  <a href="/app/open_science" class="btn btn-sm rounded-full btn-outline btn-primary">View app</a>
                </div>
              </div>
          </div>

          <div class="flex items-start gap-8">
            <img src="/img/os.png"  class="w-[180px] min-w-[180px] !my-0 bg-white/60 h-[180px] rounded-lg object-cover flex-1 no-shrink" />
              <div class="flex decoration-none flex-col gap-2">
                <div class="text-2xl font-bold text-left">Community Coordination</div>
                <p class="text-lg">How a fast growing community of artists and musicians, who commit to share their work and organise events, fostering a consent based and safe space, can coordinate their daily activities and create a space for collaboration and participation as well as broader communication with the audience?  We are working together with <a target="blank" href="https://musician.social/@radiofreefedi" class="link">Radio Free Fedi</a> to design better tools and user experience for this crucial use case.</p>
                <div class="flex items-center mt-2 gap-4">
                  <a href="/app/community" class="btn btn-sm rounded-full btn-outline btn-primary">View app</a>
                </div>
              </div>
          </div>

      </div>
    </div>

    <div class="max-w-screen-lg mt-16 mx-auto pt-6">
      <h2 class="text-2xl md:text-3xl text-left font-bold tracking-tight !leading-normal mb-6 text-base-content">Communities involved</h2>
       <div class="grid grid-cols-3 divide-x divide-y divide-base-content/30 mt-12 border-r border-b border-base-content/30">
          <div class="flex flex-col gap-4 h-[540px] p-4 items-center place-content-center border-l border-t border-base-content/30">
            <img src="/img/niboe_logo.webp"  class="w-[180px] min-w-[180px] max-h-[180px] min-h-[180px] !my-0 bg-[#31b26d] p-4 h-[180px] rounded-lg object-cover flex-1 no-shrink" />
              <div class="flex decoration-none flex-col gap-2">
                <div class="text-2xl font-bold mt-2 text-center">Niboe</div>
                <p class="text-lg text-center"><a target="blank" href="https://niboe.info" class="link">Niboe</a> is a scientific community of divulgators, researchers and activitsts who use their social presence to share news, counteract disinformation and promote scientific debates to the wider public. We are working with them to develop the <a href="/apps/open_science" class="link">Open Science digital space</a>.</p>

              </div>
          </div>

          <div class="flex flex-col border-b border-base-content/30 gap-4 h-[540px] p-4 items-center place-content-center">
            <img src="/img/radiofreefedi.png"  class="w-[180px] min-w-[180px] max-h-[180px] min-h-[180px] !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover flex-1 no-shrink" />
              <div class="flex decoration-none flex-col gap-2">
                <div class="text-2xl font-bold mt-2 text-center">Radio Free Fedi</div>
                <p class="text-lg text-center"> <a target="blank" href="https://musician.social/@radiofreefedi" class="link">RadioFreeFedi</a> is consent driven, non-commercial, attribution promoting, 24/7 community supported radio, with more than 400 active contributors.   We are working together with them to design better tools and user experience for improving p2p coordination in online communities.</p>
              </div>
          </div>

          <div class="flex flex-col border-b border-base-content/30 gap-4 h-[540px] p-4 items-center place-content-center">
            <img src="/img/rtt.png"  class="w-[180px] min-w-[180px] max-h-[180px] min-h-[180px] p-4 !my-0 bg-base-content/10 h-[180px] rounded-lg object-cover flex-1 no-shrink" />
              <div class="flex decoration-none flex-col gap-2">
                <div class="text-2xl font-bold mt-2 text-center">Reclaim The Tech</div>
                <p class="text-lg text-center"><a target="blank" href="https://reclaimthetech.it/" class="link">Reclaim The Tech</a> is a community and festival focused on AI alghoritmic discrimination, digital and gender violence. Together, we are planning workshops to imagine how transfeminist theories and practices can shape and transform federated social networks tools and experiences.</p>
                <div class="flex items-center mt-2 gap-4">
                  {# <a href="/apps/open_science" class="btn btn-sm rounded-full btn-outline btn-primary">View app</a> #}
                  {# <a href="/apps/open_science" class="btn btn-sm rounded-full btn-ghost">Join the discussion</a> #}
                </div>
              </div>
          </div>

          <div class="flex flex-col gap-4 border-r border-base-content/30 h-[540px] p-4 items-center place-content-center">
            <img src="/img/logo_uxdi.jpg"  class="w-[180px] min-w-[180px] max-h-[180px] min-h-[180px] p-4 !my-0 bg-white h-[180px] rounded-lg object-cover flex-1 no-shrink" />
              <div class="flex decoration-none flex-col gap-2">
                <div class="text-2xl font-bold mt-2 text-center">Formacion UXDI</div>
                <p class="text-lg text-center"><a target="blank" href="https://reclaimthetech.it/" class="link">Formacion UXDI</a> is an educational community focused on User Experience and Inclusive Design. UXDI is an independent collective of UX professionals and organizations, together we are researching how novel user experiences and inclusive design can create better digital spaces.</p>
                <div class="flex items-center mt-2 gap-4">
                  {# <a href="/apps/open_science" class="btn btn-sm rounded-full btn-outline btn-primary">View app</a> #}
                  {# <a href="/apps/open_science" class="btn btn-sm rounded-full btn-ghost">Join the discussion</a> #}
                </div>
              </div>
          </div>

          <div></div>
          <div></div>

      </div>
    </div>


  </div>
</section>