<div class="max-w-screen-lg mx-4 2xl:max-w-screen-xl lg:mx-auto mt-40">
    <div class="relative flex flex-col text-center items-center grid-cols-1 gap-4 place-content-center">
      <div class="text-[48px] font-extrabold leading-[1.3] tracking-wider text-base-content">Much more than a microblog</div>
      <div class="text-[26px] leading-[35px] font-normal text-base-content/60">Choose from a growing list of Bonfire extensions to enhance your instance and uncover new possibilities. <br/>Explore the list of available extensions, or build your own.</div>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-start gap-10 my-20">

      <div class="bg-[#33314C] rounded-2xl shadow-xl px-8 py-12">
        <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
        </div>
        <div class="text-xl font-semibold ">Topics</div>
        <div class="text-lg  text-base-content/70 mt-4">
        Topics connect you with people who share your passion, to share ideas and have in-depth discussions on a specific theme. By following a topic (like "solarpunk" or "upcycling tips") you'll receive posts carefully curated by a team you trust.
        </div>
      </div>

      <div class="bg-[#33314C] rounded-2xl shadow-xl px-8 py-12">
        <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
        <div class="text-xl font-semibold ">Tasks</div>
        <div class="text-lg  text-base-content/70 mt-4">
        Create to-do lists and assign tasks to yourself or others across multiple instances. Coordinate work in teams, stay in the loop, make progress, and get it done.
        </div>
      </div>
      
      <div class="bg-[#33314C] rounded-2xl shadow-xl px-8 py-12">
        <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
        <div class="text-xl font-semibold ">Custom roles</div>
        <div class="text-lg  text-base-content/70 mt-4">
        Create and assign custom roles to grant different groups of permissions to users and circles. Roles affect what actions users can take and what information they can view, interact with, or even edit.</div>
      </div>
      
      <div class="bg-[#33314C] rounded-2xl shadow-xl px-8 py-12">
        <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
        </div>
        <div class="text-xl font-semibold ">Shared user</div>
        <div class="text-lg  text-base-content/70 mt-4">
        Manage your group's online presence by sharing a single user profile with multiple people. Useful for organizations, teams, or families to manage their online presence collectively and communicate with others transparently. 
        </div>
      </div>

    <div class="bg-[#33314C] rounded-2xl shadow-xl px-8 py-12">
      <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
      <div class="text-xl font-semibold ">Personalize the look & feel</div>
      <div class="text-lg  text-base-content/70 mt-4">
      Pick your preferred color scheme or define your own palette to give your instance a personal touch. Creating your own theme is simple and does not require writing code. 
      </div>
    </div>
    
    <div class="bg-[#33314C] rounded-2xl shadow-xl px-8 py-12">
      <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
      <div class="text-xl font-semibold ">Inventory management</div>
      <div class="text-lg  text-base-content/70 mt-4">
      Track tools, goods, and other assets, and record when they are transferred, stored, consumed, recycled, etc. The inventory extension is powered by the <a href="https://www.valueflo.ws/" class="link">ValueFlows vocabulary</a>.
      </div>
    </div>
    
    <div class="bg-[#33314C] rounded-2xl shadow-xl px-8 py-12">
      <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
      <div class="text-xl font-semibold ">Two-Factor Authentication</div>
      <div class="text-lg  text-base-content/70 mt-4">
      Increase the security of your account by enabling Two-Factor Authentication (2FA). 
      </div>
    </div>
    
    <div class="bg-[#33314C] rounded-2xl shadow-xl px-8 py-12">
      <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
      <div class="text-xl font-semibold ">Multiple identities</div>
      <div class="text-lg  text-base-content/70 mt-4">
      Create multiple user profiles linked to the same account for an extra layer of privacy. This enables you to maintain a profile for each aspect of your online life, with different followers and privacy settings, without having to log in to separate accounts.</div>
    </div>
    
    <div class="bg-[#33314C] rounded-2xl shadow-xl px-8 py-12">
      <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
      <div class="text-xl font-semibold ">Build your own</div>
      <div class="text-lg  text-base-content/70 mt-4">
      You can develop your own extensions, and leverage on our set of utilities and core modules to plug it seamlessy with the rest of the core modules.
      Develop your own extensions using our set of utilities and core modules for seamless integration with core functionality such as circles/boundaries, federation, and activity feeds.
      </div>
    </div>
  </div>

</div>



    {# <div class="rounded-xl shadow-xl bg-cover self-center object-center bg-no-repeat h-[400px] bg-[url('/img/3.png')] ">
      <div class="rounded-xl place-content-center items-center flex flex-col bg-black/30 h-[400px]">
        <div class="flex flex-col gap-6 mx-4 lg:mx-auto">
          <p class="text-2xl font-extrabold tracking-tight text-center text-base-content sm:block sm:text-4xl">Sign up to our newsletter for more stories</p>
          <div id="mc_embed_signup mt-6">
            <form action="https://bonfirenetworks.us14.list-manage.com/subscribe/post?u=d878a2618cbfbfec0b70c675a&amp;id=101bb5044b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="flex items-center gap-3 place-content-center" id="mc_embed_signup_scroll">
              <div class="col-span-2 mc-field-group">
                <input type="email" value="" name="EMAIL" placeholder="Enter your email" class="max-w-[420px] w-[340px] bg-base-content/60 text-base-300 placeholder:text-base-300 required email input input-bordered" id="mce-EMAIL">
              </div>
              <div id="mce-responses" class="mt-3 clear foot">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>   
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d878a2618cbfbfec0b70c675a_101bb5044b" tabindex="-1" value=""></div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="normal-case btn btn-primary">
                        <p class="sr-only brandingLogo"><a href="http://eepurl.com/h4IZrH" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
                    </div>
                </div>
              </div>
            </form>
            </div>
          </div>
          <div class="my-4 text-lg text-center text-base-content/80">Your data is private and we will use it only for the purposes of contacting you about Bonfire.
            <br/>You may unsubscribe at any time.</div>
        </div> #}
