<div class="max-w-screen-lg mx-4 2xl:max-w-screen-xl lg:mx-auto mt-40">
    <div class="relative flex flex-col text-center items-center grid-cols-1 gap-4 place-content-center">
      <div class="text-[48px] font-extrabold leading-[1.3] tracking-wider text-base-content">Much more than a microblog</div>
      <div class="text-[26px] leading-[35px] font-normal text-base-content/60">Choose from a growing list of extensions to give your instance more potential and open up new possibilities.  Explore the list of available extensions and find the ones that will help you get the most out, or build new ones.</div>
    </div>
    
    <div class="grid grid-cols-3 items-start gap-10 my-20">

      <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
        <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
        </div>
        <div class="text-xl font-semibold ">Topics</div>
        <div class="text-lg  text-base-content/70 mt-4">Topics allow users to follow and interact with specific subjects curated by users from the same or other instances. By subscribing to a topic (e.g., "science-fiction"), you can be assured of receiving only relevant content, curated by a team that you trust</div>
      </div>

      <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
        <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
        <div class="text-xl font-semibold ">Tasks</div>
        <div class="text-lg  text-base-content/70 mt-4">Create to-do lists and assign tasks to yourself or other users across multiple instances. Coordinate work in teams and stay on top of what's next.</div>
      </div>
      
      <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
        <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
        <div class="text-xl font-semibold ">Custom roles</div>
        <div class="text-lg  text-base-content/70 mt-4">By creating and assigning roles you will grant different levels of permissions to users and circles. Roles impact what actions users can take and what information they can view and edit.</div>
      </div>
      
      <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
        <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
        <div class="text-xl font-semibold ">Shared user</div>
        <div class="text-lg  text-base-content/70 mt-4">Allow for a more coordinated and efficient way of managing online presence by sharing a user with multiple individuals or parties. 
This type of user can be used by organizations, groups, or families to manage their online presence collectively and communicate with others.</div>
      </div>

    <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
      <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
      <div class="text-xl font-semibold ">Create your theme</div>
      <div class="text-lg  text-base-content/70 mt-4">Pick your favorite color palette and add your own touch to your instance. Creating new themes is simple and does not require writing code.</div>
    </div>
    
    <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
      <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
      <div class="text-xl font-semibold ">Inventory management</div>
      <div class="text-lg  text-base-content/70 mt-4">Collect items, goods and any kind of assets and record when they’re stored, tracked, consumed and managed. The inventory extension is powered by the valueflows vocabulary.</div>
    </div>
    
    <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
      <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
      <div class="text-xl font-semibold ">2FA</div>
      <div class="text-lg  text-base-content/70 mt-4">Enhance the security of your account by enabling the Two-factor authentication (2FA). Our extension currently supports thisandthat</div>
    </div>
    
    <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
      <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
      <div class="text-xl font-semibold ">Multiple users</div>
      <div class="text-lg  text-base-content/70 mt-4">Having multiple users associated with the same account provides an additional layer of privacy and security, as it allows users to maintain multiple profiles with distinct privacy settings and access levels without having to deal with the burden of creating and managing multiple accounts.</div>
    </div>
    
    <div class="bg-[#33314C] rounded-2xl shadow-xl px-16 py-20">
      <div class="w-[42px] mb-8 h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      </div>
      <div class="text-xl font-semibold ">Build your own</div>
      <div class="text-lg  text-base-content/70 mt-4">You can develop your own extensions, and leverage on our set of utilities and core modules to plug it seamlessy with the rest of the core modules.</div>
    </div>
  </div>

</div>



    {# <div class="rounded-xl shadow-xl bg-cover self-center object-center bg-no-repeat h-[400px] bg-[url('/img/3.png')] ">
      <div class="rounded-xl place-content-center items-center flex flex-col bg-black/30 h-[400px]">
        <div class="flex flex-col gap-6 mx-4 lg:mx-auto">
          <p class="text-2xl font-extrabold tracking-tight text-center text-base-content sm:block sm:text-4xl">Sign up to our newsletter for more stories</p>
          <div id="mc_embed_signup mt-6">
            <form action="https://bonfirenetworks.us14.list-manage.com/subscribe/post?u=d878a2618cbfbfec0b70c675a&amp;id=101bb5044b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div class="flex items-center gap-3 place-content-center" id="mc_embed_signup_scroll">
              <div class="col-span-2 mc-field-group">
                <input type="email" value="" name="EMAIL" placeholder="Enter your email" class="max-w-[420px] w-[340px] bg-base-content/60 text-base-300 placeholder:text-base-300 required email input input-bordered" id="mce-EMAIL">
              </div>
              <div id="mce-responses" class="mt-3 clear foot">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>   
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d878a2618cbfbfec0b70c675a_101bb5044b" tabindex="-1" value=""></div>
                <div class="optionalParent">
                    <div class="clear foot">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="normal-case btn btn-primary">
                        <p class="sr-only brandingLogo"><a href="http://eepurl.com/h4IZrH" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
                    </div>
                </div>
              </div>
            </form>
            </div>
          </div>
          <div class="my-4 text-lg text-center text-base-content/80">Your data is private and we will use it only for the purposes of contacting you about Bonfire.
            <br/>You may unsubscribe at any time.</div>
        </div> #}
