{# 
<section class="grid grid-cols-3 gap-5 mx-auto mt-12 lg:max-w-none">
  {% set postslist = collections.post %}
  {% for post in postslist | reverse %}
    {% if loop.index0 < 3 %}
      <div class="flex flex-col col-span-3 overflow-hidden rounded-lg shadow-lg lg:col-span-1">
        <div class="flex-shrink-0">
          <img class="object-cover w-full h-48" src="{{ post.data.image }}" alt="">
        </div>
        <div class="flex flex-col justify-between flex-1 p-6 bg-white">
          <div class="flex-1">
            <p class="text-sm font-medium text-indigo-600">
              <a href="#" class="hover:underline">
                Article
              </a>
            </p>
            <a href="{{ post.url | url }}" class="block mt-2">
              <p class="text-xl font-semibold text-gray-900 hover:underline">
                {% if post.data.title %}
                    {{ post.data.title }}
                {% else %}
                    Untitled
                {% endif %}
              </p>
              <p class="mt-3 text-base text-gray-500">
                {{ post.data.description }}
              </p>
            </a>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</section> #}

<section class="mt-6 lg:px-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12">
  {% set postslist = collections.post %}
  {% for post in postslist | reverse %}
  {% if loop.index0 < 3 %}
    <article class="flex flex-col gap-2">
      <div class="w-full h-48 bg-blueGray-400 rounded-lg bg-cover bg-no-repeat bg-center shadow-xl" style="background-image: url({{ post.data.image }})"></div>
      <div class="flex-1 mt-2">
        <h2 class="font-bold text-lg link link-hover">
            <a href="{{ post.url | url }}">
                {% if post.data.title %}
                    {{ post.data.title }}
                {% else %}
                    Untitled
                {% endif %}
            </a>
        </h2>
        
        
        
        {# {% if post.data.description %}
            <p class="text-sm text-base-content/70 my-2">
                {{ post.date | readableDate }}
            </p>
     #}
        
        
      </div>
    </article>
    {% endif %}
  {% endfor %}
</section>
{# <div class="flex mx-auto items-center place-content-center mt-12">
  <a href="/blog" class="btn btn-outline !border !border-base-content/30 rounded-full normal-case">View all posts</a>
</div> #}