---
layout: layouts/base.njk
---

<div class="max-w-screen-lg mb-12 mx-4 2xl:max-w-screen-lg lg:mx-auto">
        <h1 class="mt-20 mb-4 text-center text-3xl font-extrabold sm:text-4xl">Bonfire Presskit</h1>
        <h2 class="text-2xl max-w-screen-md mx-auto text-center text-base-content/50">Download our branding assets, including logos, illustrations, and app screenshots.</h2>
      </div>
    </div>


<div class="pb-40 mt-16 border-t section--bg border-base-content/10">
  <div class="skew-y-2">
    <div class="max-w-screen-lg mx-4 mt-16 2xl:max-w-screen-lg lg:mx-auto lg:mt-24">
        <h2 class="text-[36px] leading-[44px]  font-black tracking-wide">Full Logo</h2>
        {# <div class="text-xl mt-4 max-w-screen-md  text-base-content/90 font-medium tracking-wider">Bonfire Mosaic empowers your project with</div>   #}

  
  
  <ul class="grid grid-cols-1 mt-12 gap-gutter max-w-screen-md mx-auto gap-6">
    
    <a href="/img/bonfire_logo_transparent.png" target="_blank">
    <li class="flex h-full w-full items-center justify-center rounded-md transition-colors bg-transparent hocus:bg-gray-5 aspect-auto">
      <div class="w-full h-auto"><img src="/img/bonfire_logo_transparent.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/bonfire_brand.png" target="_blank">
    <li class="flex h-full w-full items-center justify-center rounded-md transition-colors bg-transparent hocus:bg-gray-5 aspect-auto">
      <div class="w-full h-auto"><img src="/img/bonfire_brand.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/fulllogobn.svg" target="_blank">
    <li class="flex h-full w-full items-center justify-center rounded-md transition-colors bg-transparent hocus:bg-gray-5 aspect-auto">
      <div class="w-full h-auto"><img src="/img/fulllogobn.svg" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/fulllogosimple.svg" target="_blank">
    <li class="flex h-full w-full items-center justify-center rounded-md transition-colors bg-transparent hocus:bg-gray-5 aspect-auto">
      <div class="w-full h-auto"><img src="/img/fulllogosimple.svg" class="w-full h-full object-contain" /></div>
        </li>
    </a>
   

  </ul>  
</div> 
<div class="pb-40 mt-16 section--bg border-base-content/10">
  <div class="skew-y-2">
    <div class="max-w-screen-lg mx-4 mt-16 2xl:max-w-screen-lg lg:mx-auto lg:mt-24">

  <h2 class="text-[36px] leading-[44px]  font-black tracking-wide">Mark only</h2>
  {# <div class="text-xl mt-4 max-w-screen-md  text-base-content/90 font-medium tracking-wider">Bonfire Mosaic empowers your project with</div>   #}

  
  
  <ul class="grid grid-cols-3 mt-12 gap-gutter md:px-8 lg:gap-24">
    
    <a href="/img/bonfire-icon.svg" target="_blank" title="Colour Icon in SVG">
    <li class="flex h-full w-full hover:bg-base-content/5 items-center justify-center rounded-md transition-colors bg-transparent hocus:bg-gray-5 p-4 aspect-square">
      <div class="md:h-18 relative h-16 w-full lg:h-20"><img src="/img/bonfire-icon.svg" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/bonfire.png" target="_blank" title="Colour Icon in PNG">
    <li class="flex h-full w-full hover:bg-base-content/5 items-center justify-center rounded-md transition-colors bg-transparent hocus:bg-gray-5 p-4 aspect-square">
      <div class="md:h-18 relative h-16 w-full lg:h-20"><img src="/img/bonfire.png" class="w-full h-full object-contain" /></div>
        </li>
    </a>
    <a href="/img/logobn.png" target="_blank" title="Monochrome Icon in PNG">>
    <li class="flex h-full w-full items-center justify-center hover:bg-base-content/5 rounded-md transition-colors bg-black hocus:bg-gray-5 p-4 aspect-square">
      <div class="md:h-18 relative h-16 w-full lg:h-20"><img src="/img/logobn.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>

  </ul>  
</div> 

<div id="screenshots" class="relative z-20 border-base-content/20 border-t max-w-screen-lg px-6 mx-auto py-16 mt-8  xl:px-0">
  <h2 class="text-[36px] leading-[44px]  font-black tracking-wide">App screenshots</h2>
  {# <div class="text-xl mt-4 max-w-screen-md  text-base-content/90 font-medium tracking-wider">Bonfire Mosaic empowers your project with</div>   #}

  
  
  <ul class="grid grid-cols-3 mt-12 gap-gutter gap-4">
     <a href="/img/social.png" target="_blank">
    <li class="flex h-full w-full items-center justify-center hover:bg-base-content/5 rounded-md transition-colors bg-black hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/social.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
     <a href="/img/landing2.png" target="_blank">
    <li class="flex h-full w-full items-center justify-center hover:bg-base-content/5 rounded-md transition-colors bg-black hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/landing2.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
     <a href="/img/build.png" target="_blank">
    <li class="flex h-full w-full items-center justify-center hover:bg-base-content/5 rounded-md transition-colors bg-black hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/build.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/labelmodal.png" target="_blank">
    <li class="flex h-full w-full hover:bg-base-content/5 items-center justify-center rounded-md transition-colors bg-transparent hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/labelmodal.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/labelbg.png" target="_blank">
    <li class="flex h-full w-full hover:bg-base-content/5 items-center justify-center rounded-md transition-colors bg-transparent hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/labelbg.png" class="w-full h-full object-contain" /></div>
        </li>
    </a>
    <a href="/img/labelled.png" target="_blank">
    <li class="flex h-full w-full items-center justify-center hover:bg-base-content/5 rounded-md transition-colors bg-black hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/labelled.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/ospreview.png" target="_blank">
    <li class="flex h-full w-full items-center justify-center hover:bg-base-content/5 rounded-md transition-colors bg-black hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/ospreview.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
   

  </ul>   
</div> 

<div id="illustrations" class="relative z-20 border-base-content/20 border-t max-w-screen-lg px-6 mx-auto py-16 mt-8  xl:px-0">
  <h2 class="text-[36px] leading-[44px] font-black tracking-wide">Illustrations</h2>
  {# <div class="text-xl mt-4 max-w-screen-md   text-base-content/90 font-medium tracking-wider">Bonfire Mosaic empowers your project with</div>   #}

  
  
  <ul class="grid grid-cols-2 mt-12 gap-gutter gap-4">
    
    <a href="/img/1_uncompressed.png" target="_blank">
    <li class="flex h-full w-full hover:bg-base-content/5 items-center justify-center rounded-md transition-colors bg-transparent hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/1_uncompressed.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/2_uncompressed.png" target="_blank">
    <li class="flex h-full w-full hover:bg-base-content/5 items-center justify-center rounded-md transition-colors bg-transparent hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/2_uncompressed.png" class="w-full h-full object-contain" /></div>
        </li>
    </a>
    <a href="/img/3_uncompressed.png" target="_blank">
    <li class="flex h-full w-full items-center justify-center hover:bg-base-content/5 rounded-md transition-colors bg-black hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/3_uncompressed.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/4_uncompressed.png" target="_blank">
    <li class="flex h-full w-full items-center justify-center hover:bg-base-content/5 rounded-md transition-colors bg-black hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/4_uncompressed.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/BonfireIlluDefLogo1.jpg" target="_blank">
    <li class="flex h-full w-full items-center justify-center hover:bg-base-content/5 rounded-md transition-colors bg-black hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/BonfireIlluDefLogo1.jpg" class="w-full h-full object-contain" /></div>
    </li>
    </a>
    <a href="/img/banner.png" target="_blank">
    <li class="flex h-full w-full items-center justify-center hover:bg-base-content/5 rounded-md transition-colors bg-black hocus:bg-gray-5 aspect-auto">
      <div class=" relative w-full"><img src="/img/banner.png" class="w-full h-full object-contain" /></div>
    </li>
    </a>

  </ul>  
</div> 

</div>
</div>

</div>
</div>