{# <div class="mt-24 border-t border-base-100 border-opacity-60"> #}
  <div class="container relative max-w-screen-xl mx-auto mt-20 rubik">
    <div style="width: 1px;" class="h-24 mx-auto mb-4 bg-gradient-to-b from-blueGray-800 to-blueGray-200"></div>
    <div class="relative mx-auto">
      <span class="relative block text-sm font-semibold tracking-widest text-center uppercase text-base-content text-opacity-90">Roadmap</span>
      <div class="w-40 h-2 mx-auto mt-2 transform rounded-full bg-gradient-to-r from-pink-600 to-indigo-600 "></div>
    </div>
  </div>

  {# <div class="mt-12 text-2xl font-black uppercase text-base-content">Roadmap</div> #}
  {# <div class="my-3 text-sm uppercase text-base-content text-opacity-80">navigate uncertain times</div> #}
  <div class="mt-6 prose prose-sm mx-auto text-center">We've spent the last year building a rock-solid foundation to develop upon it. Next phase we want to partner with like-minded communities to develop useful extensions and invite more developers to build upon bonfire.</div>
  <ul role="list" class="grid grid-cols-1 gap-12 mt-12 sm:grid-cols-1 md:grid-cols-2">
    <li class="flex flex-col items-end col-span-1 -mr-6 border-r-4 border-base-100">
      <span class="flex items-center justify-center -mr-4 bg-green-500 rounded-full h-7 w-7 ring-4 ring-base-100">
        <svg class="w-5 h-5 text-white" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
        </svg>
      </span>
    </li>
    <li class="flex flex-col col-span-1 px-4">
      <div class="flex items-center">
        <div class="flex-1 text-base font-bold tracking-wide font-base-content">Modular refactoring</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">At its core, bonfire is a set of configurations that describe how the installed modules have to play together.</div>
      <ul class="flex flex-col mt-3 space-y-2">
        <li class="flex items-center">
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-8 text-lg text-base-content text-opacity-90">Docker image to easily setup a new instance</p>
        </li>
        <li class="flex items-center">
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-8 text-lg text-base-content text-opacity-90">Main features are developed and tested in their own modules</p>
        </li>
        <li class="flex items-center">
          <svg class="absolute w-6 h-6 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-8 text-lg text-base-content text-opacity-90">Invite team members</p>
        </li>
        
      </ul>
    </li>
    <li class="flex flex-col col-span-1 px-4 py-3 text-right">
      <div class="flex items-center">
        <div class="flex-1 text-base font-bold tracking-wide font-base-content">Multilanguage and themeable UI</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Croatan is a dispersed angle of the Metaverse, none owns its identity, noone knows how to grab its treasures More</div>
      <ul class="flex flex-col mt-3 space-y-2">
        <li class="flex">
          <p class="flex-1 mr-4 text-sm text-base-content text-opacity-90">Invite team members</p>
          <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </li>
        <li class="flex">
          <p class="flex-1 mr-4 text-sm text-base-content text-opacity-90">Invite team members</p>
          <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </li>
        <li class="flex">
          <p class="flex-1 mr-4 text-sm text-base-content text-opacity-90">Invite team members</p>
          <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </li>       
      </ul>
    </li>
    <li class="flex flex-col items-start col-span-1 -mt-12 border-l-4 -ml-7 border-base-100">
      <span class="flex items-center justify-center mt-16 -ml-4 bg-green-500 rounded-full h-7 w-7 ring-4 ring-base-100">
        <svg class="w-5 h-5 text-white" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
        </svg>
      </span>
    </li>
    <li class="flex flex-col items-end col-span-1 -mt-12 -mr-6 border-r-4 border-base-100">
      <span class="flex items-center justify-center mt-16 -mr-4 rounded-full h-7 w-7 bg-primary ring-4 ring-base-100">
        🚀
      </span>
    </li>
    <li class="flex flex-col col-span-1 px-4 py-3">
      <div class="flex items-center">
        <div class="flex-1 text-base font-bold tracking-wide font-base-content">Bonfire classic launch</div>
        <div class="badge badge-success">In progress</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Croatan is a dispersed angle of the Metaverse, none owns its identity, noone knows how to grab its treasures More</div>
      <ul class="flex flex-col mt-3 space-y-2">
        <li>
          <svg class="absolute w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-8 text-sm text-base-content text-opacity-90">Invite team members</p>
        </li>
        <li>
          <svg class="absolute w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-8 text-sm text-base-content text-opacity-90">Invite team members</p>
        </li>
        <li>
          <svg class="absolute w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-8 text-sm text-base-content text-opacity-90">Invite team members</p>
        </li>
        
      </ul>
    </li>
    <li class="flex flex-col col-span-1 px-4 py-3 text-right">
      <div class="flex items-center">
        <div class="flex-1 mr-4 text-base font-bold tracking-wide font-base-content">Bonfire cooperation launch</div>
        <div class="badge badge-success">In progress</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Croatan is a dispersed angle of the Metaverse, none owns its identity, noone knows how to grab its treasures More</div>
      <ul class="flex flex-col mt-3 space-y-2">
        <li class="flex">
          <p class="flex-1 mr-4 text-sm text-base-content text-opacity-90">Invite team members</p>
          <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </li>
        <li class="flex">
          <p class="flex-1 mr-4 text-sm text-base-content text-opacity-90">Invite team members</p>
          <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </li>
        <li class="flex">
          <p class="flex-1 mr-4 text-sm text-base-content text-opacity-90">Invite team members</p>
          <svg class="w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
          </svg>
        </li>       
      </ul>
    </li>
    <li class="flex flex-col items-start col-span-1 -mt-12 border-l-4 -ml-7 border-base-100">
      <span class="flex items-center justify-center mt-16 -ml-4 rounded-full h-7 w-7 bg-primary ring-4 ring-base-100">
        🚀
      </span>
    </li>
    <li class="flex flex-col items-end col-span-1 -mt-12 -mr-6 border-r-4 border-base-100">
      <span class="flex items-center justify-center mt-16 -mr-4 rounded-full h-7 w-7 bg-primary ring-4 ring-base-100">
        🛠️
      </span>
    </li>
    <li class="flex flex-col col-span-1 px-4 py-3">
      <div class="flex items-center">
        <div class="flex-1 text-base font-bold tracking-wide font-base-content">Bonfire device</div>
        <div class="badge badge-info">TODO</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Croatan is a dispersed angle of the Metaverse, none owns its identity, noone knows how to grab its treasures More</div>
      <ul class="flex flex-col mt-3 space-y-2">
        <li>
          <svg class="absolute w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-8 text-sm text-base-content text-opacity-90">Invite team members</p>
        </li>
        <li>
          <svg class="absolute w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-8 text-sm text-base-content text-opacity-90">Invite team members</p>
        </li>
        <li>
          <svg class="absolute w-5 h-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
            </svg>
            <p class="ml-8 text-sm text-base-content text-opacity-90">Invite team members</p>
        </li>
        
      </ul>
    </li>
    
  </ul>
{# </div> #}