---
layout: /layouts/base.njk
title: "Roadmap"
---



    <div class="max-w-screen-lg mx-4 mt-16 2xl:max-w-screen-xl lg:mx-auto">
      <div class="relative flex flex-col items-center grid-cols-1 gap-4 text-center place-content-center">
        <div class="text-[32px] font-extrabold leading-[1.3] tracking-wider text-base-content">Roadmap</div>
          <div class="prose prose-sm mx-auto text-center">Here's a small preview of the things we're currently focusing on, as well as some of our plans for future projects. Did you spotted a bug using bonfire or you want to propose a new feature ?</div>
        </div>
        <div class="flex items-center place-content-center gap-3 mt-8">
          <a href="https://github.com/bonfire-networks/bonfire-app/milestones?direction=asc&sort=due_date&state=open" target="_blank" class="normal-case rounded btn btn-outline btn-sm">Open an issue</a>
          <a href="https://matrix.to/#/%23bonfire-networks:matrix.org" target="_blank" class="normal-case rounded btn btn-sm">Join our Matrix chat</a>
        </div>
      </div>
    </div>
<div class="pb-40 mt-16 border-t section--bg border-base-content/10">
  <div class="skew-y-2">
    <div class="max-w-screen-lg mx-4 mt-16 2xl:max-w-screen-xl lg:mx-auto lg:mt-24">


  

  <div class="text-2xl tracking-wider flex items-center place-content-center max-w-screen-lg mx-auto font-bold mt-16 mb-8">
    <div class="w-[42px] h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><rect x="0" y="0" width="32" height="32" fill="none" stroke="none" /><path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14.016 14.016 0 0 0 16 2Zm0 26a12 12 0 0 1 0-24v12l8.481 8.481A11.963 11.963 0 0 1 16 28Z"/></svg>
    </div>
    <span class="ml-4">In progress </span>
  </div>
  <ul role="list" class="max-w-screen-lg px-6 mx-auto grid grid-cols-1 gap-6 mt-6 md:grid-cols-2">
<li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4 ">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Bonfire Social 1.0</div>
        
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-80">Use the <a href="https://campground.bonfire.cafe" class="link" target="_blank">campground instance</a> to test and catch all the bugs we need to fix before calling our first Bonfire stable release.</div>
      <a href="https://github.com/bonfire-networks/bonfire-app/issues/472" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
        <span>Known issues</span>
        <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>
    </li>
    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Federation</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Implement basic federation for social activities and moderation. We are initially focusing on testing federation between different bonfire instances and between bonfire and mastodon.</div>
      <a href="https://github.com/bonfire-networks/bonfire-app/issues/473" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
          <span>Todo list</span>
          <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>
    </li>
    
    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Circles & Boundaries</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Ensure Circles & Boundaries flow works smooth and without bugs</div>
      <a href="https://github.com/bonfire-networks/bonfire-app/issues/474" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
        <span>Todo list</span>
        <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>
    </li>
    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4 ">
      <div class="flex items-center">
        <div class="mr-2 text-xl font-bold tracking-wide font-base-content">Improve Developer Experience</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Ease the onboarding experience for new developers by improving docs, writing guides and drafting good first issues.</div>
      
    </li>

  </ul>

  <div class="text-2xl tracking-wider flex items-center place-content-center max-w-screen-lg mx-auto font-bold mt-16 mb-8">
    <div class="w-[42px] h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      <svg class="w-5 h-5"cxmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><rect x="0" y="0" width="32" height="32" fill="none" stroke="none" /><path fill="currentColor" d="m23 27.2l-2.6-2.6L19 26l4 4l7-7l-1.4-1.4zM12 18h8v2h-8zm0-5h8v2h-8zm0-5h8v2h-8z"/><path fill="currentColor" d="M16 28H6v-4h2v-2H6v-5h2v-2H6v-5h2V8H6V4h18v16h2V4c0-1.1-.9-2-2-2H6c-1.1 0-2 .9-2 2v4H2v2h2v5H2v2h2v5H2v2h2v4c0 1.1.9 2 2 2h10v-2z"/></svg>    </div>
    <span class="ml-4">Planned </span>
  </div>  
  <ul role="list" class="px-6 max-w-screen-lg mx-auto grid grid-cols-1 gap-6 mt-6 md:grid-cols-2">

    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Groups</div>
      </div>
      {# <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">At its core, Bonfire is a set of configurations that define what extensions to use and how they play together.</div> #}
      <a href="https://github.com/bonfire-networks/bonfire-app/milestone/33" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
          <span>Issues</span>
          <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>
    </li>
    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4 ">
      <div class="flex items-center">
        <div class="flex-1 mr-4 text-xl font-bold tracking-wide font-base-content">Topics</div>
      </div>
      <a href="https://github.com/bonfire-networks/bonfire-app/milestone/37" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
          <span>Issues</span>
          <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>
    </li>
    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4 ">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Federation of groups & topics</div>
        
      </div>
    </li>
    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Custom Roles</div>
      </div>
    </li>
    

  </ul>

  <div class="text-2xl tracking-wider flex items-center place-content-center max-w-screen-lg mx-auto font-bold mt-16 mb-8">
    <div class="w-[42px] h-[42px] bg-gradient-to-tr from-[#7B4397] to-[#DC2430] flex place-content-center items-center rounded-xl shadow-xl">
      <svg class="w-5 h-5"cxmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 32 32"><rect x="0" y="0" width="32" height="32" fill="none" stroke="none" /><path fill="currentColor" d="m23 27.2l-2.6-2.6L19 26l4 4l7-7l-1.4-1.4zM12 18h8v2h-8zm0-5h8v2h-8zm0-5h8v2h-8z"/><path fill="currentColor" d="M16 28H6v-4h2v-2H6v-5h2v-2H6v-5h2V8H6V4h18v16h2V4c0-1.1-.9-2-2-2H6c-1.1 0-2 .9-2 2v4H2v2h2v5H2v2h2v5H2v2h2v4c0 1.1.9 2 2 2h10v-2z"/></svg>    </div>
    <span class="ml-4">Backlog </span>
  </div> 
   
<ul role="list" class="max-w-screen-lg px-6 mx-auto grid grid-cols-1 gap-6 mt-6 md:grid-cols-2">

    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Feedback & Improvements</div>
      </div>
      <div class="flex gap-8">
      <a href="https://github.com/bonfire-networks/bonfire-app/milestone/19" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
          <span>Issues</span>
          <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>

     <a href="https://github.com/bonfire-networks/bonfire-app/issues/475" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
          <span>Todo list</span>
          <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>
      </div>
      
    </li>

    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Potential new extensions/features</div>
      </div>
      <a href="https://github.com/bonfire-networks/bonfire-app/milestone/31" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
          <span>Suggestions go here</span>
          <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>
    </li>

    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Composer refactor</div>
      </div>
      <a href="https://github.com/bonfire-networks/bonfire-app/milestone/32" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
          <span>Issues</span>
          <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>
    </li>

    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Pages extension</div>
      </div>
      
      <a href="https://github.com/bonfire-networks/bonfire-app/milestone/36" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
          <span>Issues</span>
          <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>
    </li>

    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Coordination & kanban extensions</div>
      </div>
      <a href="https://github.com/bonfire-networks/bonfire-app/milestone/35" target="_blank" class="flex items-center gap-3 link link-hover mt-3 text-sm text-primary normal-case">
          <span>Issues</span>
          <svg class="w-5 h-5 text-primary" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><rect x="0" y="0" width="24" height="24" fill="none" stroke="none" /><path fill="currentColor" d="m14 18l-1.4-1.45L16.15 13H4v-2h12.15L12.6 7.45L14 6l6 6Z"/></svg>
      </a>
    </li>



    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Breadpub extension</div>
      </div>
    </li>

    <li class="bg-base-100 rounded-md shadow flex flex-col col-span-1 p-4">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Events extension</div>
      </div>
    </li>

    </ul>

</div> 
</div>
</div>