---
layout: /layouts/pages.njk
title: "Roadmap"
description: "Discover how Bonfire can be tailored for your community needs and goals."
---



<div class="max-w-screen-lg mx-2 2xl:max-w-screen-xl lg:mx-auto">

  
  <div class="mx-auto mt-6 prose prose-lg text-center text-opacity-80">We've spent the last couple years building a rock-solid foundation to build upon, and now ready to partner with like-minded communities to co-create useful extensions and invite more people to grow the federated ecosystem. <br/>View more details in our <a href="https://github.com/bonfire-networks/bonfire-app/milestones?direction=asc&sort=due_date&state=open" class="link">issue tracker milestones</a>.</div>

  <ul role="list" class="grid grid-cols-1 gap-12 mt-12 sm:grid-cols-1 md:grid-cols-2">
    <li class="flex-col items-end hidden col-span-1 -mr-6 border-r-4 lg:flex border-base-300">
      <span class="flex items-center justify-center -mr-4 bg-green-500 rounded-full h-7 w-7 ring-4 ring-base-100">
        <svg class="w-5 h-5 text-white" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
        </svg>
      </span>
    </li>
    <li class="flex flex-col col-span-1 px-4">
      <div class="flex items-center mb-4 lg:mb-0">
        <span class="flex items-center justify-center mr-4 bg-green-500 rounded-full lg:hidden h-7 w-7 ring-4 ring-base-100">
          <svg class="w-5 h-5 text-white" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
          </svg>
        </span>
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Add / remove extensions</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">At its core, Bonfire is a set of configurations that define what extensions to use and how they play together.</div>
    </li>
    <li class="flex flex-col col-span-1 px-4 py-3 text-right">
      <div class="flex items-center mb-4 lg:mb-0">
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Customisable</div>
        <span class="flex items-center justify-center ml-4 bg-green-500 rounded-full lg:hidden h-7 w-7 ring-4 ring-base-100">
          <svg class="w-5 h-5 text-white" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
          </svg>
        </span>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-80">Pick or create a theme that reflects your community identity, edit and localise terminology to increase inclusivity, decide which kind of information and behaviours </div>
    </li>
    <li class="flex-col items-start hidden col-span-1 -mt-12 border-l-4 lg:flex -ml-7 border-base-300">
      <span class="flex items-center justify-center mt-16 -ml-4 bg-green-500 rounded-full h-7 w-7 ring-4 ring-base-100">
        <svg class="w-5 h-5 text-white" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
        </svg>
      </span>
    </li>
    <li class="flex-col items-end hidden col-span-1 -mt-12 -mr-6 border-r-4 lg:flex border-base-300">
      <span class="flex items-center justify-center mt-16 -mr-4 bg-green-500 rounded-full h-7 w-7 ring-4 ring-base-100">
        <svg class="w-5 h-5 text-white" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
        </svg>
      </span>
    </li>
    <li class="flex flex-col col-span-1 px-4 py-3">
      <div class="flex items-center mb-4 lg:mb-0">
        <span class="flex items-center justify-center mr-4 bg-green-500 rounded-full lg:hidden h-7 w-7 ring-4 ring-base-100">
          <svg class="w-5 h-5 text-white" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
          </svg>
        </span>
        <div class="flex-1 text-xl font-bold tracking-wide font-base-content">Optional federation</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Connect with other people and communities in a decentralized environment, including other fediverse platforms that support the ActivityPub protocol (like Mastodon, PeerTube, etc...)</div>
    </li>
    <li class="flex flex-col col-span-1 px-4 py-3 text-right">
      <div class="flex items-center">
        <div class="flex-1 mr-4 text-xl font-bold tracking-wide font-base-content">Bonfire Social</div>
        <div class="badge badge-primary">Beta</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">A customizable federated social network, to follow people, make posts, have discussion, etc... </div>
      <a href="/bonfire_classic" class="mt-2 text-sm link">Read more</a>
    </li>

    <li class="flex-col items-start hidden col-span-1 -mt-12 border-l-4 lg:flex -ml-7 border-base-300">
      <span class="flex items-center justify-center mt-16 -ml-4 bg-green-500 rounded-full h-7 w-7 ring-4 ring-base-100">
        <svg class="w-5 h-5 text-white" x-description="Heroicon name: solid/check" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
        </svg>
      </span>
    </li>

    <li class="flex-col items-end hidden col-span-1 -mt-12 -mr-6 border-r-4 lg:flex border-base-300">
      <span class="flex items-center justify-center mt-16 -mr-4 bg-white rounded-full h-7 w-7 bg-opacity-90 ring-4 ring-base-100">
        🚀
      </span>
    </li>

    <li class="flex flex-col col-span-1 px-4 py-3">
      <div class="flex items-center">
        <div class="text-xl font-bold tracking-wide font-base-content">Zappa</div>
        <div class="ml-4 badge badge-success">Alpha in development</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70"> Using the power of community to counteract misinformation. </div>
      <a href="/zappa" class="mt-2 text-sm link">Read more</a>
    </li>

    <li class="flex flex-col col-span-1 px-4 py-3 text-right">
      <div class="flex items-center">
        <div class="flex-1 mr-4 text-xl font-bold tracking-wide font-base-content">Bonfire framework</div>
        <div class="badge badge-success">Alpha in development</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Attempt to stabilise as much of the framework and APIs as possible so developers can build upon them.</div>
      <a href="https://github.com/bonfire-networks/bonfire-app/milestone/22" class="mt-2 text-sm link">Read more</a>
    </li>

    <li class="flex-col items-start hidden col-span-1 -mt-12 border-l-4 lg:flex -ml-7 border-base-300">
      <span class="flex items-center justify-center mt-16 -ml-4 bg-white rounded-full h-7 w-7 bg-opacity-90 ring-4 ring-base-100">
        🚀
      </span>
    </li>


    <li class="flex-col items-end hidden col-span-1 -mt-12 -mr-6 border-r-4 lg:flex border-base-300">
      <span class="flex items-center justify-center mt-16 -mr-4 bg-white rounded-full h-7 w-7 bg-opacity-90 ring-4 ring-base-100">
        🚀
      </span>
    </li>

    <li class="flex flex-col col-span-1 px-4 py-3">
      <div class="flex items-center">
        <div class="text-xl font-bold tracking-wide font-base-content">Bonfire Kanban</div>
        <div class="ml-4 badge badge-warning">Alpha development on-hold</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Federated and collaborative kanban and task list for p2p project coordination. </div>
      <a href="/bonfire_cooperation" class="mt-2 text-sm link">Read more</a>
    </li>

    <li class="flex flex-col col-span-1 px-4 py-3 text-right">
      <div class="flex items-center">
        <div class="flex-1 mr-4 text-xl font-bold tracking-wide font-base-content">Bonfire Bulletin</div>
        <div class="badge badge-warning">Alpha development on-hold</div>
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">Mutual aid tools for local communities, such as sharing needs and offers.</div>
      <a href="/bonfire_cooperation" class="mt-2 text-sm link">Read more</a>
    </li>

    <li class="flex-col items-start hidden col-span-1 -mt-12 border-l-4 lg:flex -ml-7 border-base-300">
      <span class="flex items-center justify-center mt-16 -ml-4 bg-white rounded-full h-7 w-7 bg-opacity-90 ring-4 ring-base-100">
        🚀
      </span>
    </li>

    <li class="flex-col items-end hidden col-span-1 -mt-12 -mr-6 border-r-4 lg:flex border-base-300">
      <span class="flex items-center justify-center mt-16 -mr-4 bg-white rounded-full h-7 w-7 bg-opacity-90 ring-4 ring-base-100">
        ⚙️
      </span>
    </li>

    <li class="flex flex-col col-span-1 px-4 py-3">
      <div class="flex items-center">
        <div class="text-xl font-bold tracking-wide font-base-content">Bonfire device</div>
        <div class="ml-4 badge badge-warning">Prototyping</div>
   
      </div>
      <div class="w-full mt-1 text-sm font-light text-base-content text-opacity-70">We plan to launch a device to put your apps and data in your hands, literally</div>
      <a href="/faq#device" class="mt-2 text-sm link">Read more</a>
    </li>
    
  </ul>

</div> 