---
layout: /layouts/base.njk
title: "Get Started"
description: "How do you want to use or build with Bonfire?"
---

<div class="max-w-screen-lg mt-16 mb-32 mx-4 2xl:max-w-screen-xl lg:mx-auto">
  <div class="relative isolate overflow-hidden sm:mx-auto sm:max-w-2xl sm:rounded-3xl lg:mx-0 lg:max-w-none">
    <div class="mx-auto max-w-2xl mb-24 sm:mx-0 sm:max-w-none">
        <div class="text-[46px] font-extrabold text-center text-neutral-content">Get Started</div>
        <div class="text-[24px] mt-4 text-center text-neutral-content">How do you want to use or build with Bonfire?</div>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-10 my-10 lg:grid-cols-2">

      <div class="bg-base-100 rounded-2xl p-12">
        <div class="text-5xl text-center mb-8">🔥</div>
        <div class="text-[32px] font-bold text-neutral-content text-center">Explore the campground</div>
        <div class="text-lg text-center text-neutral-content/70 mt-4">Join our beta test instance, get a feeling for Bonfire's core functionality and social extensions, and connect with other community participants.</div>
        <div class="flex flex-col mt-10 space-y-3 text-center place-content-center items-center lg:space-y-0 lg:flex-row lg:items-center lg:space-x-6">
        <a href="https://campground.bonfire.cafe" target="_blank" class="normal-case btn">Join the campground</a>
        <a href="/tags/beta/" class="normal-case btn btn-ghost border-opacity-70">🎉 Read the beta release posts </a>
      </div>
      </div>

      <div class="bg-base-100 rounded-2xl p-12">
        <div class="text-5xl text-center mb-8">🐉</div>
        <div class="text-[32px] text-neutral-content font-bold text-center">Setup your own instance</div>
        <div class="text-lg text-center text-neutral-content/70 mt-4">Set up your own instance, and see how you can tailor it for your communities values and needs. Be aware, bonfire software is still in beta.</div>
        <div class="flex flex-col mt-10 space-y-3 text-center items-center place-content-center lg:space-y-0 lg:flex-row lg:items-center lg:space-x-6">
        <a href="/docs/deploy" class="normal-case btn">Set up an instance</a>
      </div>
      </div>
    </div>
    <div class="bg-base-100 rounded-2xl shadow-xl p-12">
      <div class="grid grid-cols-1 gap-y-16 gap-x-10 sm:gap-y-20 lg:grid-cols-2 items-center">
        <div class="relative isolate overflow-hidden sm:mx-auto sm:max-w-2xl sm:rounded-3xl lg:mx-0 lg:max-w-none">
          <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
            <img src="/img/2.png" alt="free to leave" width="640" height="492" class="w-full max-w-none">
          </div>
        </div>
        <div>
      <div class="text-[32px] text-neutral-content font-bold text-left">Develop on bonfire</div>
      <div class="text-lg text-left text-neutral-content/70 mt-4">Check out the code and set up a development environment.</div>
      <div class="flex flex-col mt-6 space-y-3 text-center lg:space-y-0 lg:flex-row lg:items-center lg:space-x-6">
        <a href="/docs/hacking" class="normal-case btn">🔨 Start hacking</a>
      </div>
      </div>
      </div>
    </div>



