<div class="p-20  mt-16 rounded-none lg:px-20 bg-base-content bg-opacity-10 lg:mx-0">
    <div class="max-w-screen-lg 2xl:max-w-screen-xl lg:mx-auto">
        <h3 class="text-4xl font-bold flex flex-col md:flex-row items-center md:space-x-4 tracking-wide text-neutral-content">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 grow-0 text-error" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
          </svg>  
          <span class="text-center md:text-left mt-2 md:mt-0 grow-0">Support the project</span>
        </h3>
        <div class="mt-8 text-center md:text-left leading-relaxed text-md text-neutral-content text-opacity-60 ">
            <p>Bonfire is still in development. If you want to show us your support, we gladly accept donations and other contributions.</p>
        </div>
        <div class="flex items-center space-x-8 mt-6">
            <a href="/contribute" class="btn btn-primary">Contribute</a>
            <a href="/roadmap" class="link link-primary flex items-center gap-2 link-hover font-semibold text-sm uppercase">
              <span>View our roadmap</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
            </a>
        </div>
        <h3 class="text-4xl font-bold flex flex-col md:flex-row items-center md:space-x-4 tracking-wide text-neutral-content mt-16">
          <span class="">✨</span>
          <span class="text-center md:text-left mt-2 md:mt-0 grow-0">Sponsored by</span>
        </h3>
            <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
              <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50/10">
                <img class="max-h-12" src="/img/logo_nlnet.svg" alt="NlNet">
              </div>
              <div class="col-span-1 flex justify-center py-8 px-8 bg-white/10">
                <img class="max-h-12" src="/img/ecf_logo.svg" alt="European Cultural Foundation">
              </div>
              <div class="col-span-1 flex justify-center place-content-center py-8 px-8 bg-white/10">
                <a class="link font-bold text-lg self-center" href="https://opencollective.com/bonfire-networks/contribute/sponsor-39507/checkout">Become a sponsor</a>
              </div>
            </div>
        



    </div>
</div>