<div class="max-w-screen-xl mx-4 lg:mx-auto mt-24">
  <div class="flex pt-6 mb-24 items-center flex-col">
    <div class="text-4xl  font-semibold tracking-wider">What our community is saying</div>
    <a href="https://indieweb.social/@bonfire" class="btn mt-4  btn-outline !border !border-base-content/30 rounded-full normal-case">Follow @bonfire</a>
  </div>
  <div class="mx-auto grid max-w-screen-xl mt-8 grid-cols-1 gap-6  md:grid-cols-2 lg:grid-cols-3">
  <div class="card border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://social.coop/@lynnfoster" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="./img/lynn.png" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Lynn Foster</div> 
          <div class="text-base-content/60">lynnfoster@social.coop</div>
        </div>
      </div> 
      <p class="text-base-content">The most exciting thing about Bonfire to me is that they have set the stage to add all kinds of features integrated with the social networking core.  Circles and groups to start, offers/wants... some day whole social/economic networks and ecosystems.  Looking into the campfire, I can see a bright future for the fediverse.</p>
    </div> 
  </div>

  <div class="card lg:translate-y-16 border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://red.niboe.info/@jorge" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="./img/jorge.jpeg" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Jorge Saturno</div> 
          <div class="text-base-content/60">@jorge@red.niboe.info</div>
        </div>
      </div> 
      <p class="text-base-content">Bonfire has the potential to bring federated social media to a new level. Its modular design will facilitate the creation of applications for all kind of purposes. We believe Bonfire will become the backbone of our future developments in the fields of open knowledge and science communication.</p>
    </div> 
  </div>

  <div class="card border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://social.coop/@bhaugen" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="./img/bob.jpeg" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Bob Haugen</div> 
          <div class="text-base-content/60">@bhaugen@social.coop</div>
        </div>
      </div> 
      <p class="text-base-content">While I like Bonfire already, and love their care at making everything work smoothly, I am most excited by their future plans. I am working on community economic systems where the future Bonfire could be the main coordination medium.</p>
    </div> 
  </div>


  <div class="card  border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://mastodon.social/@samliebeskind" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="https://files.mastodon.social/accounts/avatars/109/835/761/886/292/674/original/f19966c1f1fdfa7d.jpeg" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Sam Liebeskind</div> 
          <div class="text-base-content/60">@samliebeskind@mastodon.social</div>
        </div>
      </div> 
      <p class="text-base-content">Really excited about the approach the @bonfire team is taking - building a modular toolkit that'll make it easier for community leaders to create their own federated social networks. It's sort of like "wordpress for the fediverse". Still early days, but definitely onto something 👀</p>
    </div> 
  </div>


  <div class="card lg:translate-y-16 border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://theweathermakers.nl/" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="https://theweathermakers.nl/wp-content/uploads/Angel-Imaz.png" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Angel</div> 
          <div class="text-base-content/60">The Weather Makers</div>
        </div>
      </div> 
      <p class="text-base-content">We are loving Bonfire. We are actively exploring it to move our tools into Bonfire. Getting access to the Fediverse and to all the blocks looks really promising, to quickly develop community driven processes.</p>
    </div> 
  </div>

  <div class="card border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://mastodon.tedomum.net/@lebout2canap" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="https://cdn.masto.host/indiewebsocial/cache/accounts/avatars/109/171/857/228/733/355/original/04f502f3a41a8b3e.jpg" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">lebout2canap ⏚</div> 
          <div class="text-base-content/60">@lebout2canap@mastodon.tedomum.net</div>
        </div>
      </div> 
      <p class="text-base-content">Le projet @bonfire a mis à jour la page d'accueil de son site web. L'occasion de découvrir ou redécouvrir ce à quoi on doit s'attendre pour la future version 1. Je suis convaincu que #Bonfire aura un important rôle à jouer dans l'avenir du #Fediverse.</p>
    </div> 
  </div>

    <div class="card border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://mastodon.social/@LibertyBeta" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="https://files.mastodon.social/accounts/avatars/000/223/823/original/8354999666f32c7d.jpg" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Mecha Code</div> 
          <div class="text-base-content/60">@LibertyBeta@mastodon.social</div>
        </div>
      </div> 
      <p class="text-base-content">Why see some #bluesky when you could all gather around the @bonfire</p>
    </div> 
  </div>

</div>

</div>