<div class="max-w-screen-xl mx-4 lg:mx-auto mt-24">
  <div class="flex pt-6 mb-24 lg:items-center flex-col lg:flex-row lg:justify-between">
    <div class="text-4xl  font-semibold tracking-wider">What our community is saying</div>
    <a href="https://indieweb.social/@bonfire" class="btn mt-4 lg:mt-0 btn-outline !border !border-base-content/30 rounded-full normal-case">Follow @bonfire</a>
  </div>
  <div class="mx-auto grid max-w-screen-xl mt-8 grid-cols-1 gap-6  md:grid-cols-2 lg:grid-cols-3">
  <div class="card border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://twitter.com/developedbyed/status/1633913146422198276" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="./img/lynn.png" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Lynn Foster</div> 
          <div class="text-base-content/60">lynnfoster@social.coop</div>
        </div>
      </div> 
      <p class="text-base-content">Bonfire has the potential to bring federated social media to a new level. Its modular design will facilitate the creation of applications for all kind of purposes. We believe Bonfire will become the backbone of our future developments in the fields of open knowledge and science communication.</p>
    </div> 
  </div>

  <div class="card lg:translate-y-16 border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://twitter.com/developedbyed/status/1633913146422198276" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="./img/jorge.jpeg" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Jorge Saturno</div> 
          <div class="text-base-content/60">@jorge@red.niboe.info</div>
        </div>
      </div> 
      <p class="text-base-content">Bonfire has the potential to bring federated social media to a new level. Its modular design will facilitate the creation of applications for all kind of purposes. We believe Bonfire will become the backbone of our future developments in the fields of open knowledge and science communication.</p>
    </div> 
  </div>

  <div class="card border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://twitter.com/developedbyed/status/1633913146422198276" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="./img/bob.jpeg" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Bon Haugen</div> 
          <div class="text-base-content/60">@bhauge@social.coop</div>
        </div>
      </div> 
      <p class="text-base-content">While I like Bonfire already, and love their care at making everything work smoothly, I am most excited by their future plans. I am working on community economic systems where the future Bonfire could be the main coordination medium.</p>
    </div> 
  </div>
  <div class="card border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://twitter.com/developedbyed/status/1633913146422198276" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="/twitter-profile-pics/developedbyed-72.webp" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Angel</div> 
          <div class="text-base-content/60">The Weather Maker</div>
        </div>
      </div> 
      <p class="text-base-content">We are loving Bonfire. We are actively exploring it to move our tools into Bonfire. Getting access to the Fediverse and to all the blocks looks really promising, to quickly develop community driven processes.</p>
    </div> 
  </div>

  <div class="card lg:translate-y-16 border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://twitter.com/developedbyed/status/1633913146422198276" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="/twitter-profile-pics/developedbyed-72.webp" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Dev Ed</div> 
          <div class="text-base-content/60">Content Creator</div>
        </div>
      </div> 
      <p class="text-base-content">Been using daisyUI for a while and I must say...such a fun addon for Tailwind CSS, well done 🔥 </p>
    </div> 
  </div>

  <div class="card border-base-content/10 card-compact border text-left">
    <div class="card-body">
      <div class="flex items-center gap-2">
      <div class="avatar" data-svelte-h="svelte-1cw9wf0">
        <a href="https://twitter.com/developedbyed/status/1633913146422198276" target="_blank" rel="noopener, noreferrer" class="w-12">
        <img loading="lazy" src="/twitter-profile-pics/developedbyed-72.webp" alt="Dev Ed" width="48" height="48" class="pointer-events-none rounded-full"> 
        </a>
        </div> 
        <div class="flex flex-col items-start text-xs">
          <div class="text-base-content font-bold">Dev Ed</div> 
          <div class="text-base-content/60">Content Creator</div>
        </div>
      </div> 
      <p class="text-base-content">Been using daisyUI for a while and I must say...such a fun addon for Tailwind CSS, well done 🔥 </p>
    </div> 
  </div>
</div>

</div>