---
layout: layouts/base.njk
title: "Themes"
description: "Extensions are the building blocks of Bonfire apps. Each extension is modular and composable with the rest, and can be forked and customised for your exact needs."
---
<div class="bg-accent">
  <div class="max-w-screen-xl  flex flex-col mx-auto py-12">  
    <h1 class="text-6xl font-medium text-accent-content  ">Themes</h1>
    <h2 class="text-xl text-accent-content mt-4 max-w-screen-sm">Bonfire is not a single app, but comes in many flavours.</h2>
  </div>
</div>
<div class="max-w-screen-xl mx-auto my-12">
  <div class="grid grid-cols-3 gap-4">


  </div>
</div>