---
layout: layouts/home.njk
eleventyNavigation:
  key: about
  order: 1
---

<div class="hero p-16 bg-primary w-full rounded-box">
  <div class="text-center hero-content ">
    <div class="max-w-md mx-auto">
      <h1 class="mb-5 text-5xl font-bold">Use bonfire</h1> 
      <p class="mb-5">Discover how bonfire can be tailored to resonate with your community needs and visions.</p> 
    </div>
  </div>
</div>