---
layout: layouts/base.njk
---


<header class="flex relative bg-[url('/img/about.png')] text-center overflow-hidden text-white h-auto justify-center items-end py-[17vw] px-[4vw] bg-center bg-cover shadow-inner">
    <div class="my-0 mx-auto max-w-6xl w-full">
        <h1 class="text-4xl sm:text-7xl max-w-screen-lg leading-[90px]! mx-auto font-bold tracking-tight">2024 Whishlist</h1>
    </div>
</header>

<section class="my-0 mx-auto pt-8 px-[6vmin] sm:pb-[10vw] sm:px-[6vmin]">
  <div class="my-0 mx-auto max-w-[70vw] w-full">
      {# <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight leading-normal! mb-10 text-base-content"> We envision a world where all living beings thrive and communities flourish, free from private interests and capitalistic control.
      </h2>
       #}
    <div class="max-w-prose mx-auto prose prose-lg">


      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight leading-normal! mb-10 text-base-content">Bonfire 1.0</h2>
      <p class="mt-5 md:text-xl text-base-content">
Our primary objective is the rollout of the first Release Candidate of Bonfire 1.0, a significant milestone in our journey. Upon release, we will engage actively with our community to identify and resolve any emerging bugs and potential optimisations. 
</p>
<h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight leading-normal! mb-10 text-base-content">iOS and Android app</h2>

<p class="mt-5 md:text-xl text-base-content">We will harness the power of LiveViewNative, an amazing library developed by Dockyard, to create native iOS (shortly followed by Android) applications for Bonfire Classic. This advancement is crucial as it enables our communities to experience Bonfire natively, enhancing accessibility and user experience. Moreover, it sets a precedent for effortlessly porting future extensions to native platforms, significantly broadening our technological horizons.
</p>
<h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight leading-normal! mb-10 text-base-content">Launch of Open Hosting Cooperative</h2>

<p class="mt-5 md:text-xl text-base-content">Recognizing the challenges of hosting federated social platforms, our aim is to simplify this process. We plan to establish a premium hosting service, uniquely powered by cooperatives. This initiative is in line with our core values and is designed to strengthen the entire ecosystem, offering robust, value-driven hosting solutions.
</p>
<h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight leading-normal! mb-10 text-base-content">Server and Infrastructure Optimization</h2>

<p class="mt-5 md:text-xl text-base-content">Exploring cutting-edge server and infrastructure optimizations is on our roadmap, with a particular focus on technologies like FLAME and Supavisor. These innovations promise to enhance our platform's efficiency and scalability, reducing the cost and burden of scaling instances.
</p>
<h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight leading-normal! mb-10 text-base-content">Creation of New Extensions</h2>

<p class="mt-5 md:text-xl text-base-content">As we collaborate with various communities and pilot projects, our focus will expand to the development of bespoke extensions. Currently, we are channeling our efforts towards open science and community-oriented extensions. This is a strategic move to cater to the specific needs of our users and to enrich the functionality and versatility of the Bonfire platform.
</p>
<h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight leading-normal! mb-10 text-base-content">Enhancement of Learning Resources</h2>

<p class="mt-5 md:text-xl text-base-content">We understand the importance of accessible and comprehensive learning materials. Thus, a significant part of our agenda involves the creation of new tutorials and the enhancement of existing documentation. These resources are vital in empowering our users, fostering a deeper understanding of our platform, and facilitating a smoother user experience.
</p>


<h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight leading-normal! mb-10 text-base-content">Final words</h2>
<p class="mt-5 md:text-xl text-base-content">In summary, 2024 is poised to be a transformative year for Bonfire Networks, marked by the awaited 1.0 release, more community engagement, and a steadfast commitment to our core values and user needs.
We fully recognize the ambitious nature of our goals outlined above. To bring these aspirations to reality, we are actively seeking collaboration and support. We are keen to expand our team by onboarding new developers and ensuring fair compensation for all contributors. 
And we want to keep having fun experimenting and pushing the boundaries of open digital spaces forward. If you want to participate and help make this a reality, don't hesitate to connect, Bonfire is an open collective and we're eager to hear from you.
</p>

    
    </div>
  </div>
</section>