<div id="why" style="width: 1px;" class="h-16 mx-auto mt-16 mb-4 bg-gradient-to-b from-base-200 to-base-content"></div>
  <div class="relative mx-auto">
    <span class="relative block text-xs font-semibold tracking-widest text-center text-base-content uppercase">What is Bonfire ?</span>
  </div>
<div class="relative pt-8 overflow-hidden pb-28">
  <div class="relative">
    <div class="items-center gap-24 lg:mx-auto lg:grid lg:grid-cols-2 place-content-start lg:grid-flow-col-dense">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="">
            <h2 class="text-2xl font-bold tracking-wide text-neutral-content">
              A <span class="underline decoration-wavy decoration-amber-400 underline-offset-8">thoughtful</span> social experience
            </h2>
            <p class="mt-4 leading-relaxed text-md text-neutral-content text-opacity-60">
              We endeavour to develop tools for <a href="https://en.wikipedia.org/wiki/Conviviality" target="_blank" class="link">conviviality</a>. Tools that you total control over, which are not developed for extracting value from their users in any way. 
              Each Bonfire instance is shaped by its members to pursue their community goals, not those of some investment fund. 
            </p>
          </div>
        </div>
      </div>
      <div class="mt-4 md:mt-16 lg:mt-0 px-4 md:px-8">
        <div class="bg-contain bg-no-repeat h-[240px] bg-[url('/img/1.png')] ">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-12">
    <div class="items-center gap-24 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="order-last max-w-xl px-4 mx-auto sm:px-6 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div class="">
            <h2 class="text-2xl font-bold tracking-wide text-neutral-content">
              A <span class="underline decoration-wavy decoration-amber-400 underline-offset-8">flexible</span> tool  to fit your needs
            </h2>
            <p class="mt-4 leading-relaxed text-md text-neutral-content text-opacity-60">
              Add or remove extensions based on the functionality you need, or go futher and create a new extension. Pick or create a theme that reflects your community identity, edit and localise text to increase inclusivity, decide which kind of information and behaviours to include and fight the dopamine economy.</p>
          </div>
        </div>
      </div>
     <div class="mt-4 md:mt-16 lg:mt-0 px-4 md:px-8">
        <div class="bg-contain bg-no-repeat h-[240px] bg-[url('/img/2.png')]">
         </div>
      </div>
    </div>
  </div>
  <div class="mt-12">
    <div class="items-center gap-24 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="">
            <h2 class="text-2xl font-bold tracking-wide text-neutral-content">
              A space to <span class="underline decoration-wavy decoration-amber-400 underline-offset-4">connect</span> with the rest of the world , on your own terms
            </h2>
            <p class="mt-4 leading-relaxed text-md text-neutral-content text-opacity-60">
              Each Bonfire community has the power to federate with others communities but also with other fediverse platforms that support the <a href="http://activitypub.rocks/" target="_blank" class="link">ActivityPub</a> protocol (like Mastodon, PeerTube, etc...) and interact with them, maintaining the autonomy to decide which information to share with others and which to keep on their instance.                  
            </p>
          </div>
        </div>
      </div>
      <div class="mt-4 md:mt-16 lg:mt-0 px-4 md:px-8">
        <div class="bg-contain bg-no-repeat h-[240px] bg-[url('/img/3.png')]">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-12">
    <div class="items-center gap-24 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="order-last max-w-xl px-4 mx-auto sm:px-6 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div class="">
            <h2 class="text-2xl font-bold tracking-wide text-neutral-content">
              A <span class="underline decoration-wavy decoration-amber-400 underline-offset-4">free</span> tool developed to empower your community
            </h2>
            <p class="mt-4 leading-relaxed text-md text-neutral-content text-opacity-60">
              Bonfire is libre and open source software. This means that you can use and modify Bonfire without asking permission from anyone. Plus, benefit from future developments by anyone using the codebase: improvements, upgrades, and additions to Bonfire apps and extensions will always be freely available to users. 
            </p>
          </div>
        </div>
      </div>
      <div class="mt-4 md:mt-16 lg:mt-0 px-4 md:px-8">
        <div class="bg-contain bg-no-repeat h-[240px] bg-[url('/img/4.png')]">
        </div>
      </div>
    </div>
  </div>
</div>

