 {# <div class="container relative max-w-screen-xl mx-auto mt-20 mb-12 rubik">
  <div style="width: 1px;" class="h-24 mx-auto mb-4 bg-gradient-to-b from-blueGray-800 to-blueGray-200"></div>
  <div class="relative mx-auto">
    <span class="relative block text-sm font-semibold tracking-widest text-center text-gray-200 uppercase">Configurable</span>
    <div class="w-40 h-2 mx-auto mt-2 transform rounded-full bg-gradient-to-r from-pink-600 to-indigo-600 "></div>
  </div>
</div>
<div class="grid items-center grid-cols-6 gap-8">
<div class="self-center col-span-6 lg:col-span-3">
    <h2 class="text-2xl font-bold tracking-wide text-base-content sm:text-3xl md:text-2xl">
    Configure every aspect of your Bonfire
    </h2>
    <p class="max-w-md mt-6 text-base text-base-content text-opacity-90 sm:text-lg md:mt-6 md:max-w-3xl">
    Bonfire is made of lots of moving parts, which can be configured in great detail so they behave and look just right for you. 
    <p class="max-w-md mt-6 text-base text-base-content text-opacity-90 sm:text-lg md:mt-6 md:max-w-3xl">Designers and developers can also "fork" extensions to further customise them or create new ones. Users can choose which ones to install and even ask the ecosystem for specific features or changes - based on their unique values, needs, and preferences. 

    <p class="max-w-md mt-6 text-base text-base-content text-opacity-90 sm:text-lg md:mt-6 md:max-w-3xl">
    What's more, because Bonfire builds upon <a href="http://activitypub.rocks/"><b>ActivityPub</b></a> - a federation protocol standardized by the <a href="https://en.wikipedia.org/wiki/World_Wide_Web_Consortium">W3C</a>, the users of hundreds of different free software platforms hosted by thousands of different people can all interconnect with Bonfire users. 
    </p>
    <div class="flex mt-6">
    <a href="/docs" class="btn btn-primary">Read our docs</a>
    </div>
</div>
<div class="hidden col-span-3 lg:flex place-content-center">
    <img src="https://i.imgur.com/tNCY9rh.png" />
</div>
</div>  #}
<div id="why" style="width: 1px;" class="h-24 mx-auto mt-24 mb-3 bg-gradient-to-b from-blueGray-800 to-blueGray-200"></div>
  <div class="relative mx-auto">
    <span class="relative block text-sm font-semibold tracking-widest text-center text-gray-200 uppercase">Why use Bonfire</span>
    <div class="w-40 h-2 mx-auto mt-2 transform rounded-full bg-gradient-to-r from-pink-600 to-indigo-600 "></div>
  </div>
<div class="relative pt-12 pb-28 overflow-hidden">
  <div class="relative">
    <div class="gap-12 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-base-content">
              
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500">Empower</span> your community with tools, not services
            </h2>
            <p class="mt-4 text-md leading-relaxed text-base-content text-opacity-80">
              We endeavour to develop tools for <a href="https://en.wikipedia.org/wiki/Conviviality" target="_blank" class="link">conviviality</a>, which you can own and work with, having total control over them. Tools that you can shape in every way and which are not developed for extracting value from its users in any way. 
              Each Bonfire instance is shaped by its members to pursue their community goals, not those of some investment fund. 
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full shadow-xl rounded-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="gap-12 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="order-last max-w-xl px-4 mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-base-content">
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-rose-400">Customise</span> and tailour your instance to your needs
            </h2>
            <p class="mt-4 text-lg text-base-content text-opacity-80">
              Add or remove extensions based on the functionality you need, or go futher and fork or create a new extension. Pick or create a theme that reflects your community identity, edit and localise terminology to increase inclusivity, decide which kind of information and behaviours to include to fight the dopamine economy.<br />
              With Bonfire, you are not limited by the choices made by a handful of developers or platform companies, instead you are encouraged to experiment with ways of creating and managing communities and cultures. 
            </p>
            
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full shadow-xl rounded-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg" alt="Customer profile user interface">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="gap-12 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="max-w-xl px-4 mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-base-content">
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-pink-400 to-pink-600">Connect and federate</span> with other instances, on your own terms
            </h2>
            <p class="mt-4 text-lg text-base-content text-opacity-80">
              Bonfire helps you handle your online activities in a safe and private environment, while also enabling you to connect with other people and communities in a decentralized environment. <br/>
              Each Bonfire community has the power to federate with others communities but also with other fediverse platforms that support the ActivityPub protocol (like Mastodon, PeerTube, etc...) and interact with them, maintaining the autonomy to decide which information to share with others and which to keep on their instance.                  
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="pl-4 -mr-48 sm:pl-6 md:-mr-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full shadow-xl rounded-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-1.jpg" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="gap-12 lg:mx-auto lg:grid lg:grid-cols-2 lg:grid-flow-col-dense">
      <div class="order-last max-w-xl px-4 mx-auto sm:px-6 lg:py-32 lg:max-w-none lg:mx-0 lg:px-0 lg:col-start-2">
        <div>
          <div class="mt-6">
            <h2 class="text-3xl font-extrabold tracking-tight text-base-content">
              <span class="text-transparent bg-clip-text bg-gradient-to-r from-rose-400 via-fuchsia-500 to-indigo-500">Participate and benefit</span> from any effort of the community 
            </h2>
            <p class="mt-4 text-lg text-base-content text-opacity-80">
              Bonfire is libre and open source software. This means that you can use and modify Bonfire for free without asking permission from anyone. Plus, benefit from any future developments  by anyone using the codebase.<br />
              Improvements, upgrades, and additions to Bonfire apps and extensions will always be freely available for the community to install, use, and customise. 
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1">
        <div class="pr-4 -ml-48 sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
          <img class="w-full shadow-xl rounded-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none" src="https://tailwindui.com/img/component-images/inbox-app-screenshot-2.jpg" alt="Customer profile user interface">
        </div>
      </div>
    </div>
  </div>
</div>

