

  <div class="relative bg-base-300">
    <div class="max-w-screen-lg py-24 mx-4 2xl:max-w-screen-xl lg:mx-auto">
      <div style="width: 1px;" class="h-16 mx-auto mb-4 bg-gradient-to-b from-base-200 to-base-content"></div>
      <div class="text-[42px] font-bold leading-relaxed text-center text-base-content">Develop conviviality in a decentralised environment</div>

      <div class="items-center gap-16 mt-24 lg:mx-auto lg:grid lg:grid-cols-2 place-content-start lg:grid-flow-col-dense">
        <div class="col-span-1 bg-contain object-center bg-no-repeat h-[500px] bg-[url('/img/control.png')] "></div>
      
        <div class="col-span-1 mt-4 ">
          <h2 class="text-[42px] font-bold tracking-wide text-base-content">
            You are in control
          </h2>
          <p class="mt-4 text-2xl leading-relaxed text-base-content">
            Start with the core features of Bonfire, then add or remove extensions and shape your community experience at the most granular level. 
          </p>
          <div class="flex flex-col gap-8 mt-6">
            <div class="flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
              <span class="text-xl text-base-content">Pick or create a theme that reflects your community identity</span>
            </div>

            <div class="flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
              <span class="text-xl text-base-content">Decide which actitivities you want to see in your timeline</span>
            </div>

            <div class="flex items-center gap-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
              </svg>
              <span class="text-xl text-base-content">Enable federation to connect with other communities</span>
            </div>

            <div class="flex items-center gap-2">
              <span class="text-xl underline text-base-content">And much more</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  <div class="max-w-screen-lg py-24 mx-4 2xl:max-w-screen-xl lg:mx-auto">
    <div class="relative">
      <div class="items-center gap-16 lg:mx-auto lg:grid lg:grid-cols-2 place-content-start lg:grid-flow-col-dense">
        <div class="col-span-1 order-last bg-contain object-center bg-no-repeat h-[500px] bg-[url('/img/microblog.png')] "></div>        
        <div class="mt-4 ">
          <h2 class="text-[42px] font-bold tracking-wide text-base-content">
            Way more than a microblog
          </h2>
          <p class="mt-4 text-2xl leading-relaxed text-base-content">
            Your community deserves more tools to interact and .... 
          </p>
        </div>
        
        </div>
    </div>
  </div>

  <div class="relative bg-base-300">
    <div class="max-w-screen-lg py-24 mx-4 2xl:max-w-screen-xl lg:mx-auto">
     
      <div class="items-center gap-16 lg:mx-auto lg:grid lg:grid-cols-2 place-content-start lg:grid-flow-col-dense">
        <div class="col-span-1 bg-contain object-center bg-no-repeat h-[460px] bg-[url('/img/circles2.png')] "></div>
      
        <div class="col-span-1 mt-4 ">
          <h2 class="text-[42px] font-bold tracking-wide text-base-content">
            Define circles that reflect real life
          </h2>
          <p class="mt-4 text-2xl leading-relaxed text-base-content">
            People don’t fit in binary boxes labeled “follower” or “friend”, so define as many custom circles as you need. Use one circle as a template for another, so you don’t have to configure permissions one person at a time.
          </p>
        </div>
      </div>
    </div>
  </div>


  <div class="max-w-screen-lg py-24 mx-4 2xl:max-w-screen-xl lg:mx-auto">
    <div class="relative">
      <div class="items-center gap-16 lg:mx-auto lg:grid lg:grid-cols-2 place-content-start lg:grid-flow-col-dense">
        <div class="col-span-1 order-last bg-contain object-center bg-no-repeat h-[500px] bg-[url('/img/permissions.png')] "></div>        
        <div class="mt-4 ">
          <h2 class="text-[42px] font-bold tracking-wide text-base-content">
            Fine-tune permissions
          </h2>
          <p class="mt-4 text-2xl leading-relaxed text-base-content">
            Set granular controls by deciding which circles or people should (or should not) be able to - for example - see, read, boost, reply to, or even edit your content. Or who can message, follow, or even request to message you...
          </p>
        </div>
        
        </div>
    </div>
  </div>
    
