---
layout: layouts/home.njk
---

<div class="max-w-lg mx-4 mt-12 2xl:max-w-screen-xl lg:mx-auto">
  <div class="max-w-screen-md mx-auto">
    <div class="mx-auto bg-[url('/img/zappa.png')] bg-contain w-[80px] h-[80px] bg-no-repeat"></div>
    <h1 class="text-5xl mt-4 text-center text-gray-200 font-bold">Zappa</h1>
    <div class="text-3xl mt-4 font-light text-center text-base-content">
        Using the power of community to counteract misinformation
    </div>

    <div class="mt-20 relative"> 
        <div class="absolute left-[-150px] top-[-60px]">
            <span class="italic">Watch our mindmap</span>
            <svg class="absolute top-[12px] right-[-80px]" width="74" height="41" viewBox="0 0 74 41" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M73.5 40.9999L73.7311 35.231L68.6195 37.9153L73.5 40.9999ZM0.546961 1.99779C8.89705 1.21005 22.4869 3.05215 36.0149 8.59695C49.5376 14.1396 62.9357 23.3561 70.9734 37.2633L71.8392 36.7629C63.6562 22.6042 50.0467 13.2675 36.3942 7.67166C22.747 2.07799 8.99411 0.196449 0.453039 1.00221L0.546961 1.99779Z" fill="#D4D5D7"/>
            </svg>
        </div>
        <div class="mt-8 relative pb-[57%] h-0">  
        <iframe src="https://www.loom.com/embed/4286507989d749b683ce228d1a3af9f5" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe>
        </div>
    </div>
    <div class="mt-8 flex mx-auto place-content-center items-center space-x-4">
        <a href="#" class="btn btn-primary normal-case">Read our report</a>
        <a href="#" class="btn btn-outline normal-case btn-primary">View milestones</a>
    </div>
  </div>
</div>
<div class="bg-base-content bg-opacity-10 mt-20 p-16">
    <div class="text-3xl font-bold text-center text-base-content">Our sponsors</div>
    <div class="flex items-center max-w-screen-lg mx-auto place-content-center mt-8 space-x-4">
        <div class="bg-contain  bg-no-repeat w-40 bg-[url('/img/ecf2.png')] h-20"></div>
        <a href="#" class="btn btn-outline normal-case">Become a sponsor</a>
    </div>
</div>

<div class="bg-base-200 py-12">
<div class="max-w-screen-md mx-4 my-12 2xl:max-w-screen-xl lg:mx-auto">
    <div class="text-2xl font-bold text-center text-base-content">How bonfire can leverage upon zappa to promote a better and safer  social networking experience ?</div>
    <div class="grid grid-cols-2 gap-24 mt-12">
        <div class="col-span-1">
            <div class="w-24 h-24 rounded-full flex items-center place-content-center bg-base-content bg-opacity-30 mx-auto">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                <path d="M2 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1H3a1 1 0 01-1-1V4zM8 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1H9a1 1 0 01-1-1V4zM15 3a1 1 0 00-1 1v12a1 1 0 001 1h2a1 1 0 001-1V4a1 1 0 00-1-1h-2z" />
              </svg>
            </div>
            <div class="text-lg font-bold text-center text-gray-200 mt-3">Custom feeds that do not drain user’ attention </div>
             <a href="" class="link mt-3 link-hover flex items-center gap-2 place-content-center">
                <span class="text-xs font-medium text-neutral-content uppercase">View milestone</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </a>
        </div>
        <div class="col-span-1">
            <div class="w-24 h-24 rounded-full flex items-center place-content-center bg-base-content bg-opacity-30 mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="text-lg font-bold text-center text-gray-200 mt-3">Shared whitelist & <br /> blocklist</div>
            <a href="" class="link mt-3 link-hover flex items-center gap-2 place-content-center">
                <span class="text-xs font-medium text-neutral-content uppercase">View milestone</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </a>
        </div>
        <div class="col-span-1">
            <div class="w-24 h-24 rounded-full flex items-center place-content-center bg-base-content bg-opacity-30 mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                </svg>
            </div>
            <div class="text-lg font-bold text-center text-gray-200 mt-3">Better tools and roles to help with admin moderation</div>
            <a href="" class="link mt-3 link-hover flex items-center gap-2 place-content-center">
                <span class="text-xs font-medium text-neutral-content uppercase">View milestone</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </a>
        </div>
        <div class="col-span-1">
            <div class="w-24 h-24 rounded-full flex items-center place-content-center bg-base-content bg-opacity-30 mx-auto">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" viewBox="0 0 20 20" fill="currentColor">
                <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
                </svg>
            </div>
            <div class="text-lg font-bold text-center text-gray-200 mt-3">Custom metadata to collectively analyse contents</div>
            <a href="" class="link mt-3 link-hover flex items-center gap-2 place-content-center">
                <span class="text-xs font-medium text-neutral-content uppercase">View milestone</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                </svg>
            </a>
        </div>
        
    </div>
</div>
</div>

<div class="max-w-screen-lg mx-4 my-12 2xl:max-w-screen-xl lg:mx-auto">
<h1 class="font-bold text-left text-3xl text-base-content">Articles written on <span class="underline decoration-wavy decoration-amber-400 underline-offset-8">zappa:</h1>
{% set taglist = collections[ "zappa" ] %}
{% for post in taglist | reverse %}
    <article class="my-16 lg:my-8 lg:flex lg:space-x-6">
      <div class="w-full h-40 lg:w-32 lg:h-32 bg-blueGray-400 rounded bg-cover bg-no-repeat bg-center shadow-xl" style="background-image: url({{ post.data.image }})"></div>
      <div class="flex-1 mt-4 lg:mt-0">
        <h2 class="font-bold text-2xl text-blueGray-200 hover:text-blueGray-200 hover:underline mb-2">
            <a href="{{ post.url | url }}">
                {% if post.data.title %}
                    {{ post.data.title }}
                {% else %}
                    Untitled
                {% endif %}
            </a>
        </h2>
        <div class="flex items-center space-x-2">
            <span class="flex items-center space-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-base-content text-opacity-70" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                  </svg>
              <time class="text-xs text-base-content text-opacity-70">{{ post.date | readableDate }}</time>
            </span>
        </div>
        
        
        {% if post.data.description %}
            <p class="text-sm text-base-content text-opacity-80 my-2">
                {{ post.data.description }}
            </p>
        {% endif %}
        <div class="my-2">
            {%- for tag in post.data.tags -%}
            {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
                <a href="{{ tagUrl | url }}">
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-indigo-100 text-indigo-800">
                <svg class="-ml-0.5 mr-1.5 h-2 w-2 text-indigo-400" fill="currentColor" viewBox="0 0 8 8">
                    <circle cx="4" cy="4" r="3" />
                </svg>
                {{ tag }}
                </span>
                </a>
            {%- endfor %}
        </div>
        <div>
            <a href="{{ post.url | url }}" class="text-pink-400 font-bold text-sm">
                Read more →
            </a>
        </div>
      </div>
    </article>
  {% endfor %}

  </div>

{% include "support_footer.njk" %}