<div class="bg-base-300">
  <div class="max-w-screen-xl px-4 xl:px-0 flex flex-col mx-auto py-24 text-center">  
    <h1 class="text-5xl font-bold ">Courses</h1>
    {# <h2 class="text-xl text-base-content mt-4 max-w-screen-sm">Bonfire is not a single app, but comes in many flavours.</h2> #}
  </div>
</div>
<div class="max-w-screen-lg px-4 xl:px-0 mx-auto my-12 pb-40">

<a href="/courses/extensions/create_a_new_extension" class="flex items-start gap-8">
    <div class="w-40 h-40 no-shrink min-w-[10rem] flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">▚</span>
        </div>
<div>
    <h2 class="text-2xl font-semibold text-left">Developing and Launching Your Own Bonfire Extension</h2>
    <div class="badge badge-outline mt-2 badge-accent border-accent/30 text-xs uppercase">11 Lessons</div>
    <div class="prose prose-lg max-w-full mt-2">This course delves into the essentials of developing a comprehensive Bonfire extension. Covering all necessary steps and design patterns, it guides you through creating new functionalities, including schema additions, migrations, feed implementation, pagination, and federation. </div>
</div>
</a>

</div>
</div>