<div class="bg-base-300">
  <div class="max-w-screen-xl px-4 xl:px-0 flex flex-col mx-auto py-24 text-center">  
    <h1 class="text-5xl font-bold ">Tutorials</h1>
    {# <h2 class="text-xl text-base-content mt-4 max-w-screen-sm">Bonfire is not a single app, but comes in many flavours.</h2> #}
  </div>
</div>
<div class="max-w-screen-lg px-4 xl:px-0 mx-auto my-12 pb-40">

<a href="/courses/extension/" class="flex items-start gap-8 pb-6">
    <div class="w-40 h-40 no-shrink min-w-[10rem] flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">▚</span>
        </div>
<div>
    <h2 class="text-2xl font-semibold text-left">Developing and launching your own Bonfire extension</h2>
    <div class="badge badge-outline mt-2 badge-accent border-accent/30 text-xs uppercase">11 chapters</div>
    <div class="prose prose-lg max-w-full mt-2">Delves into the essentials of developing a comprehensive Bonfire extension. Covering necessary steps and design patterns, it guides you through creating new features, including database schemas and migrations, activity feeds, UIs, pagination, and federation. </div>
</div>
</a>

<a href="/courses/how_to_fork_extension" class="flex items-start gap-8 pb-6">
    <div class="w-40 h-40 no-shrink min-w-[10rem] flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">▚</span>
        </div>
<div>
    <h2 class="text-2xl font-semibold text-left">Make changes to a Bonfire extension</h2>
    {# <div class="badge badge-outline mt-2 badge-accent border-accent/30 text-xs uppercase">11 chapters</div> #}
    <div class="prose prose-lg max-w-full mt-2">Guides you through the process of editing an existing Bonfire extension. We'll cover how to clone, enable, and contribute to an extension, ensuring you can test and implement your changes effectively.</div>
</div>
</a>

</div>
</div>