<div
      class="sticky top-0 z-[999999999999999999] transition duration-500 ease-in-out"
      x-data="{open: false, atTop: false}" 
       :class="{ 'shadow-lg': atTop, 'bg-transparent text-base-content': !atTop, 'bg-base-100 text-base-content': atTop }"
      @scroll.window="atTop = (window.pageYOffset < 50) ? false: true"
    >
    {# <div class="absolute inset-x-0 top-0 z-20 flex justify-center overflow-hidden pointer-events-none">
      <div class="w-[108rem] flex-none flex justify-end">
          <source srcset="/img/bgover.png" type="image/avif">
          <img src="/img/bgover.png" alt="" class="w-[90rem] flex-none max-w-none block" decoding="async">
        </picture>
      </div>
    </div> #}

    <div class="bg-base-300">
      <header class="relative z-30 lg:px-8 mx-auto navbar">
        <div class="navbar-start w-[70%]">
          <div class="flex  items-center flex-shrink-0">
            <a href="/" class="flex items-center space-x-4">
              <span class="block bg-center bg-no-repeat bg-cover" style="width: 30px; height: 40px; background-image: url(/img/bonfire.png)"></span>  
              <span class="flex items-center"><span class="text-base font-bold tracking-wider text-base-content">Bonfire</span> 
              {# <div class="mt-1 ml-2 text-xs tracking-wider capitalize text-primary">{{ latest_version | safe }}</div> #}
              </span>
            </a>
          </div>
           <div class="ml-4 hidden xl:flex">
          <ul class="flex-row  p-0 font-medium menu menu-compact menu-horizontal">
            <li class="dropdown">
              
              <div role="button" tabindex="0" class="flex items-center gap-2">
                <span>About</span>
                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
              </div>
              
              <ul tabindex="0" class="dropdown-content border border-base-content/30 !ml-0 menu mt-2 p-1 bg-base-300 rounded-lg w-80">
                <li>
                   <a class="flex flex-col rounded-lg flex-wrap items-start" href="/about">
                      <div class="font-bold">About Bonfire</div>
                      <div class="font-light -mt-1.5  text-sm text-base-content/70 font-light">If you want to start a new digital space or migrate to an existing one.</div>
                  </a>
                </li>
                <li>
                   <a class="flex flex-col rounded-lg flex-wrap items-start" href="/conduct">
                      <div class="font-bold">Code of Conduct</div>
                      <div class="font-light -mt-1.5  text-sm text-base-content/70 font-light">The starting point for hacking on Bonfire.</div>
                  </a>
                </li>
                
                
              </ul>
            </li>
            <li class="dropdown">
                <div tabindex="0" class="flex items-center gap-2">
                  <span>Ecosystem</span>
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </div>
              
              <ul tabindex="0" class="dropdown-content border border-base-content/30 !ml-0 menu mt-2 p-1 bg-base-300 rounded-lg w-80">
                <li>
                  <a href="/apps" class="flex flex-col rounded-lg flex-wrap items-start">
                      <div class="font-bold">Apps</div>
                      <div class="font-light -mt-1.5  text-sm text-base-content/70 font-light">Ready to use social apps built on Bonfire.</div>
                  </a>
                </li>
                <li>
                  <a href="/extensions" class="flex flex-col rounded-lg flex-wrap items-start" >
                      <div class="font-bold">Extensions</div>
                      <div class="font-light -mt-1.5  text-sm text-base-content/70 font-light">Explore the list of available extensions.</div>
                  </a>
                </li>
                <li>
                  <a class="flex flex-col rounded-lg flex-wrap items-start" href="/themes">
                      <div class="font-bold">Themes</div>
                      <div class="font-light -mt-1.5  text-sm text-base-content/70 font-light">Personalize Bonfire with your favourite colors and brand.</div>
                  </a>
                </li>
               
              </ul>
            </li>
            <li class="dropdown">
                <div tabindex="0" class="flex items-center gap-2">
                  <span>Learn</span>
                  <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                </div>
              <ul tabindex="0" class="dropdown-content border border-base-content/30 !ml-0 menu mt-2 p-1 bg-base-300 rounded-lg w-80">
                <li>
                  <a class="flex flex-col rounded-lg flex-wrap items-start" href="/docs">
                      <div class="font-bold">Documentation</div>
                      <div class="font-light text-sm text-base-content/70 -mt-1.5">Everything you need to get started with bonfire</div>
                  </a>
                </li>
                  <li>
                  <a class="flex flex-col rounded-lg flex-wrap items-start" href="/docs/tutorials">
                      <div class="font-bold">Tutorials</div>
                      <div class="font-light text-sm text-base-content/70 -mt-1.5">Everything you need to get started with bonfire</div>
                  </a>
                </li>
                <li>
                  <a class="flex rounded-lg flex-col flex-wrap items-start" href="/community">
                      <div class="font-bold">Community</div>
                      <div class="font-light text-sm text-base-content/70 -mt-1.5">Everything you need to get started with bonfire</div>
                  </a>
                </li>
                <li>
                  <a class="flex rounded-lg flex-col flex-wrap items-start" href="/faq">
                    <div class="font-bold">FAQ</div>
                    <div class="text-sm -mt-1.5 font-light text-base-content/70">Most asked questions</div>
                  </a>
                </li>
                {# <li>
                  <a class="flex flex-col rounded-lg flex-wrap items-start" href="/roadmap">
                    <div class="font-bold">Roadmap</div>
                    <div class="text-sm text-base-content/70">See what's coming next</div>
                  </a>
                </li>  #}
                <li>
                  <a class="flex flex-col rounded-lg flex-wrap items-start" href="/docs/changelog">
                    <div class="font-bold">Changelog</div>
                    <div class="font-light text-sm text-base-content/70 -mt-1.5">See the latest updates and improvements</div>
                  </a></li>
                <li>
                  <a class="flex flex-col rounded-lg flex-wrap items-start" href="https://github.com/bonfire-networks/bonfire-app" target="_blank">
                    <div class="font-bold">Get the code</div>
                    <div class="font-light text-sm text-base-content/70 -mt-1.5">Bonfire is open source and AGPL3 licensed</div>
                  </a>
                </li>
              </ul>
            </li>
            {# <li>
            <a href="/features" class="{{ 'underline decoration-primary decoration-2 text-primary  underline-offset-8' if '/features' in page.url }} ">
              <span class="text-sm font-regular">Features</span>
            </a>
            </li> #}
            <li>
            <a href="/hosting" class="{{ 'underline decoration-primary decoration-2 text-primary  underline-offset-8' if '/hosting' in page.url }} ">
              <span class="text-sm font-regular">Hosting</span>
            </a>
            </li>
            
       

            {# <li>
              <a href="/community" class="{{ 'underline decoration-primary decoration-2 text-primary  underline-offset-8' if '/community' in page.url }} ">
                <span class="text-sm font-regular">Community</span>
              </a>
            </li> #}

            <li>
            <a href="/blog" class="{{ 'underline decoration-primary decoration-2 text-primary  underline-offset-8' if '/blog' in page.url }} ">
              <span class="text-sm font-regular">News</span>
            </a>
            </li>
          </ul>
        </div>
        



        </div>
        
        <div class="navbar-end">
           <label class="swap swap-rotate mr-4">
  
              <!-- this hidden checkbox controls the state -->
              <input type="checkbox" class="theme-controller" value="synthwave" />
              
              <!-- sun icon -->
              <svg class="swap-on fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/></svg>
              
              <!-- moon icon -->
              <svg class="swap-off fill-current w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z"/></svg>
              
            </label>
          <a href="/start/" >
            <span class="hidden  normal-case rounded-full btn btn-sm btn-primary xl:flex">Get Bonfire</span>
          </a>

          <div class="inset-y-0 right-0 flex gap-3 items-center xl:hidden">
            <a href="/start/" >
              <span class="normal-case rounded-full btn btn-sm btn-primary">Get started</span>
            </a>
              <span class="sr-only">Open main menu</span>
              <label class="btn btn-circle btn-ghost swap swap-rotate">
  
              <!-- this hidden checkbox controls the state -->
              <input type="checkbox" />
              
              <!-- hamburger icon -->
              <svg @click="open = !open" aria-expanded="false" x-bind:aria-expanded="open.toString()" class="swap-off fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><path d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"/></svg>
              
              <!-- close icon -->
              <svg @click="open = !open" aria-expanded="false" x-bind:aria-expanded="open.toString()" class="swap-on fill-current" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 512 512"><polygon points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"/></svg>
              
            </label>
          </div>

        </div>
      

    
      </header>
    </div>
    <div 
      x-description="Mobile menu, show/hide based on menu state." 
      class="xl:hidden" 
      id="mobile-menu" 
      x-show="open" 
      style="display: none;">
      <ul class="p-0 menu">
          <li>
            <a href="/docs" class="{{ 'rounded underline decoration-primary decoration-2 text-primary  underline-offset-8' if '/docs' in page.url }} ">
            <span class="text-base font-regular">Documentation</span>
          </a>
          </li>
          {# <li>
            <a href="/roadmap" class="{{ 'rounded underline decoration-primary decoration-2 underline-offset-8' if '/docs' in page.url }} ">
            <span class="text-base font-regular">Roadmap</span>
          </a>
          </li> #}
          {# <li>
            <a href="/features" class="{{ 'rounded underline decoration-primary decoration-2 underline-offset-8' if '/features' in page.url }} ">
            <span class="text-base font-regular">Features</span>
          </a>
          </li> #}
          <li>
            <a href="/case_studies" class="{{ 'rounded underline decoration-primary decoration-2 underline-offset-8' if '/case_studies' in page.url }} ">
            <span class="text-base font-regular">Case Studies</span>
          </a>
          </li>
          
          <li>
            <a href="/faq" class="{{ 'rounded underline decoration-primary decoration-2 underline-offset-8' if '/faq' in page.url }} ">
            <span class="text-base font-regular">FAQs</span>
          </a>
          </li>
          <li>
          <a href="/blog" class="{{ 'rounded underline decoration-primary decoration-2 underline-offset-8' if '/blog' in page.url }} ">
            <span class="text-base font-regular">Blog</span>
          </a>
          </li>
          <li>
            <a href="/community" class="{{ 'rounded underline decoration-primary decoration-2 underline-offset-8' if '/contribute' in page.url }} ">
              <span class="text-base font-regular">Community</span>
            </a>
          </li>

          <li>
            <a href="https://github.com/bonfire-networks/bonfire-app" class="{{ 'rounded underline decoration-primary decoration-2 underline-offset-8' if '/contribute' in page.url }} ">
              <span class="text-base font-regular">Get the code</span>
            </a>
          </li>
          
      </ul>
    </div>
  </div>