<div class="bg-base-300">
  <div class="max-w-screen-lg place-content-center items-center  flex flex-col mx-auto py-12">  
    <h1 class="text-3xl font-bold  ">Tutorials</h1>
    <h2 class="text-xl text-base-content mt-4 max-w-screen-sm">Bonfire is not a single app, but comes in many flavours.</h2>
  </div>
</div>
<div class="max-w-screen-lg mx-auto my-12">




{# <h1 class="text-4xl mt-12  font-bold text-base-content">Foundamentals</h1>  #}
<div class="grid grid-cols-3 mt-12 gap-4">
    
    {# <a href="/tutorials/useful_commands">
    <article class="w-full p-4  flex-col flex hover:bg-base-content/5 border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2 ">Useful commands when working with Bonfire</div>
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">◆</span>
            </div>
        </div>
    </article>
    </a> #}

 <a href="/tutorials/how_to_create_extension">
    <article class="w-full p-4  flex-col flex hover:bg-base-content/5 border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">Develop a new Bonfire extension</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">▚</span>
            </div>
        </div>
    </article>
</a>


<a href="/tutorials/how_to_fork_extension">
    <article class="w-full p-4 hover:bg-base-content/5  flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">Make changes to a Bonfire extensions</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">▖</span>
            </div>
        </div>
    </article>
</a>



<a href="/tutorials/add_settings">
    <article class="w-full p-4 hover:bg-base-content/5 flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">Create a new settings option in your extension</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">◤</span>
            </div>
        </div>
    </article>
</a>

    <article class="w-full p-4  flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">Configure your bonfire instance</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">▙</span>
            </div>
        </div>
    </article>




    <article class="w-full p-4  flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">How to create a new app</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">◒</span>
            </div>
        </div>
    </article>



    <article class="w-full p-4  flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">How to edit the user interface</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">▜</span>
            </div>
        </div>
    </article>

    <article class="w-full p-4  flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">Work with Mixins and Pointers</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">▌</span>
            </div>
        </div>
    </article>

    <article class="w-full p-4  flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">Use boundaries and permissions</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">▐</span>
            </div>
        </div>
    </article>
    
    
<article class="w-full p-4  flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">Include federation in your extension</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">░</span>
            </div>
        </div>
    </article>

    <article class="w-full p-4  flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">Publish new activities with the Composer</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">▱</span>
            </div>
        </div>
    </article>

    <article class="w-full p-4  flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">Work with feeds and pagination</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">▦</span>
            </div>
        </div>
    </article>
    
    
    <article class="w-full p-4  flex-col flex  border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2  ">Create your own activity preview</div>
        {# <div class="bg-base-content/10 w-24 h-24 rounded">
        </div> #}
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">◠</span>
            </div>
        </div>
    </article>
    


</div>
</div>