---
layout: layouts/base.njk
---


<div class="max-w-screen-md items-center place-content-center flex flex-col mx-4 mt-12 prose prose-lg lg:mx-auto">
    <a href="/docs/tutorials" class="btn btn-outline border-base-content/30 btn-sm no-underline	 rounded-full">View all tutorials</a>
    <h1 class="text-5xl mt-6 text-center font-bold">Create a new settings option in your extension</h1>
    <div class="rounded-lg mx-auto w-full max-w-[680px] h-[240px] flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
        <span class="text-8xl">◤</span>
    </div>
</div>

<section class="my-0 mx-auto p-[6vmin] sm:py-[6vw] sm:px-[6vmin]">
  <div class="my-0 mx-auto max-w-8xl w-full">
    <div class="max-w-prose mx-auto prose prose-lg">
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">Settings play a crucial role in giving users control over the app's behavior, appearance, and overall functionality without the need for code modifications.</p>
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">This guide is designed for developers who want to expand the versatility of their Bonfire extensions.</p>
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">By the end of this tutorial, you'll have the knowledge and confidence to integrate multiple setting options into your extension, making the most of Bonfire's helpers and its modular architecture.</p>
      
      
      <div class="p-4 border-info rounded bg-info/10">
        <h2 class="text-xs !m-0  uppercase text-info font-meidum tracking-widest">Prerequisites</h2>
        {# <p class="prose mt-2 !mb-0">Before diving into this tutorial, there are a few things you should have in place:<br/> #}
          <ul class="prose mt-0">
            <li>Elixir, LiveView knowledge.</li>
            <li>A local Bonfire development environment already set up. If you're encountering any hiccups in setting it up, don't worry - just <a href="">check out our step-by-step guide to run Bonfire locally</a> for a smooth start.</li>
            <li>Familiarity with the Bonfire framework and its extension architecture.</li>
          </ul>
        </p>
      </div>


      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">Understanding Bonfire's Setting Structure</h2>


      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">Adding a new option in the Settings panel</h2>


      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">Integrating the Setting into the Extension</h2>

      <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">Testing and Validating Your New Setting:</h2>

    </div>
  </div>
</section>

