---
layout: layouts/base.njk
---


<div class="max-w-screen-md items-center place-content-center flex flex-col mx-4 mt-12 prose prose-lg lg:mx-auto">
    <a href="/docs/tutorials" class="btn btn-outline border-base-content/30 btn-sm no-underline	 rounded-full">View all tutorials</a>
    <h1 class="text-5xl mt-6 text-center font-bold">Develop a new Bonfire extension</h1>
    <div class="rounded-lg mx-auto w-full max-w-[680px] h-[240px] flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
        <span class="text-8xl">◤</span>
    </div>
</div>

<section class="my-0 mx-auto p-[6vmin] sm:py-[6vw] sm:px-[6vmin]">
  <div class="my-0 mx-auto max-w-8xl w-full">
    
    </div>
  </div>
</section>

