---
layout: layouts/base.njk
---


<div class="max-w-screen-md items-center place-content-center flex flex-col mx-4 mt-12 prose prose-lg lg:mx-auto">
    <a href="/courses/extension/" class="btn btn-outline border-base-content/30 btn-sm no-underline	 rounded-full"><- Tutorial homepage</a>
    <h1 class="text-5xl mt-6 text-center font-bold">Create a new Bonfire extension</h1>
    <div class="rounded-lg mx-auto w-full max-w-[680px] h-[240px] flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
        <span class="text-8xl">◤</span>
    </div>
</div>

<section class="my-0 mx-auto p-[6vmin] sm:py-[6vw] sm:px-[6vmin]">
  <div class="my-0 mx-auto max-w-8xl w-full">
    <div class="max-w-prose mx-auto prose prose-lg">
        
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">In this tutorial, we'll go through the steps to create a new extension for the Bonfire platform. Extensions in Bonfire are powerful tools that allow you to extend the functionality and features of your application.</p>
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">This guide is perfect for developers who are looking to contribute new features or capabilities to the Bonfire ecosystem.</p>
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">By the end of this tutorial, you should have a solid understanding of how to develop and integrate a new extension in Bonfire, leveraging its modular architecture.</p>
        <div class="p-4 border-info rounded bg-info/10">
            <h2 class="text-xs !m-0  uppercase text-info font-meidum tracking-widest">Prerequisites</h2>
            <ul class="prose mt-0">
                <li>Knowledge of the Elixir programming language and the <a href="https://hexdocs.pm/phoenix_live_view/welcome.html">Phoenix/LiveView framework</a></li>
                <li>A local Bonfire development environment already set up - <a href="/docs/hacking/">check out our step-by-step guide to run Bonfire locally</a> for a smooth start.</li>
                <li>Some familiarity with the Bonfire framework and its <a href="/docs/architecture/">extension architecture</a>.</li>
            </ul>
        </div>
        <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">What is a Bonfire extension</h2>
        
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">Extensions in Bonfire are collections of code that introduce new features and enhance the platform's functionality, or explore a different user experience for an existing feature. They can range from adding entirely new pages, such as <a href="https://https://github.com/bonfire-networks/bonfire_invite_links" target="blank">bonfire_invite_links</a> which lets admins create and share invites with usage limit and expiration date, to implementing specific components or widgets. An example is <a href="https://github.com/bonfire-networks/bonfire_editor_milkdown" target="blank">bonfire_editor_milkdown</a>, which integrates a markdown-first editor for publishing activities.<p>
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">Extensions are versatile, they can implement their own schema, database, logic, and components, or they can leverage existing fields, context functions, and UI components, or more commonly, a combination of both.</p>
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">Bonfire's strength lies in its modular architecture. A significant portion of its codebase is included in extensions, each serving specific purposes. </p>
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">Moreover, extensions often utilize code from other extensions. For instance, 'bonfire_common' and 'bonfire_ui_common' provide a suite of helpers to ease a good amount of tasks.</p>

        <h2 class="text-2xl md:text-4xl text-center font-bold tracking-tight !leading-normal mb-10 text-base-content">Create your Bonfire extension</h2>

        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">To start building your own extension, you can utilize our custom mix generator task. Simply navigate to the Bonfire app root folder in your terminal and type:
        
        {% highlight "bash" %}
            mix extension.new *your_extension_name*
        {% endhighlight %}

        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">This command creates a new directory in <code>./extensions</code> named <code>*your_extension_name*</code>, complete with all the necessary files and scaffolding.</p>
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">Once your extension folder is set up, you're ready to dive into coding. If your extension includes new pages, you need to link them in the main router. To do this, include <code>use_if_enabled(Bonfire.ExtensionTemplate.Web.Routes)</code> within your app's Router module.</p>
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">Additionally, consider these steps to enhance your extension:
            <ul class="mt-5 text-2xl font-medium tracking-tight text-base-content">
                <li>Implement extension-specific fake functions for testing purposes.</li>
                <li>Create extension-specific database migrations.</li>
                <li>Add dependencies to deps.git and/or deps.hex.</li>
            </ul>
        </p>
        
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">Simultaneously, begin tracking your extension’s development with Git. Initialize a new Git repository directly within your extension’s directory:
        {% highlight "bash" %}
            git init    
        {% endhighlight %}
        <p class="mt-5 text-2xl font-medium tracking-tight text-base-content">After coding your initial features, create an empty repository on your preferred Git platform. Then, commit and push your local changes to make your work accessible and open for collaboration:</p>

        {% highlight "bash" %}
git add .
git commit -m "first commit"
git branch -M main
git remote add origin {your-remote-repository}
git push -u origin main
        {% endhighlight %}


<p class="mt-5 text-2xl font-medium tracking-tight text-base-content">
    Remember to add your extension to <code>./config/deps.git</code> (including the branch name), allowing others without access to your fork to utilize it.<br />
    And just like that, you've successfully created and prepared your first Bonfire extension and shared with the community 🔥!</p>
    </div>
  </div>
</section>

