---
layout: layouts/docs.njk
---

<div class="max-w-full prose prose-lg">
{% remote_markdown "https://raw.githubusercontent.com/bonfire-networks/bonfire-app/main/docs/BONFIRE-FLAVOURED-ELIXIR.md" %}  
</div>