---
layout: layouts/docs.njk
---

<meta http-equiv="refresh" content="0;url=https://docs.bonfirenetworks.org/bonfire-flavoured-elixir.html">

{# <div class="max-w-full prose prose-lg">
{% remote_markdown "https://raw.githubusercontent.com/bonfire-networks/bonfire-app/main/docs/topics/BONFIRE-FLAVOURED-ELIXIR.md" %}  
</div> #}