---
layout: layouts/docs.njk
---

<meta http-equiv="refresh" content="0;url=https://docs.bonfirenetworks.org/database.html">

{# 
<div class="max-w-full prose prose-lg">
{% remote_markdown "https://raw.githubusercontent.com/bonfire-networks/bonfire-app/main/docs/topics/DATABASE.md" %}  
</div> #}