---
layout: layouts/docs.njk
---

<div class="max-w-screen-lg">
<h1 class="text-5xl   font-semibold text-base-content"> Glossary</h1> 


<div class="flex mt-12 flex-col gap-2">
<div class="collapse collapse-arrow border border-base-content/20">
  <input type="radio" name="my-accordion-2" checked="checked" /> 
  <div class="collapse-title text-xl font-medium">
    Fediverse
  </div>
  <div class="collapse-content"> 
    <p>The Fediverse is a collective term for the network of interconnected, federated websites. It represents an ecosystem of interconnected yet independent platforms that communicate with each other using open source protocols.</p>
  </div>
</div>
<div class="collapse collapse-arrow border border-base-content/20">
  <input type="radio" name="my-accordion-2" /> 
  <div class="collapse-title text-xl font-medium">
    Instance
  </div>
  <div class="collapse-content"> 
    <p>An instance is a specific installation of a federated platform. Each instance can be independently operated and customized, hosting a unique community with its own rules and features. Instances are the building blocks of the federated network.</p>
  </div>
</div>
<div class="collapse collapse-arrow border border-base-content/20">
  <input type="radio" name="my-accordion-2" /> 
  <div class="collapse-title text-xl font-medium">
    Community
  </div>
  <div class="collapse-content"> 
    <p>In Bonfire, a community refers to the group of users associated with a particular instance or within a specific group that span across different instances. Communities are defined by common interests, goals, or identities and are often self-governing within the framework of the larger platform.</p>
  </div>
</div>

<div class="collapse collapse-arrow border border-base-content/20">
  <input type="radio" name="my-accordion-2" /> 
  <div class="collapse-title text-xl font-medium">
    Code of Conduct
  </div>
  <div class="collapse-content"> 
    <p>The Code of Conduct is a set of guidelines and rules that govern behavior and interactions within a community. CoC serves to establish expected standards of conduct, helping to create a safe and respectful environment for all members.</p>
  </div>
</div>

<div class="collapse collapse-arrow border border-base-content/20">
  <input type="radio" name="my-accordion-2" /> 
  <div class="collapse-title text-xl font-medium">
    Admin
  </div>
  <div class="collapse-content"> 
    <p>Admins are responsible for the overall maintenance of the platform, ensuring its smooth operation and security. Especially when the instance is just created, the user with admin role can configure the instance, create and assign new roles.</p>
  </div>
</div>

<div class="collapse collapse-arrow border border-base-content/20">
  <input type="radio" name="my-accordion-2" /> 
  <div class="collapse-title text-xl font-medium">
    Moderator
  </div>
  <div class="collapse-content"> 
    <p>A moderator in Bonfire is responsible for overseeing the day-to-day interaction within the community. They enforce the Code of Conduct, manage content, and address issues among users to maintain a healthy and engaging environment.</p>
  </div>
</div>

<div class="collapse collapse-arrow border border-base-content/20">
  <input type="radio" name="my-accordion-2" /> 
  <div class="collapse-title text-xl font-medium">
    Plugin / Extension
  </div>
  <div class="collapse-content"> 
    <p>A plugin or extension in Bonfire is an additional software component that can be added to an instance to enhance or introduce new functionality. These allow for customization and expansion of the platform's capabilities according to the specific needs of a community.</p>
  </div>
</div>

<div class="collapse collapse-arrow border border-base-content/20">
  <input type="radio" name="my-accordion-2" /> 
  <div class="collapse-title text-xl font-medium">
    Circle
  </div>
  <div class="collapse-content"> 
    <p>"Circles" are a feature designed to manage and understand the various relationships in a user's network. They act as a way to represent the different layers of intimacy, trust, and context-specific connections one might have with others. Circles allow users to categorize their relationships based on factors like closeness or shared interests, aiding in building and maintaining stronger, more meaningful connections. This tool is especially useful for organizing contacts according to different areas of one's life, enhancing the personalization and relevance of interactions within the Bonfire network.</p>
  </div>
</div>

<div class="collapse collapse-arrow border border-base-content/20">
  <input type="radio" name="my-accordion-2" /> 
  <div class="collapse-title text-xl font-medium">
    Roles
  </div>
  <div class="collapse-content"> 
    <p>Roles in Bonfire are a way to assign a set of permissions to users or circles, allowing them to perform specific actions. Roles play a crucial role in defining the scope of engagement and participation for users. By assigning roles, users can establish specific permissions and restrictions, ensuring that users or circles have appropriate levels of access and abilities based on their relationship with you or the purpose of the boundary or nature of the content on which they're applied.</p>
  </div>
</div>

<div class="collapse collapse-arrow border border-base-content/20">
  <input type="radio" name="my-accordion-2" /> 
  <div class="collapse-title text-xl font-medium">
    Boundaries
  </div>
  <div class="collapse-content"> 
    <p>By assigning a role to a user or a circle, you create a boundary.
    A single boundary can include several users/circles, each of them with their own roles assigned.
    This tool offers nuanced control over who can do what within your digital space, aligning with your personal preferences and relationship dynamics</p>
  </div>
</div>
</div>
</div>