<!doctype html>
<html data-theme="dark" class="bg-base-100 w-full antialiased" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <!-- OpenGraph meta tags for social sharing -->
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
    {% if image %}
    <meta property="og:image" content="{{ metadata.url }}{{ image }}">
    {% endif %}
    <!-- Twitter card tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title or metadata.title }}">
    <meta name="twitter:description" content="{{ description or metadata.description }}">
    {% if image %}
    <meta name="twitter:image" content="{{ metadata.url }}{{ image }}">
    {% endif %}
    
    <link
    rel="stylesheet" href="{{ '/css/style_v2.css?v2' | url }}">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/focus@3.x.x/dist/cdn.min.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  </head>
  <body data-theme="dark" class="body-theme w-full bg-base-100 antialiased">
  <div class="drawer">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">
      <!-- Navbar -->
      {% include "header.njk" %}
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>
    <div class="drawer-side">
      <label for="my-drawer-2" aria-label="close sidebar" class="z-[99999999999999999999999999] drawer-overlay"></label>
      <ul class="menu  bg-base-200 min-h-full w-80 p-4 relative z-[9999999999999999999]">
        <li class="mb-4">
            <a href="/" class="flex items-center space-x-2">
              <span class="block bg-center bg-no-repeat bg-cover" style="width: 30px; height: 40px; background-image: url(/img/bonfire.png)"></span>  
              <span class=""><span class="text-base font-semibold tracking-wider text-base-content">Bonfire Networks</span> 
              {# <div class="mt-1 ml-2 text-xs tracking-wider capitalize text-info">{{ latest_version | safe }}</div> #}
              </span>
            </a>
          </li>
        <!-- Sidebar content here -->
        <li><a href="/about">About</a></li>
        <li><a href="/apps">Apps</a></li>
        <li><a href="/hosting">Hosting</a></li>
        <li><a href="https://docs.bonfirenetworks.org">Docs</a></li>
        <li><a href="/faq">FAQs</a></li>
        <li><a href="/mosaic">Mosaic</a></li>
        <li><a href="/blog">News</a></li>
      </ul>
    </div>
  </div>
  
  </body>
</html>