---
layout: layouts/base.njk
templateClass: tmpl-pages
---
<div class="">
<div  class="w-full p-12 hero bg-primary">
  <div class="text-center hero-content ">
    <div class="max-w-xl mx-auto">
      <h1 class="mb-5 text-5xl font-bold">{{ title }}</h1> 
      <p class="mb-5">{{ description }}</p> 
    </div>
  </div>
</div>
<main class="max-w-screen-lg mx-4 mt-12 2xl:max-w-screen-xl lg:mx-auto">
    {{ content | safe }}
</main>
</div>