---
layout: layouts/base.njk
---

<div class="bg-base-300">
  <div class="max-w-screen-xl px-4 xl:px-0 flex flex-col mx-auto py-24 text-center">  
        <a href="/docs/tutorials" class="btn btn-outline border-base-content/30 btn-sm no-underline	w-[160px] mx-auto mb-4 rounded-full">View all tutorials</a>
    <h1 class="text-5xl leading-[70px] font-bold ">Developing and Launching Your Own Bonfire Extension: A Step-by-Step Guide</h1>
    {# <h2 class="text-xl text-base-content mt-4 max-w-screen-sm">Bonfire is not a single app, but comes in many flavours.</h2> #}
  </div>
</div>
<div class="max-w-screen-lg px-4 xl:px-0 mx-auto my-12">

<div class="prose mt-4">This tutorial series delves into the essentials of developing a comprehensive Bonfire extension. Covering all necessary steps and design patterns, it guides you through creating new functionalities, including schema additions, migrations, feed implementation, pagination, and federation. If you're ready to begin coding with Bonfire, this series provides the perfect starting point for your journey. Let's dive in!</div>
{# <h1 class="text-4xl mt-12  font-bold text-base-content">Foundamentals</h1>  #}
    <div class="uppercase font-semibold tracking-widest mt-8">course content</div>
<div class="flex flex-col mt-4 border border-base-content/20 divide-y divide-base-content/20">
    {# <a href="/tutorials/useful_commands">
    <article class="w-full p-4  flex-col flex hover:bg-base-content/5 border rounded border-base-content/30">
        <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">tutorial</div>
        <div class="font-medium text-2xl mt-2 ">Useful commands when working with Bonfire</div>
        <div class="mt-24 flex place-content-end">
            <div class="w-24 h-24 flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
                <span class="text-4xl">◆</span>
            </div>
        </div>
    </article>
    </a> #}

 <a href="/tutorials/how_to_create_extension">
    <article class="w-full gap-4 group flex p-3">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">▚</span>
        </div>
        <div class="flex flex-col gap-2">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-bold group-hover:underline text-xl">Create a new Bonfire extension</div>         
        </div>
    </article>
</a>


<a href="/tutorials/how_to_fork_extension">
    <article class="w-full gap-4 group flex p-3">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">▖</span>
        </div>
        <div class="flex flex-col gap-2">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-bold group-hover:underline text-xl">Contribute to a Bonfire extensions</div>         
        </div>
    </article>

</a>


    <article class="w-full gap-4  flex p-3 opacity-60">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">▌</span>
        </div>
        <div class="flex gap-2 items-center">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-semibold text-xl">Database: Work with Mixins and Pointers</div>   
            <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">Soon</div>
        </div>
    </article>

      <article class="w-full gap-4  flex p-3 opacity-60">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">▐</span>
        </div>
        <div class="flex gap-2 items-center">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-semibold text-xl">Use boundaries and permissions</div>   
            <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">Soon</div>
        </div>
    </article>



    <article class="w-full gap-4  flex p-3 opacity-60">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">◤</span>
        </div>
        <div class="flex gap-2 items-center">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-semibold text-xl">Create a new settings option in your extension</div>   
            <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">Soon</div>
        </div>
    </article>


<article class="w-full gap-4  flex p-3 opacity-60">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">▜</span>
        </div>
        <div class="flex gap-2 items-center">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-semibold text-xl">Create the user interface</div>   
            <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">Soon</div>
        </div>
    </article>


<article class="w-full gap-4  flex p-3 opacity-60">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">▱</span>
        </div>
        <div class="flex gap-2 items-center">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-semibold text-xl">Publish new activities with the Composer</div>   
            <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">Soon</div>
        </div>
    </article>


<article class="w-full gap-4  flex p-3 opacity-60">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">▦</span>
        </div>
        <div class="flex gap-2 items-center">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-semibold text-xl">Work with feeds and pagination</div>   
            <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">Soon</div>
        </div>
    </article>


<article class="w-full gap-4  flex p-3 opacity-60">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">◠</span>
        </div>
        <div class="flex gap-2 items-center">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-semibold text-xl">Create your own activity preview</div>   
            <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">Soon</div>
        </div>
    </article>

    <article class="w-full gap-4  flex p-3 opacity-60">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">░</span>
        </div>
        <div class="flex gap-2 items-center">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-semibold text-xl">Include federation in your extension</div>   
            <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">Soon</div>
        </div>
    </article>


    <article class="w-full gap-4  flex p-3 opacity-60">
        <div class="w-8 h-8 no-shrink flex items-center place-content-center rounded bg-gradient-to-r from-[#ef709b] to-[#fa9372]">
            <span class="text-xl">░</span>
        </div>
        <div class="flex gap-2 items-center">
            {# <div class="badge badge-outline badge-info border-info/30 text-xs uppercase">tutorial</div> #}
            <div class="font-semibold text-xl">Test! Test! Test!</div>   
            <div class="badge badge-outline badge-accent border-accent/30 text-xs uppercase">Soon</div>
        </div>
    </article>



</div>
</div>